Repository gaphor/gaphor, pull requests merged in 2020-07, with the labels that each got.

#355 CSS selectors
  examples/block.gaphor
  gaphor/UML/classes/association.py
  gaphor/core/modeling/presentation.py
  gaphor/core/styling/__init__.py
  gaphor/core/styling/declarations.py
  gaphor/core/styling/parser.py
  gaphor/core/styling/selectors.py
  gaphor/core/styling/tests/__init__.py
  gaphor/core/styling/tests/test_css.py
  gaphor/core/styling/tests/test_selector.py
  gaphor/diagram/general/simpleitem.py
  gaphor/diagram/presentation.py
  gaphor/diagram/tests/test_style.py
  poetry.lock
  pyproject.toml
Labels: feature

#357 Remove Unused Imports
  .flake8
  gaphor/SysML/blocks/block.py
  gaphor/SysML/blocks/connectors.py
  gaphor/SysML/blocks/proxyport.py
  gaphor/SysML/modelinglanguage.py
  gaphor/SysML/requirements/connectors.py
  gaphor/SysML/requirements/requirement.py
  gaphor/SysML/tests/fixtures.py
  gaphor/UML/classes/association.py
  gaphor/UML/classes/tests/test_interfaceconnect.py
  gaphor/UML/components/artifact.py
  gaphor/UML/iconname.py
  gaphor/UML/interactions/tests/test_executionspecification.py
  gaphor/UML/umloverrides.py
  gaphor/codegen/tests/test_profile_coder.py
  gaphor/core/eventmanager.py
  gaphor/core/modeling/elementdispatcher.py
  gaphor/core/modeling/listmixins.py
  gaphor/core/modeling/presentation.py
  gaphor/core/styling/tests/test_css.py
  gaphor/diagram/diagramtoolbox.py
  gaphor/diagram/general/simpleitem.py
  gaphor/diagram/presentation.py
  gaphor/diagram/propertypages.py
  gaphor/diagram/shapes.py
  gaphor/diagram/tests/test_presentation.py
  gaphor/diagram/tests/test_style.py
  gaphor/ui/elementeditor.py
  gaphor/ui/namespace.py
  tests/test_undo.py
Labels: chore

#362 Polish Style Sheet Documentation
  docs/style_sheets.md
Labels: chore

#366 Add Vagrant File for Arch Linux
  .gitignore
  images/vagrant-arch/Vagrantfile
Labels: chore

#363 Part connector
  examples/component.gaphor
  gaphor/SysML/blocks/__init__.py
  gaphor/SysML/blocks/block.py
  gaphor/SysML/blocks/connectors.py
  gaphor/SysML/blocks/grouping.py
  gaphor/SysML/blocks/proxyport.py
  gaphor/SysML/blocks/tests/test_connectors.py
  gaphor/SysML/modelinglanguage.py
  gaphor/SysML/propertypages.glade
  gaphor/SysML/propertypages.py
  gaphor/SysML/toolbox.py
  gaphor/UML/classes/association.py
  gaphor/UML/classes/classconnect.py
  gaphor/UML/components/connectorconnect.py
  gaphor/UML/modelfactory.py
  gaphor/UML/toolbox.py
  gaphor/diagram/diagramtools.py
  gaphor/diagram/shapes.py
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-block-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-composite-association-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-derive-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-extend-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-import-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-include-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-property-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-proxyport-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-refine-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-requirement-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-satisfy-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-shared-association-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-trace-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-verify-symbolic.svg
  gaphor/ui/icons/stensil.svg
Labels: feature

#368 Enable Flake8 rules
  .flake8
  gaphor/services/undomanager.py
Labels: chore

#371 Render property item with type and multiplicity
  gaphor/SysML/blocks/grouping.py
  gaphor/SysML/blocks/property.py
Labels: feature

#367 Prepare to Release Version 2.0.0
  NEWS
  pyproject.toml
Labels: chore

#375 Fix Windows Packaging Fails for Missing Files
  win-installer/gaphor.spec
  win-installer/hooks/hook-tinycss2.py
Labels: bug

#377 Fix tree cell rendering
  gaphor/diagram/shapes.py
  gaphor/diagram/text.py
  gaphor/ui/namespace.py
Labels: bug

#382 Trigger updates on name and stereotype change
  gaphor/UML/actions/partition.py
Labels: fix

#383 Clear clipboard when diagram items are copied
  gaphor/services/copyservice.py
Labels: feature
