Repository gaphor/gaphor, pull requests merged in 2020-09, with the labels that each got.

#424 Fix PyInstaller Packaging Issues
  win-installer/gaphor.spec
  win-installer/hooks/__init__.py
  win-installer/hooks/hook-gi.repository.HarfBuzz.py
  win-installer/hooks/hook-tinycss2.py
  win-installer/hooks/pre_safe_import_module/__init__.py
  win-installer/hooks/pre_safe_import_module/hook-gi.repository.HarfBuzz.py
Labels: bug

#431 Cleanup session lifecycle
  gaphor/application.py
  gaphor/event.py
  gaphor/ui/__init__.py
  gaphor/ui/appfilemanager.py
  gaphor/ui/filemanager.py
  gaphor/ui/macosshim.py
  gaphor/ui/tests/test_lifecycle.py
  pyproject.toml
Labels: chore

#435 Move Diagrams component to it's own module
  gaphor/ui/diagrams.py
  gaphor/ui/mainwindow.py
  gaphor/ui/tests/test_diagrampage.py
  gaphor/ui/tests/test_handletool.py
  pyproject.toml
Labels: chore

#419 Show all elements in tree view
  examples/all-elements.gaphor
  gaphor/SysML/blocks/block.py
  gaphor/SysML/blocks/property.py
  gaphor/SysML/requirements/relationships.py
  gaphor/SysML/sysml.py
  gaphor/UML/__init__.py
  gaphor/UML/classes/association.py
  gaphor/UML/classes/classeseditors.py
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/klass.py
  gaphor/UML/classes/stereotype.py
  gaphor/UML/classes/tests/test_copypaste.py
  gaphor/UML/states/propertypages.py
  gaphor/UML/tests/test_uml2.py
  gaphor/UML/tests/test_umlfmt.py
  gaphor/UML/tests/test_umllex.py
  gaphor/UML/uml.py
  gaphor/UML/umlfmt.py
  gaphor/UML/umllex.py
  gaphor/UML/umloverrides.py
  gaphor/UML/usecases/extend.py
  gaphor/UML/usecases/include.py
  gaphor/codegen/uml_coder.py
  gaphor/core/format.py
  gaphor/core/modeling/coremodel.py
  gaphor/core/modeling/element.py
  gaphor/core/modeling/elementfactory.py
  gaphor/core/modeling/properties.py
  gaphor/diagram/general/tests/test_comment.py
  gaphor/storage/parser.py
  gaphor/storage/storage.py
  gaphor/storage/tests/test_storage_uml_2_5_upgrade.py
  gaphor/storage/tests/test_verify.py
  gaphor/ui/diagrampage.py
  gaphor/ui/namespace.py
  gaphor/ui/tests/test_namespace.py
  models/Core.gaphor
  models/Core.override
  models/SysML.gaphor
  models/UML.gaphor
  models/UML.override
  tests/test_elements_have_owner.py
  tests/test_unioncache_in_derived_response.py
Labels: feature

#443 Split namespace
  gaphor/ui/namespace.py
  gaphor/ui/namespacemodel.py
  gaphor/ui/namespaceview.py
  gaphor/ui/tests/test_namespacemodel.py
Labels: chore

#444 Shorten timeout during build stages
  .github/workflows/build.yml
Labels: chore

#446 Update pre-commit hook versions
  .pre-commit-config.yaml
  gaphor/SysML/blocks/block.py
  gaphor/SysML/blocks/connectors.py
  gaphor/SysML/blocks/property.py
  gaphor/SysML/tests/test_diagramitems.py
  gaphor/SysML/toolbox.py
  gaphor/UML/actions/action.py
  gaphor/UML/actions/activitynodes.py
  gaphor/UML/actions/flow.py
  gaphor/UML/actions/objectnode.py
  gaphor/UML/classes/association.py
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/generalization.py
  gaphor/UML/classes/implementation.py
  gaphor/UML/classes/interface.py
  gaphor/UML/components/artifact.py
  gaphor/UML/components/component.py
  gaphor/UML/components/connector.py
  gaphor/UML/interactions/lifeline.py
  gaphor/UML/interactions/message.py
  gaphor/UML/profiles/extension.py
  gaphor/UML/states/finalstate.py
  gaphor/UML/states/pseudostates.py
  gaphor/UML/states/state.py
  gaphor/UML/states/transition.py
  gaphor/UML/tests/test_diagramitems.py
  gaphor/UML/toolbox.py
  gaphor/UML/usecases/actor.py
  gaphor/UML/usecases/usecase.py
  gaphor/codegen/profile_coder.py
  gaphor/codegen/uml_coder.py
  gaphor/codegen/writer.py
  gaphor/core/modeling/coremodel.py
  gaphor/core/modeling/properties.py
  gaphor/core/styling/tests/test_selector.py
  gaphor/diagram/connectors.py
  gaphor/diagram/presentation.py
  gaphor/diagram/shapes.py
  gaphor/diagram/tests/test_shapes.py
  gaphor/diagram/text.py
  gaphor/services/copyservice.py
  gaphor/services/undomanager.py
  gaphor/ui/__init__.py
  gaphor/ui/diagrampage.py
  pyproject.toml
Labels: chore, skip-changelog

#447 Ownership for interactions
  gaphor/UML/interactions/executionspecification.py
  gaphor/UML/interactions/interactionsconnect.py
  gaphor/UML/interactions/interactionsgrouping.py
  gaphor/UML/interactions/tests/test_message.py
  gaphor/UML/interactions/tests/test_messageconnect.py
  gaphor/UML/tests/test_interactions.py
  gaphor/UML/toolbox.py
  gaphor/diagram/diagramtools.py
  gaphor/ui/icons/Makefile
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-behavior-execution-specification-symbolic.svg
  gaphor/ui/icons/stensil.svg
Labels: feature

#449 Fix is directory error with importlib resources in Python 3.9
  gaphor/ui/__init__.py
Labels: chore

#454 Fix shell syntax issues and enable shellcheck pre-commit
  .github/scripts/metadata.sh
  .pre-commit-config.yaml
  docs/modeldoc.sh
  macos-dmg/package.sh
  macos-dmg/validate.sh
  venv
  win-installer/build-installer.sh
  win-installer/msys2-install.sh
Labels: chore

#463 Fix copy/paste for Transition
  gaphor/UML/states/copypaste.py
  gaphor/UML/states/tests/test_copypaste.py
Labels: bug, fix

#465 Update diagram when moved
  gaphor/UML/sanitizerservice.py
  gaphor/UML/tests/test_sanitizerservice.py
Labels: bug

#466 Use a global copy buffer
  gaphor/services/copyservice.py
  gaphor/services/tests/test_copyservice.py
Labels: feature
