Repository gaphor/gaphor, pull requests merged in 2020-05, with the labels that each got.

#311 Stereotypes for association ends
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/profiles/stereotypepropertypages.py
  gaphor/UML/profiles/tests/test_stereotypepage.py
  gaphor/diagram/propertypages.glade
Labels: bug

#314 Update version for Flake8 and MyPy
  .github/workflows/build.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  win-installer/misc/depcheck.py
Labels: chore

#313 Fix macOS Python version problem
  .github/workflows/build.yml
  gaphor/ui/tests/test_gidlethread.py
Labels: chore

#312 Use custom icon when placing icon on the diagram
  gaphor/diagram/diagramtools.py
  gaphor/ui/diagrampage.py
  gaphor/ui/placement-icon-base.png
Labels: feature

#309 Extra diagram item tests
  examples/all-elements.gaphor
  gaphor/SysML/toolbox.py
  gaphor/UML/actions/activitynodes.py
  gaphor/UML/actions/flow.py
  gaphor/UML/classes/__init__.py
  gaphor/UML/classes/copypaste.py
  gaphor/UML/classes/dependency.py
  gaphor/UML/classes/implementation.py
  gaphor/UML/classes/tests/conftest.py
  gaphor/UML/classes/tests/test_copypaste.py
  gaphor/UML/components/__init__.py
  gaphor/UML/components/connectorconnect.py
  gaphor/UML/components/copypaste.py
  gaphor/UML/components/tests/conftest.py
  gaphor/UML/components/tests/test_copypaste.py
  gaphor/UML/interactions/__init__.py
  gaphor/UML/interactions/copypaste.py
  gaphor/UML/interactions/executionspecification.py
  gaphor/UML/interactions/interactionsconnect.py
  gaphor/UML/interactions/message.py
  gaphor/UML/interactions/tests/test_copypaste.py
  gaphor/UML/interactions/tests/test_executionspecification.py
  gaphor/UML/states/__init__.py
  gaphor/UML/states/copypaste.py
  gaphor/UML/states/pseudostates.py
  gaphor/UML/states/tests/conftest.py
  gaphor/UML/states/tests/test_copypaste.py
  gaphor/UML/states/tests/test_pseudostates.py
  gaphor/UML/states/tests/test_transition_connect.py
  gaphor/UML/states/vertexconnect.py
  gaphor/UML/tests/test_diagramitems.py
  gaphor/UML/toolbox.py
  gaphor/UML/uml.py
  gaphor/UML/umlfmt.py
  gaphor/UML/umllex.py
  gaphor/codegen/autocoder.py
  gaphor/codegen/tests/test_autocoder.py
  gaphor/core/modeling/collection.py
  gaphor/core/modeling/coremodel.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/elementfactory.py
  gaphor/core/modeling/listmixins.py
  gaphor/core/modeling/presentation.py
  gaphor/core/modeling/properties.py
  gaphor/core/modeling/tests/test_properties.py
  gaphor/diagram/copypaste.py
  gaphor/diagram/general/simpleitem.py
  gaphor/diagram/presentation.py
  gaphor/diagram/support.py
  gaphor/diagram/tests/fixtures.py
  gaphor/diagram/tests/test_copypaste.py
  gaphor/diagram/tests/test_presentation.py
  gaphor/diagram/text.py
  gaphor/services/copyservice.py
  gaphor/services/tests/test_copyservice.py
  gaphor/storage/storage.py
  gaphor/storage/verify.py
  gaphor/ui/diagrampage.py
  models/UML.gaphor
  pyproject.toml
Labels: chore

#316 Fix installation on Windows
  .gitignore
  gaphor/plugins/console/console.py
  win-installer/build-installer.sh
  win-installer/gaphor-script.py
  win-installer/gaphor.spec
  win-installer/make-script.py
Labels: chore

#321 Fix Windows Build Errors caused by Missing ZST Archives
  .github/workflows/build.yml
Labels: chore

#322 Enable Text Wrapping for Requirement Name
  gaphor/SysML/requirements/requirement.py
  gaphor/diagram/shapes.py
  gaphor/diagram/text.py
Labels: feature

#330 Parts and references
  gaphor/SysML/blocks/block.py
  gaphor/SysML/propertypages.glade
  gaphor/SysML/propertypages.py
  gaphor/SysML/requirements/requirement.py
  gaphor/UML/classes/klass.py
  gaphor/UML/modelfactory.py
  gaphor/UML/tests/test_modelfactory.py
  gaphor/UML/tests/test_umlfmt.py
  gaphor/UML/umlfmt.py
Labels: feature

#331 Update gif file in Gaphor
  docs/images/gaphor-demo.gif
Labels: chore
