Repository gaphor/gaphor, pull requests merged in 2020-12, with the labels that each got.

#530 Fix copy paste
  gaphor/services/copyservice.py
Labels: bug

#532 Fix test discovery issue in VSCode
  gaphor/ui/diagrampage.py
  gaphor/ui/tests/test_diagrampage.py
Labels: chore

#535 Remove PyInstaller hooks fixed upstream
  win-installer/hooks/__init__.py
  win-installer/hooks/hook-gi.repository.HarfBuzz.py
  win-installer/hooks/hook-tinycss2.py
  win-installer/hooks/pre_safe_import_module/__init__.py
  win-installer/hooks/pre_safe_import_module/hook-gi.repository.HarfBuzz.py
Labels: chore

#538 Add release checklist
  RELEASE_CHECKLIST.md
Labels: chore

#524 app icon: new diagram metaphor
  README.md
  gaphor/services/helpservice/org.gaphor.Gaphor.svg
  logos/gaphor-24x24.png
  logos/gaphor-256x256.png
  logos/gaphor-48x48.png
  logos/gaphor-96x96.png
  logos/org.gaphor.Gaphor-symbolic.svg
  logos/org.gaphor.Gaphor.Devel.svg
  logos/org.gaphor.Gaphor.Source.svg
  logos/org.gaphor.Gaphor.svg
  win-installer/misc/gaphor.ico
Labels: feature

#553 Eradicate commented out code
  .flake8
  .pre-commit-config.yaml
  gaphor/UML/actions/activitynodes.py
  gaphor/UML/actions/flowconnect.py
  gaphor/UML/classes/association.py
  gaphor/UML/classes/tests/test_class.py
  gaphor/UML/classes/tests/test_classconnect.py
  gaphor/UML/classes/tests/test_interface.py
  gaphor/UML/components/tests/test_connect.py
  gaphor/UML/umlfmt.py
  gaphor/UML/umllex.py
  gaphor/UML/umloverrides.py
  gaphor/codegen/uml_coder.py
  gaphor/codegen/writer.py
  gaphor/core/modeling/elementdispatcher.py
  gaphor/core/modeling/tests/test_elementdispatcher.py
  gaphor/core/modeling/tests/test_properties.py
  gaphor/core/styling/parser.py
  gaphor/diagram/general/tests/test_comment.py
  gaphor/diagram/propertypages.py
  gaphor/services/tests/test_undomanager.py
  gaphor/storage/storage.py
  gaphor/storage/tests/test_storage.py
  tests/test_load_model.py
Labels: chore

#439 Slowly move towards event controllers
  gaphor/diagram/diagramtools/__init__.py
  gaphor/diagram/diagramtools/shortcut.py
  gaphor/ui/diagrampage.py
  gaphor/ui/namespace.py
  poetry.lock
Labels: chore

#557 Gray out unconnectable elements
  gaphor/diagram/diagramtools/__init__.py
  gaphor/diagram/diagramtools/grayout.py
  gaphor/diagram/painter.py
  gaphor/diagram/selection.py
Labels: feature

#572 Presentation requires diagram
  gaphor/SysML/blocks/block.py
  gaphor/SysML/blocks/property.py
  gaphor/SysML/blocks/proxyport.py
  gaphor/SysML/blocks/tests/test_proxy_port.py
  gaphor/SysML/requirements/relationships.py
  gaphor/SysML/requirements/requirement.py
  gaphor/UML/actions/action.py
  gaphor/UML/actions/activitynodes.py
  gaphor/UML/actions/flow.py
  gaphor/UML/actions/objectnode.py
  gaphor/UML/actions/partition.py
  gaphor/UML/classes/association.py
  gaphor/UML/classes/dependency.py
  gaphor/UML/classes/generalization.py
  gaphor/UML/classes/implementation.py
  gaphor/UML/classes/interface.py
  gaphor/UML/classes/klass.py
  gaphor/UML/classes/package.py
  gaphor/UML/components/artifact.py
  gaphor/UML/components/component.py
  gaphor/UML/components/connector.py
  gaphor/UML/components/node.py
  gaphor/UML/interactions/executionspecification.py
  gaphor/UML/interactions/interaction.py
  gaphor/UML/interactions/lifeline.py
  gaphor/UML/interactions/message.py
  gaphor/UML/profiles/extension.py
  gaphor/UML/profiles/packageimport.py
  gaphor/UML/states/finalstate.py
  gaphor/UML/states/pseudostates.py
  gaphor/UML/states/state.py
  gaphor/UML/states/transition.py
  gaphor/UML/usecases/actor.py
  gaphor/UML/usecases/extend.py
  gaphor/UML/usecases/include.py
  gaphor/UML/usecases/usecase.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/presentation.py
  gaphor/core/modeling/tests/test_diagram.py
  gaphor/core/modeling/tests/test_diagram_style.py
  gaphor/core/modeling/tests/test_presentation.py
  gaphor/diagram/diagramtools/dropzone.py
  gaphor/diagram/general/comment.py
  gaphor/diagram/general/commentline.py
  gaphor/diagram/general/simpleitem.py
  gaphor/diagram/presentation.py
  gaphor/diagram/tests/test_presentation.py
  models/Core.gaphor
Labels: chore

#579 Fix misspelled words in docs
  docs/modeling_language.md
  docs/style_sheets.md
  gaphor/UML/usecases/actor.py
  gaphor/diagram/text.py
  gaphor/ui/elementeditor.glade
  win-installer/misc/win_installer.nsi
Labels: chore

#583 Create style sheet on load and on new model
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/stylesheet.py
  gaphor/core/modeling/tests/test_diagram.py
  gaphor/core/modeling/tests/test_diagram_style.py
  gaphor/storage/storage.py
  gaphor/storage/tests/test_storage.py
  gaphor/storage/tests/test_storage_uml_2_5_upgrade.py
  gaphor/ui/appfilemanager.py
  gaphor/ui/tests/test_diagrampage.py
Labels: fix

#582 Everything transactional
  gaphor/UML/classes/tests/conftest.py
  gaphor/core/modeling/properties.py
  gaphor/diagram/general/tests/conftest.py
  gaphor/diagram/general/tests/test_comment.py
  gaphor/diagram/tests/fixtures.py
  gaphor/services/tests/conftest.py
  gaphor/services/tests/test_copyservice.py
  gaphor/services/tests/test_undomanager.py
  gaphor/services/undomanager.py
  gaphor/ui/mainwindow.py
  tests/test_issue_gaphas.py
  tests/test_multiple_associations.py
  tests/test_package_removal.py
  tests/test_undo.py
  tests/test_unioncache_in_derived_response.py
Labels: chore
