Repository gaphor/gaphor, pull requests merged in 2020-08, with the labels that each got.

#392 Update to pytest 6.0
  .coveragerc
  gaphor/UML/states/pseudostates.py
  poetry.lock
  pyproject.toml
  pytest.ini
  win-installer/hooks/hook-tinycss2.py
  win-installer/msys2-install.sh
Labels: chore

#394 Mac startup binary
  .github/workflows/build.yml
  gaphor/application.py
  gaphor/ui/__init__.py
  gaphor/ui/macosshim.py
  macos-dmg/Info.plist
  macos-dmg/__boot__.py
  macos-dmg/gaphor
  macos-dmg/main.c
  macos-dmg/package.sh
Labels: chore

#391 Implement some simplifications in the data model
  gaphor/SysML/sysml.py
  gaphor/UML/uml.py
  gaphor/UML/umloverrides.py
  gaphor/codegen/profile_coder.py
  gaphor/codegen/tests/test_uml_coder.py
  gaphor/codegen/writer.py
  gaphor/core/modeling/coremodel.py
  gaphor/core/modeling/properties.py
  gaphor/core/modeling/tests/test_properties.py
  gaphor/services/tests/test_undomanager.py
  models/Core.override
  models/UML.override
Labels: chore

#398 Fix UML composite and shared association
  gaphor/SysML/toolbox.py
  gaphor/UML/toolbox.py
Labels: chore

#397 Sign using certificate during CI build
  .github/workflows/build.yml
  .gitignore
  win-installer/build-installer.sh
Labels: feature

#410 Fix #408 where undo on diagram items breaks the model
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/elementfactory.py
  gaphor/core/modeling/event.py
  gaphor/core/modeling/presentation.py
  gaphor/services/undomanager.py
  tests/test_undo.py
Labels: bug

#421 Update pre-commit hook versions
  .pre-commit-config.yaml
Labels: chore

#423 Release version 2.0.1
  NEWS
  pyproject.toml
Labels: chore, skip-changelog
