Repository gaphor/gaphor, pull requests merged in 2020-10, with the labels that each got.

#476 Update poetry version
  poetry.lock
  pyproject.toml
  venv
Labels: chore, skip-changelog

#477 Fix MSYS2 timeout due to mirror down
  .github/workflows/build.yml
  win-installer/msys2-install.sh
Labels: chore

#462 Refactor toolboxes to reduce duplication
  gaphor/SysML/blocks/blockstoolbox.py
  gaphor/SysML/requirements/requirementstoolbox.py
  gaphor/SysML/toolbox.py
  gaphor/UML/actions/actionstoolbox.py
  gaphor/UML/classes/classestoolbox.py
  gaphor/UML/components/componentstoolbox.py
  gaphor/UML/interactions/interactionstoolbox.py
  gaphor/UML/profiles/profilestoolbox.py
  gaphor/UML/states/statestoolbox.py
  gaphor/UML/tests/test_diagrampage_tools.py
  gaphor/UML/toolbox.py
  gaphor/UML/usecases/usecasetoolbox.py
  gaphor/diagram/diagramtoolbox.py
Labels: chore

#475 Use msys2-setup GitHub Action for Windows Builds
  .github/workflows/build.yml
  win-installer/msys2-install.sh
Labels: chore

#469 Improve file load/save dialogs
  gaphor/plugins/diagramexport/__init__.py
  gaphor/plugins/xmiexport/__init__.py
  gaphor/ui/appfilemanager.py
  gaphor/ui/errorhandler.py
  gaphor/ui/filedialog.py
  gaphor/ui/filemanager.py
Labels: bug, feature

#495 Update CI build
  .github/scripts/metadata.sh
  .github/workflows/build.yml
  Makefile
  poetry.lock
  pyproject.toml
  venv
  win-installer/build-installer.sh
  win-installer/msys2-install.sh
  win-installer/msys2-test.sh
Labels: chore
