Repository gaphor/gaphor, pull requests merged in 2020-04, with the labels that each got.

#291 Fix loading file with errors
  gaphor/UML/collection.py
  gaphor/UML/properties.py
  gaphor/UML/tests/test_properties.py
  gaphor/misc/errorhandler.py
  gaphor/misc/gidlethread.py
  gaphor/ui/filemanager.py
Labels: bug

#294 Convert Some Profile Tests to Pytest
  gaphor/diagram/profiles/tests/conftest.py
  gaphor/diagram/profiles/tests/test_extensionconnect.py
  gaphor/diagram/profiles/tests/test_metaclasspropertypage.py
  gaphor/diagram/profiles/tests/test_stereotypepage.py
  gaphor/misc/tests/test_gidlethread.py
Labels: chore

#289 Remove CI workaround for console plugin
  .github/workflows/build.yml
  gaphor/plugins/console/console.py
Labels: chore

#296 Fix MSYS2 Package Names
  README.md
  docs/windows.md
  win-installer/msys2-install.sh
Labels: chore

#299 Move icons to hicolor/scalable/actions
  gaphor/ui/icons/Makefile
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-accept-event-action-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-action-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-activity-final-node-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-actor-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-artifact-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-association-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-box-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-class-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-comment-line-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-comment-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-component-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-connector-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-control-flow-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-decision-node-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-dependency-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-device-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-diagram-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-ellipse-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-execution-specification-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-extend-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-extension-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-final-state-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-flow-final-node-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-fork-node-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-generalization-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-implementation-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-include-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-initial-node-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-initial-pseudostate-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-interaction-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-interface-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-lifeline-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-line-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-message-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-metaclass-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-new-diagram-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-node-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-object-node-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-package-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-partition-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-pointer-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-profile-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-property-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-pseudostate-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-send-signal-action-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-state-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-stereotype-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-transition-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-use-case-symbolic.svg
  win-installer/gaphor.spec
Labels: bug

#297 Refactor Code Generator to New Module and add CLI
  Makefile
  gaphor/UML/__init__.py
  gaphor/UML/modelfactory.py
  gaphor/UML/tests/test_umlfmt.py
  gaphor/UML/uml.py
  gaphor/UML/umlfmt.py
  gaphor/UML/umllex.py
  gaphor/UML/umloverrides.py
  gaphor/codegen/__init__.py
  gaphor/codegen/autocoder.py
  gaphor/codegen/codegen.py
  gaphor/codegen/override.py
  gaphor/codegen/tests/test_autocoder.py
  gaphor/codegen/writer.py
  gaphor/core/modeling/collection.py
  gaphor/core/modeling/coremodel.py
  gaphor/core/modeling/elementfactory.py
  gaphor/storage/tests/test_storage.py
  gaphor/storage/tests/test_storage_message_item_upgrade.py
  models/UML.override
  models/test-models/action-issue.gaphor
  models/test-models/diagram-#4.gaphor
  models/test-models/issue_53.gaphor
  models/test-models/multiple-messages.gaphor
  models/test-models/old-gaphor-version.gaphor
  models/test-models/simple-items.gaphor
  models/test-models/test-model.gaphor
  tests/test_action_issue.py
  tests/test_issue_4.py
  tests/test_issue_53.py
  utils/model/__init__.py
  utils/model/build_core.py
  utils/model/build_uml.py
Labels: chore

#298 Add Package Import to Toolbar
  gaphor/diagram/diagramtoolbox_actions_uml.py
  gaphor/diagram/profiles/__init__.py
  gaphor/diagram/profiles/packageimport.py
  gaphor/diagram/profiles/packageimportconnect.py
  gaphor/diagram/profiles/tests/test_packageimportconnect.py
  gaphor/ui/icons/gaphor-import-symbolic.svg
Labels: feature

#302 Move Profile Models and Update Makefile
  Makefile
  gaphor/Safety/safety.py
  gaphor/SysML/sysml.py
  gaphor/codegen/tests/test_autocoder.py
  gaphor/codegen/writer.py
  gaphor/storage/tests/test_storage.py
  gaphor/storage/tests/test_storage_message_item_upgrade.py
  models/Safety.gaphor
  models/Safety.override
  models/SysML.gaphor
  models/SysML.override
  test-models/action-issue.gaphor
  test-models/diagram-#4.gaphor
  test-models/issue_53.gaphor
  test-models/multiple-messages.gaphor
  test-models/old-gaphor-version.gaphor
  test-models/simple-items.gaphor
  test-models/test-model.gaphor
  tests/test_action_issue.py
  tests/test_issue_4.py
  tests/test_issue_53.py
Labels: chore

#304 Change text alignment for node and component
  gaphor/UML/components/component.py
  gaphor/UML/components/node.py
  gaphor/UML/interactions/tests/test_executionspecification.py
  gaphor/diagram/diagramtools.py
  gaphor/diagram/shapes.py
Labels: feature
