Repository gaphor/gaphor, pull requests merged in 2021-12, with the labels that each got.

#1173 Add German translation file
  po/de.po
Labels: translation

#1170 New code generator
  gaphor/C4Model/c4model.py
  gaphor/RAAML/raaml.py
  gaphor/SysML/sysml.py
  gaphor/UML/actions/tests/test_actionspropertypages.py
  gaphor/UML/sanitizerservice.py
  gaphor/UML/uml.py
  gaphor/codegen/__init__.py
  gaphor/codegen/codegen.py
  gaphor/codegen/coder.py
  gaphor/codegen/profile_coder.py
  gaphor/codegen/tests/test_coder.py
  gaphor/codegen/tests/test_profile_coder.py
  gaphor/codegen/tests/test_uml_coder.py
  gaphor/codegen/uml_coder.py
  gaphor/codegen/writer.py
  gaphor/core/modeling/coremodel.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/element.py
  gaphor/core/modeling/presentation.py
  gaphor/core/modeling/properties.py
  gaphor/diagram/tests/fixtures.py
  gaphor/storage/tests/test_storage_message_item_upgrade.py
  gaphor/storage/upgrade_canvasitem.py
  models/C4Model.override
  models/Core.gaphor
  models/Core.override
  models/RAAML.gaphor
  models/RAAML.override
  models/SysML.gaphor
  models/SysML.override
  models/UML.gaphor
  models/UML.override
  mypy.ini
  pyproject.toml
  tests/test_models_up_to_date.py
Labels: feature

#1181 Core as a separate ModelingLanguage
  gaphor/C4Model/tests/conftest.py
  gaphor/SysML/blocks/tests/conftest.py
  gaphor/SysML/requirements/tests/conftest.py
  gaphor/SysML/tests/conftest.py
  gaphor/SysML/tests/fixtures.py
  gaphor/UML/actions/tests/test_activitynodes.py
  gaphor/UML/classes/containmentconnect.py
  gaphor/UML/classes/tests/test_class.py
  gaphor/UML/classes/tests/test_classconnect.py
  gaphor/UML/classes/tests/test_generalizationconnect.py
  gaphor/UML/interactions/tests/test_message.py
  gaphor/UML/tests/test_sanitizerservice.py
  gaphor/UML/tests/test_uml2.py
  gaphor/UML/uml.py
  gaphor/codegen/coder.py
  gaphor/codegen/tests/test_coder.py
  gaphor/conftest.py
  gaphor/core/modeling/elementdispatcher.py
  gaphor/core/modeling/modelinglanguage.py
  gaphor/core/modeling/tests/test_modelinglanguage.py
  gaphor/diagram/diagramtoolbox.py
  gaphor/diagram/general/tests/test_generalpropertypages.py
  gaphor/diagram/tests/fixtures.py
  gaphor/services/modelinglanguage.py
  gaphor/services/tests/test_copyservice.py
  gaphor/services/tests/test_modelinglanguage.py
  gaphor/services/tests/test_undo_diagram.py
  gaphor/storage/tests/conftest.py
  gaphor/storage/tests/test_storage.py
  gaphor/storage/tests/test_storage_message_item_upgrade.py
  gaphor/storage/tests/test_verify.py
  gaphor/ui/filemanager.py
  gaphor/ui/namespacemodel.py
  gaphor/ui/tests/test_diagrampage.py
  gaphor/ui/tests/test_handletool.py
  gaphor/ui/tests/test_toolbox.py
  models/UML.override
  pyproject.toml
  tests/test_action_issue.py
  tests/test_comment_line_placement.py
  tests/test_elements_have_owner.py
  tests/test_multiple_associations.py
  tests/test_package_removal.py
  tests/test_placement_tools.py
  tests/test_unioncache_in_derived_response.py
Labels: chore

#1186 Empty square bracket notation
  gaphor/UML/tests/test_umllex.py
  gaphor/UML/umllex.py
Labels: feature

#1192 Support SysML Item flow
  gaphor/RAAML/raaml.py
  gaphor/SysML/propertypages.glade
  gaphor/SysML/propertypages.py
  gaphor/SysML/propertypages.ui
  gaphor/SysML/sysml.py
  gaphor/SysML/tests/test_propertypages.py
  gaphor/UML/components/componentspropertypage.py
  gaphor/UML/components/connector.py
  gaphor/UML/components/propertypages.glade
  gaphor/UML/components/propertypages.ui
  gaphor/UML/components/tests/test_copypaste.py
  gaphor/UML/components/tests/test_propertypages.py
  gaphor/codegen/coder.py
  models/SysML.gaphor
Labels: feature

#1205 Spanish, Croatian, and Finnish translation updates
  po/es.po
  po/fi.po
  po/hr.po
Labels: translation

#1202 Invert association creation
  gaphor/UML/classes/classestoolbox.py
Labels: chore

#1203 Grow item when an item is dropped on it
  gaphor/diagram/grouping.py
  gaphor/diagram/tools/dropzone.py
  gaphor/diagram/tools/placement.py
  gaphor/diagram/tools/tests/test_dropzone.py
Labels: feature

#1215 Store toolbox settings per modeling language
  gaphor/services/modelinglanguage.py
  gaphor/ui/mainwindow.py
  gaphor/ui/tests/test_toolbox.py
  gaphor/ui/toolbox.py
Labels: feature

#1218 Croatian translation updates
  po/hr.po
Labels: translation

#1207 Notification when model elements are automatically removed
  gaphor/UML/sanitizerservice.py
  gaphor/event.py
  gaphor/ui/diagrampage.py
  gaphor/ui/elementeditor.glade
  gaphor/ui/elementeditor.py
  gaphor/ui/elementeditor.ui
  gaphor/ui/event.py
  gaphor/ui/namespace.py
  gaphor/ui/namespacemodel.py
  gaphor/ui/notification.py
  gaphor/ui/tests/test_notifier.py
Labels: feature

#1208 A Magnet-tool
  gaphor/diagram/diagramtoolbox.py
  gaphor/diagram/tools/__init__.py
  gaphor/diagram/tools/magnet.py
  gaphor/ui/diagrampage.py
  gaphor/ui/icons/Makefile
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-magnet-symbolic.svg
  gaphor/ui/icons/stensil.svg
  gaphor/ui/toolbox.py
Labels: feature

#1214 Allow allocation of structural types to swimlane partitions
  gaphor/UML/actions/partition.py
  gaphor/UML/actions/partitionpage.py
  gaphor/UML/actions/propertypages.glade
  gaphor/UML/actions/tests/test_partitionpage.py
  gaphor/diagram/text.py
Labels: feature

#1225 Set a minimal height for compartments
  gaphor/SysML/blocks/block.py
  gaphor/SysML/requirements/requirement.py
  gaphor/UML/classes/enumeration.py
  gaphor/UML/classes/klass.py
  gaphor/UML/classes/stereotype.py
Labels: bug

#1226 Fix model element ownership
  gaphor/SysML/blocks/connectors.py
  gaphor/SysML/sysml.py
  gaphor/UML/uml.py
  gaphor/codegen/coder.py
  gaphor/ui/icons/Makefile
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-item-flow-symbolic.svg
  gaphor/ui/icons/stensil.svg
  models/SysML.gaphor
  models/UML.gaphor
Labels: bug

#1230 Improve the welcoming experience
  gaphor/application.py
  gaphor/ui/__init__.py
  gaphor/ui/appfilemanager.py
  gaphor/ui/greeter-recent-file.glade
  gaphor/ui/greeter-recent-file.ui
  gaphor/ui/greeter.glade
  gaphor/ui/greeter.py
  gaphor/ui/greeter.ui
  gaphor/ui/mainwindow.glade
  gaphor/ui/mainwindow.py
  gaphor/ui/recentfiles.py
  gaphor/ui/styling.css
  gaphor/ui/styling.py
  gaphor/ui/tests/test_greeter.py
  gaphor/ui/tests/test_recentfiles.py
  pyproject.toml
Labels: feature

#1216 Diagram types
  gaphor/C4Model/modelinglanguage.py
  gaphor/C4Model/toolbox.py
  gaphor/RAAML/modelinglanguage.py
  gaphor/RAAML/toolbox.py
  gaphor/SysML/modelinglanguage.py
  gaphor/SysML/toolbox.py
  gaphor/UML/modelinglanguage.py
  gaphor/UML/toolbox.py
  gaphor/abc.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/modelinglanguage.py
  gaphor/diagram/diagramtoolbox.py
  gaphor/diagram/export.py
  gaphor/diagram/painter.py
  gaphor/services/modelinglanguage.py
  gaphor/ui/diagrampage.py
  gaphor/ui/diagrams.py
  gaphor/ui/event.py
  gaphor/ui/mainwindow.glade
  gaphor/ui/mainwindow.py
  gaphor/ui/mainwindow.ui
  gaphor/ui/namespace.py
  gaphor/ui/tests/test_namespace.py
  gaphor/ui/tests/test_toolbox.py
  gaphor/ui/toolbox.py
  models/Core.gaphor
Labels: feature

#1234 Start a new model from a template
  gaphor/application.py
  gaphor/babel.py
  gaphor/event.py
  gaphor/services/properties.py
  gaphor/storage/tests/test_parser.py
  gaphor/templates/blank.gaphor
  gaphor/templates/c4model.gaphor
  gaphor/templates/sysml.gaphor
  gaphor/tests/test_application.py
  gaphor/tests/test_babel.py
  gaphor/ui/__init__.py
  gaphor/ui/filemanager.py
  gaphor/ui/greeter-model-template.glade
  gaphor/ui/greeter-model-template.ui
  gaphor/ui/greeter.glade
  gaphor/ui/greeter.py
  gaphor/ui/greeter.ui
  gaphor/ui/icons/hicolor/scalable/emblems/SysML.svg
  gaphor/ui/icons/hicolor/scalable/emblems/UML.svg
  gaphor/ui/mainwindow.py
  gaphor/ui/statuswindow.py
  gaphor/ui/styling-gtk3.css
  gaphor/ui/styling-gtk4.css
  gaphor/ui/styling.css
  gaphor/ui/styling.py
  gaphor/ui/tests/test_greeter.py
  po/babel.ini
  pyproject.toml
Labels: feature

#1237 Clean up Toolbox
  gaphor/ui/flowbox.py
  gaphor/ui/greeter.py
  gaphor/ui/styling.css
  gaphor/ui/tests/conftest.py
  gaphor/ui/toolbox.py
Labels: chore

#1242 Improve clarity of syntax for attributes and operations using a popover
  gaphor/C4Model/propertypages.glade
  gaphor/SysML/propertypages.glade
  gaphor/UML/classes/associationpropertypages.py
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/enumerationpropertypages.py
  gaphor/UML/classes/propertypages.glade
  gaphor/UML/profiles/propertypages.glade
  gaphor/diagram/hoversupport.py
  gaphor/diagram/propertypages.glade
  gaphor/ui/greeter.py
  gaphor/ui/styling.css
  gaphor/ui/toolbox.py
Labels: chore

#1228 Fix AppImage GLIBC Error on Older Distro Versions
  .github/workflows/appimage-docker.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/full-build.yml
  _packaging/appimage/Dockerfile
  _packaging/appimage/jhbuildrc
  _packaging/gaphor.spec
  pyproject.toml
Labels: packaging

#1244 Fix FileNotFoundError when running packaged app
  _packaging/gaphor.spec
Labels: bug
