Repository gaphor/gaphor, pull requests merged in 2021-08, with the labels that each got.

#913 Improve zoom and pan for mouse
  gaphor/diagram/diagramtools/__init__.py
  gaphor/ui/diagrams.py
  poetry.lock
Labels: feature

#907 Add information flows to UML model
  gaphor/UML/uml.py
  models/UML.gaphor
Labels: feature

#931 Fix typo in UML.gaphor
  models/UML.gaphor
Labels: chore

#925 Rebuild translation portable objects
  po/ca.po
  po/es.po
  po/fr.po
  po/gaphor.pot
  po/hr.po
  po/it.po
  po/nl.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
Labels: chore

#912 Convert CI from mingw to gvsbuild
  .github/workflows/build.yml
  Makefile
  docs/linux.md
  docs/macos.md
  docs/windows.md
  packaging/Makefile
  packaging/README.md
  packaging/__init__.py
  packaging/gaphor.spec
  packaging/make-script.py
  packaging/windows/build-win-installer.py
  packaging/windows/file_version_info.txt.in
  packaging/windows/versionfile_metadata.yml
  po/build-babel.py
  poetry.lock
  pyproject.toml
Labels: chore

#948 Translations from UI files
  po/babel.ini
  po/ca.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/hr.po
  po/hu.po
  po/it.po
  po/nl.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
Labels: translation

#950 Update the README on How to Translate the Flatpak String
  README.md
Labels: translation
