Repository gaphor/gaphor, pull requests merged in 2021-02, with the labels that each got.

#624 Define Gtk version once, at the top of the package
  gaphor/__init__.py
  gaphor/diagram/__init__.py
  gaphor/diagram/text.py
  gaphor/ui/__init__.py
  gaphor/ui/actiongroup.py
Labels: chore

#636 Order undo events
  gaphor/UML/sanitizerservice.py
  gaphor/core/modeling/element.py
  gaphor/core/modeling/properties.py
  gaphor/services/tests/test_undo_presentation.py
  gaphor/services/undomanager.py
  gaphor/transaction.py
  tests/test_undo.py
Labels: bug

#638 Drop and gray out style
  docs/style_sheets.md
  gaphor/SysML/requirements/requirement.py
  gaphor/UML/actions/action.py
  gaphor/UML/actions/activitynodes.py
  gaphor/UML/actions/partition.py
  gaphor/UML/classes/association.py
  gaphor/UML/classes/dependency.py
  gaphor/UML/classes/generalization.py
  gaphor/UML/classes/implementation.py
  gaphor/UML/classes/interface.py
  gaphor/UML/classes/klass.py
  gaphor/UML/classes/package.py
  gaphor/UML/components/node.py
  gaphor/UML/interactions/interaction.py
  gaphor/UML/interactions/lifeline.py
  gaphor/UML/interactions/message.py
  gaphor/UML/states/finalstate.py
  gaphor/UML/states/pseudostates.py
  gaphor/UML/usecases/actor.py
  gaphor/UML/usecases/usecase.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/stylesheet.py
  gaphor/core/modeling/tests/test_diagram_style.py
  gaphor/core/styling/__init__.py
  gaphor/core/styling/declarations.py
  gaphor/core/styling/properties.py
  gaphor/core/styling/selectors.py
  gaphor/core/styling/tests/test_cascading.py
  gaphor/core/styling/tests/test_css.py
  gaphor/core/styling/tests/test_selector.py
  gaphor/diagram/general/comment.py
  gaphor/diagram/painter.py
  gaphor/diagram/presentation.py
  gaphor/diagram/shapes.py
Labels: feature

#639 Cleanup inline styles
  gaphor/SysML/blocks/block.py
  gaphor/SysML/blocks/property.py
  gaphor/SysML/requirements/relationships.py
  gaphor/SysML/requirements/requirement.py
  gaphor/UML/actions/action.py
  gaphor/UML/actions/activitynodes.py
  gaphor/UML/actions/objectnode.py
  gaphor/UML/classes/interface.py
  gaphor/UML/classes/klass.py
  gaphor/UML/classes/package.py
  gaphor/UML/classes/tests/test_class.py
  gaphor/UML/components/artifact.py
  gaphor/UML/components/component.py
  gaphor/UML/components/node.py
  gaphor/UML/interactions/interaction.py
  gaphor/UML/interactions/lifeline.py
  gaphor/UML/states/finalstate.py
  gaphor/UML/states/pseudostates.py
  gaphor/UML/states/state.py
  gaphor/UML/usecases/actor.py
  gaphor/UML/usecases/usecase.py
  gaphor/diagram/presentation.py
  gaphor/diagram/tests/test_presentation.py
  tests/test_undo.py
Labels: chore

#651 Add FTA Toolbar Icons for RAAML
  gaphor/ui/icons/Makefile
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-and-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-basic-event-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-conditional-event-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-dormant-event-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-house-event-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-inhibit-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-majority-vote-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-not-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-or-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-seq-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-transfer-in-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-xor-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-zero-event-symbolic.svg
  gaphor/ui/icons/stensil.svg
Labels: feature

#645 C4 model
  Makefile
  gaphor/C4Model/__init__.py
  gaphor/C4Model/c4model.py
  gaphor/C4Model/diagramitems/__init__.py
  gaphor/C4Model/diagramitems/container.py
  gaphor/C4Model/diagramitems/database.py
  gaphor/C4Model/diagramitems/person.py
  gaphor/C4Model/grouping.py
  gaphor/C4Model/iconname.py
  gaphor/C4Model/modelinglanguage.py
  gaphor/C4Model/propertypages.glade
  gaphor/C4Model/propertypages.py
  gaphor/C4Model/tests/__init__.py
  gaphor/C4Model/tests/conftest.py
  gaphor/C4Model/tests/test_grouping.py
  gaphor/C4Model/tests/test_modelinglanguage.py
  gaphor/C4Model/toolbox.py
  gaphor/SysML/sysml.py
  gaphor/codegen/profile_coder.py
  gaphor/codegen/tests/test_profile_coder.py
  gaphor/diagram/diagramtoolbox.py
  gaphor/ui/iconname.py
  gaphor/ui/icons/Makefile
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-c4-component-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-c4-container-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-c4-database-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-c4-person-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-c4-software-system-symbolic.svg
  gaphor/ui/icons/stensil.svg
  gaphor/ui/tests/test_iconname.py
  models/C4Model.gaphor
  models/C4Model.override
  pyproject.toml
Labels: feature

#662 Remove venv file and update documentation
  docs/linux.md
  docs/macos.md
  docs/windows.md
  venv
Labels: chore

#663 Add wheel as a Windows dependency
  packaging/windows/msys2-install.sh
Labels: chore, skip-changelog

#673 Croatian translation
  CONTRIBUTING.md
  po/Makefile
  po/hr.po
Labels: feature
