Repository gaphor/gaphor, pull requests merged in 2021-10, with the labels that each got.

#1035 Hungarian and Finnish translation updates
  po/fi.po
  po/hu.po
Labels: translation

#1031 Fix localization in UI files
  gaphor/diagram/propertypages.py
  gaphor/diagram/tests/test_uibuilder.py
  gaphor/diagram/uibuilder.py
  gaphor/plugins/console/console.py
  gaphor/plugins/console/consolewindow.py
  gaphor/services/helpservice/__init__.py
  gaphor/ui/mainwindow.glade
  gaphor/ui/mainwindow.py
  po/nl.po
Labels: fix

#1042 Fix about dialog logo
  gaphor/services/helpservice/about.ui
  gaphor/ui/icons/hicolor/scalable/apps/org.gaphor.Gaphor.svg
  packaging/gaphor.spec
Labels: fix

#1040 Up typing compliance to 3.9, and remove typing_extensions
  docs/requirements.txt
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/element.py
  gaphor/core/modeling/properties.py
  gaphor/core/styling/__init__.py
  gaphor/core/styling/properties.py
  gaphor/diagram/connectors.py
  gaphor/ui/__init__.py
  mypy.ini
  packaging/windows/build-win-installer.py
  pyproject.toml
Labels: chore

#1050 Simpler services
  gaphor/services/helpservice/__init__.py
  gaphor/services/session.py
  gaphor/ui/mainwindow.py
  pyproject.toml
Labels: chore

#1052 Remove importlib_metadata
  docs/requirements.txt
  gaphor/application.py
  gaphor/entrypoint.py
  gaphor/tests/test_entrypoint.py
  poetry.lock
  pyproject.toml
Labels: chore

#1056 Finnish translation updates
  po/fi.po
Labels: translation

#1059 Fix flatpak build by reverting dependencies
  NEWS
  packaging/appimage/Makefile
  packaging/appimage/org.gaphor.Gaphor.appdata.xml
  poetry.lock
  pyproject.toml
Labels: bug

#1065 Hungarian translation updates
  po/hu.po
Labels: translation
