Repository gaphor/gaphor, pull requests merged in 2021-07, with the labels that each got.

#874 Restore signing for tagged versions
  .github/workflows/build.yml
Labels: bug

#882 Fix disappearing elements from tree view on Windows
  gaphor/ui/namespacemodel.py
Labels: fix

#875 Enable pyupgrade and use Python 3.9 in Windows
  .github/workflows/build.yml
  .pre-commit-config.yaml
  gaphor/UML/uml.py
  gaphor/UML/umloverrides.py
  gaphor/abc.py
  gaphor/application.py
  gaphor/codegen/uml_coder.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/element.py
  gaphor/core/modeling/elementdispatcher.py
  gaphor/core/modeling/elementfactory.py
  gaphor/core/modeling/properties.py
  gaphor/core/modeling/tests/test_properties.py
  gaphor/core/styling/__init__.py
  gaphor/core/styling/parser.py
  gaphor/diagram/connectors.py
  gaphor/diagram/copypaste.py
  gaphor/diagram/grouping.py
  gaphor/diagram/inlineeditors.py
  gaphor/diagram/painter.py
  gaphor/diagram/shapes.py
  gaphor/storage/parser.py
  gaphor/ui/diagrampage.py
  gaphor/ui/namespace.py
  packaging/windows/msys2-install.sh
Labels: chore

#873 Fix Windows Dev Env Docs
  docs/windows.md
  packaging/windows/msys2-install.sh
Labels: chore

#885 Add Docs for Building GTK for Windows with gvsbuild
  docs/windows.md
Labels: chore

#895 Add extra rules to avoid cyclic references
  gaphor/core/modeling/properties.py
  gaphor/core/modeling/tests/test_properties.py
  gaphor/services/tests/test_undomanager.py
Labels: bug

#902 Python 3.9 is now default in MSYS2
  docs/windows.md
  packaging/windows/msys2-install.sh
Labels: chore

#869 Refactor class property pages in to multiple modules
  gaphor/UML/classes/associationpropertypages.py
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/dependencypropertypages.py
  gaphor/UML/classes/enumerationpropertypages.py
  gaphor/UML/classes/tests/test_associationpropertypages.py
  gaphor/UML/classes/tests/test_classespropertypages.py
  gaphor/UML/classes/tests/test_dependencypropertypages.py
  tests/test_composite_association.py
Labels: chore

#904 Upgrade PyInstaller to Version 4.4
  .github/workflows/build.yml
  packaging/Makefile
  packaging/gaphor.spec.in
  packaging/hooks/__init__.py
  packaging/hooks/hook-gi.repository.GtkosxApplication.py
  packaging/hooks/pre_safe_import_module/__init__.py
  packaging/hooks/pre_safe_import_module/hook-gi.repository.GtkosxApplication.py
Labels: chore

#903 Upgrade Windows Build Script from Bash to Python
  .github/workflows/build.yml
  .pre-commit-config.yaml
  packaging/windows/Makefile
  packaging/windows/build-win-installer.py
  packaging/windows/build-win-installer.sh
  packaging/windows/gaphor.lnk
  packaging/windows/msys2-install.sh
Labels: chore
