Repository gaphor/gaphor, pull requests merged in 2021-11, with the labels that each got.

#1108 Add gtksourceview to Windows docs
  docs/windows.md
Labels: chore

#1109 Update to PyInstaller 4.6
  packaging/gaphor.spec
  packaging/hooks/__init__.py
  packaging/hooks/hook-gi.repository.GtkSource.py
  poetry.lock
  pyproject.toml
Labels: chore

#1103 InformationFlow for Connectors
  gaphor/SysML/propertypages.ui
  gaphor/UML/components/componentspropertypage.py
  gaphor/UML/components/connector.py
  gaphor/UML/components/propertypages.glade
  gaphor/UML/components/propertypages.ui
  gaphor/UML/components/tests/test_propertypages.py
  gaphor/UML/uml.py
  gaphor/codegen/override.py
  gaphor/core/modeling/listmixins.py
  gaphor/ui/icons/Makefile
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-information-flow-symbolic.svg
  gaphor/ui/icons/stensil.svg
  models/UML.gaphor
  models/UML.override
  pyproject.toml
Labels: feature

#1116 Edit element name on create
  gaphor/diagram/diagramtools/placement.py
  gaphor/diagram/inlineeditors.py
  gaphor/ui/diagrampage.py
Labels: feature

#1118 Allow auto-generated elements to be removed
  gaphor/ui/namespace.py
Labels: bug

#1120 Update to latest gvsbuild
  .github/workflows/full-build.yml
  .github/workflows/test.yml
Labels: chore

#1125 Translated messages
  gaphor/C4Model/toolbox.py
  gaphor/RAAML/fta/ftatoolbox.py
  gaphor/UML/actions/actionstoolbox.py
  gaphor/UML/actions/objectnode.py
  gaphor/UML/interactions/interactionstoolbox.py
  gaphor/UML/states/statestoolbox.py
  gaphor/diagram/diagramtoolbox.py
  gaphor/diagram/presentation.py
  gaphor/services/copyservice.py
  gaphor/ui/diagrampage.py
  gaphor/ui/mainwindow.py
  gaphor/ui/namespace.py
  gaphor/ui/recentfiles.py
  po/ca.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hr.po
  po/hu.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nl.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
Labels: chore

#1123 Add Reflexive Message item
  gaphor/UML/interactions/interactionstoolbox.py
  gaphor/UML/interactions/message.py
  gaphor/ui/icons/Makefile
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-reflexive-message-symbolic.svg
  gaphor/ui/icons/stensil.svg
Labels: feature

#1130 No name for initial/final nodes
  gaphor/UML/actions/actionstoolbox.py
  gaphor/UML/states/statestoolbox.py
  po/ca.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hr.po
  po/hu.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nl.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
Labels: chore

#1140 Move enumeration layout to UML.classes
  gaphor/UML/classes/enumerationpropertypages.py
  gaphor/UML/classes/propertypages.glade
  gaphor/UML/classes/propertypages.ui
  gaphor/UML/classes/tests/test_enumerationpropertypages.py
  gaphor/diagram/propertypages.glade
Labels: chore

#1121 Allow messages to move freely on Lifeline and ExecutionSpec
  gaphor/UML/interactions/executionspecification.py
  gaphor/UML/interactions/interactionsconnect.py
  gaphor/UML/interactions/lifeline.py
Labels: feature

#1134 Sphinx directive for embedding Gaphor models into docs
  .pre-commit-config.yaml
  .readthedocs.yaml
  docs/conf.py
  docs/connect.md
  docs/connect/main.svg
  docs/index.rst
  docs/sphinx.rst
  docs/stereotypes.md
  examples/sequence-diagram.gaphor
  gaphor/sphinx.py
  gaphor/tests/test_sphinx.py
  gaphor/ui/__init__.py
Labels: feature

#1142 Fix Windows build by Updating to Python 3.9.9
  .github/workflows/full-build.yml
  .github/workflows/test.yml
Labels: fix

#1146 Finnish translation updates
  po/fi.po
Labels: translation

#1149 Reuse generalization
  gaphor/UML/classes/tests/test_classconnect.py
  gaphor/UML/classes/tests/test_generalizationconnect.py
  gaphor/UML/classes/tests/test_interfacerealizationconnect.py
  gaphor/UML/uml.py
  models/UML.gaphor
Labels: fix

#1144 Show underlaying DecisionNode type
  examples/decision-node.gaphor
  gaphor/UML/actions/actionspropertypages.py
  gaphor/UML/actions/activitynodes.py
  gaphor/UML/actions/propertypages.glade
  gaphor/UML/actions/propertypages.ui
  gaphor/UML/actions/tests/test_actionspropertypages.py
Labels: feature, chore

#1153 Use Jedi for auto-complete in the Python Console
  gaphor/plugins/console/console.py
  gaphor/plugins/console/consolewindow.py
  poetry.lock
  pyproject.toml
Labels: feature

#1155 Fix lifeline ordering when not all items are linked in a diagram
  gaphor/UML/interactions/interactionsconnect.py
  gaphor/UML/interactions/tests/test_ordering.py
Labels: fix

#1129 Swap relationship direction for Generalization, Dependency, Import, Include, and Extend
  gaphor/C4Model/toolbox.py
  gaphor/RAAML/fta/ftatoolbox.py
  gaphor/RAAML/stpa/stpatoolbox.py
  gaphor/UML/classes/classestoolbox.py
  gaphor/UML/classes/dependency.py
  gaphor/UML/classes/generalization.py
  gaphor/UML/profiles/packageimport.py
  gaphor/UML/profiles/profilestoolbox.py
  gaphor/UML/usecases/extend.py
  gaphor/UML/usecases/include.py
  gaphor/UML/usecases/usecasetoolbox.py
Labels: fix

#1160 No GTK required anymore for generating docs
  .readthedocs.yaml
  docs/conf.py
  docs/sphinx.rst
  gaphor/__init__.py
  gaphor/conftest.py
  gaphor/diagram/__init__.py
  gaphor/diagram/export.py
  gaphor/diagram/tests/test_export.py
  gaphor/extensions/sphinx.py
  gaphor/plugins/diagramexport/__init__.py
  gaphor/plugins/diagramexport/tests/__init__.py
  gaphor/plugins/diagramexport/tests/conftest.py
  gaphor/ui/__init__.py
Labels: feature

#1164 Update gvsbuild and poetry version
  .github/actions/setup_and_test/action.yml
  .github/workflows/full-build.yml
  .github/workflows/test.yml
Labels: chore

#1163 Update Python to 3.10.0
  .github/workflows/full-build.yml
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
Labels: chore
