Repository gaphor/gaphor, pull requests merged in 2021-09, with the labels that each got.

#958 Update Hungarian, Finnish, & Spanish Translations
  po/es.po
  po/fi.po
  po/hu.po
Labels: translation

#964 Fix Doc Build Errors and Upgrade to MyST-Parser and tomli
  docs/conf.py
  docs/datamodel.md
  docs/event_system.md
  docs/modeling_language.md
  docs/requirements.txt
  docs/service_oriented.md
  docs/style_sheets.md
  packaging/gaphor.spec
  packaging/make-script.py
  poetry.lock
  pyproject.toml
Labels: fix

#967 Fix TypeError for Protocols cannot be instantiated
  gaphor/core/modeling/element.py
Labels: fix

#979 Add Galician translation
  po/gl.po
Labels: translation

#935 Swap Generalization Arrow Directions
  gaphor/UML/classes/classconnect.py
  gaphor/UML/classes/generalization.py
  gaphor/UML/classes/tests/test_classconnect.py
  gaphor/UML/classes/tests/test_copypaste.py
  gaphor/storage/storage.py
  gaphor/storage/tests/test_storage_c4_upgrades.py
  gaphor/storage/tests/test_storage_upgrades.py
  poetry.lock
Labels: fix

#992 Packaging folder is not a Python package
  packaging/__init__.py
Labels: chore

#991 Use flat buttons in the header bar
  gaphor/ui/mainwindow.glade
Labels: feature

#990 Display guard conditions in square brackets
  gaphor/UML/actions/flow.py
  gaphor/UML/actions/tests/test_flow.py
  gaphor/UML/states/tests/test_transition.py
  gaphor/UML/states/transition.py
Labels: feature

#1010 Add VSCode debug instructions for Windows
  docs/windows.md
Labels: chore

#1016 Improve inline editor undo/redo behavior
  docs/modeling_language.md
  gaphor/UML/actions/actionseditors.py
  gaphor/UML/classes/classeseditors.py
  gaphor/diagram/diagramtools/__init__.py
  gaphor/diagram/diagramtools/textedit.py
  gaphor/diagram/general/generaleditors.py
  gaphor/diagram/general/generalpropertypages.py
  gaphor/diagram/inlineeditors.py
  gaphor/diagram/tests/test_inlineeditors.py
Labels: bug

#1022 Fix parameter is incorrect error with ";;" in path
  packaging/make-script.py
Labels: bug

#1026 Update Dutch and Hungarian Translations
  po/hu.po
  po/nl.po
Labels: translation

#1025 Fix translations
  .github/actions/setup_and_test/action.yml
  gaphor/i18n.py
  po/build-babel.py
  pyproject.toml
Labels: bug
