Repository gaphor/gaphor, pull requests merged in 2021-01, with the labels that each got.

#586 Fix element dispatcher warnings
  gaphor/core/modeling/elementdispatcher.py
  gaphor/core/modeling/presentation.py
  tests/test_undo.py
Labels: fix

#588 Fix undo manager
  gaphor/SysML/blocks/proxyport.py
  gaphor/UML/actions/actionspropertypages.py
  gaphor/UML/actions/activitynodes.py
  gaphor/UML/actions/flowconnect.py
  gaphor/UML/actions/objectnode.py
  gaphor/UML/classes/association.py
  gaphor/UML/classes/classconnect.py
  gaphor/UML/classes/classestoolbox.py
  gaphor/UML/classes/interface.py
  gaphor/UML/classes/tests/test_association.py
  gaphor/UML/classes/tests/test_associationconnect.py
  gaphor/UML/components/tests/test_connect.py
  gaphor/UML/interactions/executionspecification.py
  gaphor/UML/interactions/interactionsconnect.py
  gaphor/UML/interactions/lifeline.py
  gaphor/UML/sanitizerservice.py
  gaphor/UML/tests/test_sanitizerservice.py
  gaphor/UML/tests/test_uml2.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/element.py
  gaphor/core/modeling/elementdispatcher.py
  gaphor/core/modeling/event.py
  gaphor/core/modeling/presentation.py
  gaphor/core/modeling/tests/test_presentation.py
  gaphor/diagram/diagramtools/__init__.py
  gaphor/diagram/diagramtools/connector.py
  gaphor/diagram/diagramtools/placement.py
  gaphor/diagram/diagramtools/segment.py
  gaphor/diagram/diagramtools/tests/test_segment.py
  gaphor/diagram/general/simpleitem.py
  gaphor/diagram/presentation.py
  gaphor/diagram/tests/test_diagramtools.py
  gaphor/diagram/tests/test_presentation.py
  gaphor/services/tests/conftest.py
  gaphor/services/tests/test_undo_diagram.py
  gaphor/services/tests/test_undo_presentation.py
  gaphor/services/tests/test_undomanager.py
  gaphor/services/undomanager.py
  gaphor/ui/__init__.py
  gaphor/ui/tests/test_handletool.py
  poetry.lock
  test-models/decision-fork-nodes.gaphor
  test-models/simple-items.gaphor
  tests/test_issue_gaphas.py
  tests/test_multiple_associations.py
  tests/test_undo.py
Labels: chore

#539 Improve Packaging and Sign / Notarize macOS App
  .flake8
  .github/workflows/build.yml
  macos-dmg/.gitignore
  macos-dmg/Info.plist
  macos-dmg/PkgInfo
  macos-dmg/README.md
  macos-dmg/__boot__.py
  macos-dmg/main.c
  macos-dmg/package.sh
  macos-dmg/validate.sh
  packaging/Makefile
  packaging/README.md
  packaging/gaphor.spec
  packaging/gaphor.spec.in
  packaging/hooks/__init__.py
  packaging/hooks/hook-gi.repository.GtkosxApplication.py
  packaging/hooks/pre_safe_import_module/__init__.py
  packaging/hooks/pre_safe_import_module/hook-gi.repository.GtkosxApplication.py
  packaging/macos/background.png
  packaging/macos/entitlements.plist
  packaging/macos/gaphor.icns
  packaging/macos/icons/Makefile
  packaging/macos/icons/gaphor.icns
  packaging/macos/icons/gaphor.iconset/icon_128x128.png
  packaging/macos/icons/gaphor.iconset/icon_128x128@2x.png
  packaging/macos/icons/gaphor.iconset/icon_16x16.png
  packaging/macos/icons/gaphor.iconset/icon_16x16@2x.png
  packaging/macos/icons/gaphor.iconset/icon_256x256.png
  packaging/macos/icons/gaphor.iconset/icon_32x32.png
  packaging/macos/icons/gaphor.iconset/icon_32x32@2x.png
  packaging/macos/icons/gaphor.iconset/icon_512x512.png
  packaging/macos/icons/gaphor.iconset/icon_512x512@2x.png
  packaging/make-script.py
  packaging/windows/Makefile
  packaging/windows/README-PORTABLE.txt
  packaging/windows/build-ico.sh
  packaging/windows/build-win-installer.sh
  packaging/windows/file_version_info.txt.in
  packaging/windows/gaphor.ico
  packaging/windows/gaphor.lnk
  packaging/windows/msys2-install.sh
  packaging/windows/win_installer.nsi
  win-installer/build-installer.sh
  win-installer/gaphor.spec
  win-installer/misc/build-ico.sh
  win-installer/misc/create-launcher.py
  win-installer/misc/depcheck.py
  win-installer/misc/gaphor.ico
Labels: feature

#581 Release Gaphor as an AppImage
  .bettercodehub.yml
  .github/workflows/build.yml
  .gitignore
  RELEASE_CHECKLIST.md
  docs/linux.md
  docs/windows.md
  packaging/Makefile
  packaging/README.md
  packaging/appimage/AppRun
  packaging/appimage/Makefile
  packaging/appimage/build-appimage.sh
  packaging/appimage/excludelist
  packaging/appimage/org.gaphor.Gaphor.appdata.xml
  packaging/appimage/org.gaphor.Gaphor.desktop
  packaging/appimage/org.gaphor.Gaphor.png
  packaging/gaphor.spec
  packaging/windows/build-win-installer.sh
Labels: feature

#610 Highlight item when a connection can be established
  gaphor/UML/actions/action.py
  gaphor/UML/actions/activitynodes.py
  gaphor/UML/actions/partition.py
  gaphor/UML/classes/association.py
  gaphor/UML/classes/dependency.py
  gaphor/UML/classes/generalization.py
  gaphor/UML/classes/implementation.py
  gaphor/UML/classes/package.py
  gaphor/UML/interactions/lifeline.py
  gaphor/UML/profiles/extension.py
  gaphor/UML/states/finalstate.py
  gaphor/UML/states/pseudostates.py
  gaphor/UML/usecases/actor.py
  gaphor/UML/usecases/usecase.py
  gaphor/diagram/diagramtools/grayout.py
  gaphor/diagram/general/comment.py
  gaphor/diagram/presentation.py
  gaphor/diagram/shapes.py
Labels: feature

#623 Fix composite association
  gaphor/UML/classes/association.py
  gaphor/UML/interactions/message.py
Labels: bug

#629 Speed up rendering by determining gray-out colors upfront
  gaphor/core/modeling/diagram.py
  gaphor/diagram/painter.py
  gaphor/diagram/propertypages.glade
Labels: chore
