Repository gaphor/gaphor, pull requests merged in 2022-12, with the labels that each got.

#1896 Style sheet language
  _packaging/gaphor.spec
  docs/style_sheets.md
  gaphor/ui/elementeditor.py
  gaphor/ui/language-specs/gaphorcss.lang
Labels: feature

#1892 Simplify the greeter and provide more info to new users
  gaphor/application.py
  gaphor/ui/__init__.py
  gaphor/ui/appfilemanager.py
  gaphor/ui/greeter-model-template.glade
  gaphor/ui/greeter-model-template.ui
  gaphor/ui/greeter-recent-file.ui
  gaphor/ui/greeter.glade
  gaphor/ui/greeter.py
  gaphor/ui/greeter.ui
  gaphor/ui/help/__init__.py
  gaphor/ui/mainwindow.py
  gaphor/ui/styling-gtk4.css
  gaphor/ui/styling.css
  gaphor/ui/tests/test_greeter.py
  po/Makefile
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hr.po
  po/hu.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nl.po
  po/pt_BR.po
  po/ru.po
  po/sl.po
  po/sv.po
  po/zh_Hans.po
  pyproject.toml
Labels: feature, chore, python, translation

#1895 Make sequence diagram messages horizontal by default
  gaphor/UML/interactions/message.py
Labels: feature, python

#1898 Update PyInstaller to version 5.7.0
  poetry.lock
  pyproject.toml
Labels: chore, dependencies

#1894 Load template as part of self-test
  gaphor/ui/selftest.py
Labels: python

#1903 Standard keyboard shortcuts
  gaphor/ui/elementeditor.py
  gaphor/ui/greeter.ui
  gaphor/ui/help/shortcuts.ui
  gaphor/ui/mainwindow.ui
Labels: chore, python

#1904 Improve Windows build reliability by limiting cores to 2
  .github/workflows/full-build.yml
  docs/windows.md
Labels: chore, documentation

#1901 Fix macOS shortcuts on GTK 4
  gaphor/ui/actiongroup.py
  gaphor/ui/help/__init__.py
  gaphor/ui/macosshim.py
Labels: python

#1905 Support non-standard Sphinx directory structures
  gaphor/extensions/sphinx.py
Labels: python

#1906 Do not auto-layout sequence diagrams
  gaphor/plugins/autolayout/pydot.py
Labels: bug, python

#1911 macOS: cursor shortcuts
  gaphor/ui/macosshim.py
Labels: feature, python

#1914 Translations update from Hosted Weblate
  po/hu.po
Labels: translation

#1907 Update gvsbuild to upgrade cairo in Windows
  .github/actions/setup_and_test/action.yml
  .github/actions/windows_executables/action.yml
  .github/workflows/full-build.yml
  docs/windows.md
  gaphor/RAAML/fta/majorityvotegate.py
  poetry.lock
  pyproject.toml
  tests/test_gaphorconvert.py
Labels: chore, dependencies, python, documentation

#1916 Remove tests that do not add to Gaphor's quality
  tests/test_load_model.py
Labels: skip-changelog

#1919 Use pip as Python module
  .github/actions/setup_and_test/action.yml
Labels: chore

#1923 Update poetry to version 1.3.1
  .github/actions/setup_and_test/action.yml
  .github/workflows/codeql-analysis.yml
  poetry.lock
Labels: chore, dependencies

#1925 New handle style
  poetry.lock
  pyproject.toml
Labels: chore, dependencies

#1931 Upgrade pycairo
  org.gaphor.Gaphor.json
  poetry.lock
  pyproject.toml
Labels: chore, dependencies

#1934 Croatian and Finnish translation updates
  po/fi.po
  po/hr.po
Labels: translation

#1941 Remove querymixin from modeling lists
  gaphor/codegen/tests/test_coder.py
  gaphor/core/modeling/collection.py
  gaphor/core/modeling/listmixins.py
Labels: python

#1942 Fix loading error
  gaphor/UML/classes/classconnect.py
  gaphor/core/eventmanager.py
  gaphor/core/modeling/tests/test_presentation.py
  gaphor/core/tests/test_eventmanager.py
  gaphor/services/undomanager.py
  gaphor/storage/storage.py
Labels: bug, python

#1935 Switch doc style to Furo
  docs/_static/css/custom.css
  docs/_static/gaphor-logo-full-black.svg
  docs/_static/gaphor-logo-full-white.svg
  docs/conf.py
  docs/index.rst
  poetry.lock
  pyproject.toml
Labels: chore, dependencies, documentation

#1946 Use new actions/cache/(save|restore)
  .github/workflows/full-build.yml
  .github/workflows/hypothesis-test.yml
Labels: chore

#1947 Add autocompletion for CSS properties
  gaphor/ui/css_property_completion_provider.py
  gaphor/ui/elementeditor.py
Labels: feature, python

#1957 Fix macos build
  gaphor/ui/css_property_completion_provider.py
  gaphor/ui/csscompletion.py
  gaphor/ui/elementeditor.py
Labels: fix, python

#1959 Hide New Package menu unless package selected
  gaphor/ui/namespace.py
Labels: fix, python

#1956 Update Getting Started pages
  docs/first_model.md
  docs/getting_started.md
  docs/images/document-properties-symbolic.svg
  docs/images/first-model-class.png
  docs/images/first-model-generalization.png
  docs/images/first-model-new-diagram-popup.png
  docs/images/gaphor-core.png
  docs/images/getting-started-greeter.png
  docs/images/getting-started-new-model.png
  docs/images/getting-started-new-model.xcf
  docs/images/open-menu-symbolic.svg
  docs/images/sidebar-show-right-symbolic.svg
  docs/index.rst
  gaphor/templates/blank.gaphor
Labels: documentation

#1964 Fix coredumps on Flatpak
  gaphor/ui/filemanager.py
Labels: fix, python

#1963 Windows CI: fix cannot create symlink error
  .github/workflows/codeql-analysis.yml
  .github/workflows/full-build.yml
  .github/workflows/hypothesis-test.yml
Labels: chore

#1965 Translations update from Hosted Weblate
  po/es.po
Labels: translation

#1968 Use native file chooser on Windows
  gaphor/ui/filedialog.py
Labels: feature, python

#1967 Publish to PyPI after all other jobs have passed
  .github/workflows/full-build.yml
Labels: fix

#1971 Fix PEP597 Encoding Warnings
  .github/actions/setup_and_test/action.yml
  .pre-commit-config.yaml
  _packaging/windows/build-win-installer.py
  gaphor/UML/actions/tests/test_objectnode.py
  gaphor/codegen/coder.py
  gaphor/codegen/override.py
  gaphor/diagram/tests/test_export.py
  gaphor/extensions/sphinx.py
  gaphor/extensions/tests/test_sphinx.py
  gaphor/plugins/console/consolewindow.py
  gaphor/plugins/diagramexport/gaphorconvert.py
  gaphor/plugins/xmiexport/tests/test_exportmodel.py
  gaphor/services/properties.py
  gaphor/services/tests/test_properties.py
  gaphor/storage/tests/test_parser.py
  gaphor/storage/tests/test_storage.py
  gaphor/storage/tests/test_storage_message_item_upgrade.py
  gaphor/tests/test_application.py
  gaphor/tests/test_babel.py
  gaphor/ui/mainwindow.py
  gaphor/ui/selftest.py
  gaphor/ui/uipreview.py
  po/check-babel.py
  tests/test_action_issue.py
  tests/test_load_model.py
  tests/test_model_consistency.py
  tests/test_models_up_to_date.py
  tests/test_package_removal.py
Labels: chore

#1973 Fix Translations on Windows, macOS, and AppImage
  _packaging/gaphor.spec
  gaphor/i18n.py
Labels: bug

#1845 Resolve (git) merge conflict: choose which branch to load
  gaphor/storage/mergeconflict.py
  gaphor/storage/tests/test_mergeconflict.py
  gaphor/ui/filemanager.py
  gaphor/ui/mainwindow.py
  gaphor/ui/statuswindow.py
  gaphor/ui/tests/test_filemanager.py
  test-models/merge-conflict.gaphor
Labels: feature, python
