Repository gaphor/gaphor, pull requests merged in 2022-09, with the labels that each got.

#1701 Update Finnish and Czech translations
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
Labels: translation

#1705 Fix model corruption when connecting a Block to an Actor
  gaphor/SysML/blocks/connectors.py
  gaphor/UML/actions/activityconnect.py
  gaphor/UML/actions/pinconnect.py
  gaphor/UML/classes/classconnect.py
  gaphor/UML/classes/containmentconnect.py
  gaphor/UML/deployments/connectorconnect.py
  gaphor/UML/interactions/interactionsconnect.py
  gaphor/UML/recipes.py
  gaphor/UML/states/vertexconnect.py
  gaphor/UML/usecases/tests/test_connect.py
  gaphor/diagram/connectors.py
  gaphor/services/undomanager.py
Labels: bug

#1692 Make model properties strict
  gaphor/C4Model/tests/test_grouping.py
  gaphor/C4Model/toolbox.py
  gaphor/RAAML/fta/ftatoolbox.py
  gaphor/RAAML/stpa/stpatoolbox.py
  gaphor/SysML/blocks/blockstoolbox.py
  gaphor/SysML/requirements/relationships.py
  gaphor/SysML/requirements/requirementstoolbox.py
  gaphor/SysML/toolbox.py
  gaphor/UML/actions/actionstoolbox.py
  gaphor/UML/actions/activitynodes.py
  gaphor/UML/actions/flow.py
  gaphor/UML/classes/association.py
  gaphor/UML/classes/classestoolbox.py
  gaphor/UML/classes/dependency.py
  gaphor/UML/classes/generalization.py
  gaphor/UML/classes/interface.py
  gaphor/UML/classes/interfacerealization.py
  gaphor/UML/copypaste.py
  gaphor/UML/deployments/connector.py
  gaphor/UML/deployments/deploymentstoolbox.py
  gaphor/UML/deployments/tests/test_connector.py
  gaphor/UML/interactions/executionspecification.py
  gaphor/UML/interactions/interactionstoolbox.py
  gaphor/UML/interactions/lifeline.py
  gaphor/UML/profiles/extension.py
  gaphor/UML/profiles/packageimport.py
  gaphor/UML/profiles/profilestoolbox.py
  gaphor/UML/profiles/tests/test_stereotypepage.py
  gaphor/UML/states/statestoolbox.py
  gaphor/UML/states/transition.py
  gaphor/UML/toolboxconfig.py
  gaphor/UML/usecases/extend.py
  gaphor/UML/usecases/include.py
  gaphor/UML/usecases/usecasetoolbox.py
  gaphor/core/modeling/element.py
  gaphor/core/modeling/tests/test_diagram.py
  gaphor/core/modeling/tests/test_element.py
  gaphor/core/modeling/tests/test_properties.py
  gaphor/core/modeling/tests/test_style_attributes.py
  gaphor/diagram/diagramtoolbox.py
  gaphor/diagram/presentation.py
  tests/test_issue_gaphas.py
Labels: chore

#1709 Inherited stereotype part 2: attributes from super type
  gaphor/UML/__init__.py
  gaphor/UML/profiles/stereotypepropertypages.py
  gaphor/UML/profiles/tests/test_stereotypepropertypages.py
  gaphor/UML/recipes.py
  gaphor/UML/tests/test_sanitizerservice.py
Labels: feature

#1698 Full tree search (GTK4)
  gaphor/core/modeling/modelinglanguage.py
  gaphor/ui/tests/test_treecomponent.py
  gaphor/ui/tests/test_treesearch.py
  gaphor/ui/treecomponent.py
  gaphor/ui/treesearch.py
Labels: feature, GTK4

#1715 Allow sequence diagram messages on lifeline body
  gaphor/UML/interactions/interactionsconnect.py
  gaphor/UML/interactions/lifeline.py
  gaphor/UML/interactions/message.py
  gaphor/UML/interactions/tests/test_messageconnect.py
Labels: feature

#1722 Support Generic<Type> syntax
  gaphor/UML/tests/test_umllex.py
  gaphor/UML/umllex.py
Labels: feature

#1723 Croatian translation updates
  po/hr.po
Labels: translation

#1726 Update Croatian translation
  po/hr.po
Labels: translation

#1711 Update poetry to version 1.2.0
  .github/actions/linux_appimage/action.yml
  .github/actions/macos_dmg/action.yml
  .github/actions/setup_and_test/action.yml
  .github/actions/windows_executables/action.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/full-build.yml
  docs/windows.md
  gaphor/__init__.py
  gaphor/windowsshim.py
  poetry.lock
  pyproject.toml
Labels: chore, dependencies, documentation

#1734 More Hungarian translation updates
  po/hu.po
Labels: translation

#1736 macos: Disable DnD for GTK4
  gaphor/ui/toolbox.py
  gaphor/ui/treecomponent.py
Labels: chore

#1724 Remove connected items from the diagram
  gaphor/core/modeling/presentation.py
  gaphor/diagram/general/tests/test_comment.py
  gaphor/diagram/tests/test_presentation.py
  tests/test_undo.py
Labels: feature

#1737 Update poetry to version 1.2.1
  .github/actions/setup_and_test/action.yml
  .github/workflows/codeql-analysis.yml
Labels: chore

#1738 Sourcery Refactorings
  gaphor/C4Model/modelinglanguage.py
  gaphor/RAAML/modelinglanguage.py
  gaphor/SysML/propertypages.py
  gaphor/UML/actions/flowconnect.py
  gaphor/UML/classes/associationpropertypages.py
  gaphor/UML/classes/dependencypropertypages.py
  gaphor/UML/deployments/deploymentpropertypage.py
  gaphor/UML/deployments/deploymentsgroup.py
  gaphor/UML/drop.py
  gaphor/UML/modelinglanguage.py
  gaphor/UML/profiles/stereotypepropertypages.py
  gaphor/UML/umllex.py
  gaphor/codegen/coder.py
  gaphor/codegen/override.py
  gaphor/codegen/tests/test_coder.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/listmixins.py
  gaphor/core/modeling/properties.py
  gaphor/core/modeling/tests/test_elementdispatcher.py
  gaphor/core/styling/parser.py
  gaphor/core/styling/selectors.py
  gaphor/core/styling/tests/test_css.py
  gaphor/diagram/general/connectors.py
  gaphor/diagram/propertypages.py
  gaphor/diagram/shapes.py
  gaphor/diagram/tests/fixtures.py
  gaphor/diagram/tools/magnet.py
  gaphor/diagram/tools/shortcut.py
  gaphor/extensions/sphinx.py
  gaphor/services/componentregistry.py
  gaphor/services/modelinglanguage.py
  gaphor/services/properties.py
  gaphor/storage/tests/test_xmlwriter.py
  gaphor/tests/raises.py
  gaphor/ui/statuswindow.py
Labels: chore

#1739 Update gvsbuild to version 2022.3.0
  .github/workflows/full-build.yml
Labels: chore

#1752 Fix invalid matrix error when creating use case
  gaphor/C4Model/diagramitems/database.py
  gaphor/RAAML/fta/basicevent.py
  gaphor/UML/actions/activitynodes.py
  gaphor/UML/states/finalstate.py
  gaphor/UML/states/pseudostates.py
  gaphor/UML/usecases/usecase.py
  gaphor/diagram/general/simpleitem.py
  gaphor/diagram/shapes.py
Labels: bug

#1751 Prevent deleting an element in a diagram also deleting the diagram itself
  gaphor/diagram/tools/__init__.py
  gaphor/diagram/tools/shortcut.py
  gaphor/diagram/tools/tests/test_shortcut.py
Labels: bug

#1757 Update Shortcuts window
  gaphor/services/helpservice/shortcuts.ui
  gaphor/ui/appfilemanager.py
  gaphor/ui/greeter.py
Labels: chore

#1763 Fix error when disconnecting line with multiple segments
  gaphor/diagram/tests/test_merge.py
  gaphor/diagram/tools/connector.py
  poetry.lock
Labels: bug, dependencies

#1765 Add skip-changelog label to dependabot PRs
  .github/dependabot.yml
Labels: chore
