Repository gaphor/gaphor, pull requests merged in 2022-04, with the labels that each got.

#1452 Update Croatian translation
  po/hr.po
Labels: translation

#1458 Fix diagram dependency cycle
  gaphor/core/modeling/elementfactory.py
  gaphor/core/modeling/tests/test_elementfactory.py
  gaphor/services/undomanager.py
  tests/test_undo.py
Labels: fix

#1453 Update permissions for CodeQL GitHub Action
  .github/workflows/codeql-analysis.yml
Labels: chore

#1463 Croatian translation update
  po/hr.po
Labels: translation

#1468 Finnish translation update
  po/fi.po
Labels: translation

#1441 Add Activity item to diagram
  gaphor/SysML/blocks/proxyport.py
  gaphor/SysML/blocks/tests/test_proxy_port.py
  gaphor/UML/actions/__init__.py
  gaphor/UML/actions/actionseditors.py
  gaphor/UML/actions/actionsgroup.py
  gaphor/UML/actions/actionstoolbox.py
  gaphor/UML/actions/activity.py
  gaphor/UML/actions/activityconnect.py
  gaphor/UML/actions/activitypropertypage.py
  gaphor/UML/actions/copypaste.py
  gaphor/UML/actions/flowconnect.py
  gaphor/UML/actions/propertypages.glade
  gaphor/UML/actions/propertypages.ui
  gaphor/UML/actions/tests/test_action.py
  gaphor/UML/actions/tests/test_activitypropertypage.py
  gaphor/UML/actions/tests/test_copypaste.py
  gaphor/UML/actions/tests/test_flow.py
  gaphor/UML/actions/tests/test_flowconnect.py
  gaphor/UML/actions/tests/test_grouping.py
  gaphor/UML/actions/tests/test_objectnode.py
  gaphor/UML/tests/test_diagramitems.py
  gaphor/UML/tests/test_umlfmt.py
  gaphor/UML/tests/test_umllex.py
  gaphor/UML/uml.py
  gaphor/UML/umlfmt.py
  gaphor/UML/umllex.py
  gaphor/diagram/presentation.py
  gaphor/diagram/tools/dropzone.py
  gaphor/diagram/tools/grayout.py
  gaphor/ui/icons/Makefile
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-activity-parameter-node-symbolic.svg
  gaphor/ui/icons/stensil.svg
  gaphor/ui/namespaceview.py
  models/UML.gaphor
Labels: feature

#1482 Fix pin connections when loading a model
  gaphor/SysML/drop.py
  gaphor/UML/actions/activity.py
  gaphor/UML/actions/activityconnect.py
  gaphor/UML/actions/tests/test_pin.py
  gaphor/UML/drop.py
  gaphor/diagram/presentation.py
  gaphor/diagram/tests/fixtures.py
Labels: fix

#1490 Finnish translation updates
  po/fi.po
Labels: translation

#1494 Codegen use all defined modeling languages
  gaphor/RAAML/raaml.py
  gaphor/SysML/sysml.py
  gaphor/UML/uml.py
  gaphor/codegen/coder.py
  gaphor/codegen/tests/test_coder.py
  pyproject.toml
  tests/test_models_up_to_date.py
Labels: feature
