Repository gaphor/gaphor, pull requests merged in 2022-11, with the labels that each got.

#1842 Disable Recent files if no recent files are present
  gaphor/ui/greeter.py
  gaphor/ui/tests/test_greeter.py
Labels: feature

#1844 Build a development Flatpak
  .gitignore
  org.gaphor.Gaphor.json
Labels: feature

#1848 Storage module maintenance
  docs/scripting.md
  gaphor/codegen/coder.py
  gaphor/extensions/sphinx.py
  gaphor/plugins/diagramexport/gaphorconvert.py
  gaphor/storage/parser.py
  gaphor/storage/storage.py
  gaphor/storage/tests/test_loading.py
  gaphor/storage/tests/test_parser.py
  gaphor/storage/tests/test_storage_message_item_upgrade.py
  gaphor/ui/errorhandler.py
  gaphor/ui/filemanager.py
  gaphor/ui/tests/test_filemanager.py
  test-models/merge-conflict.gaphor
  tests/test_action_issue.py
  tests/test_load_model.py
  tests/test_package_removal.py
Labels: chore, documentation

#1855 Added extra port below text for actor
  gaphor/UML/usecases/actor.py
  gaphor/UML/usecases/tests/test_actor.py
Labels: bug

#1851 Interact with models without GTK
  _packaging/gaphor.spec
  docs/gaphor-services.md
  docs/modeling_language.md
  docs/scripting.md
  gaphor/C4Model/__init__.py
  gaphor/C4Model/modelinglanguage.py
  gaphor/C4Model/propertypages.py
  gaphor/RAAML/__init__.py
  gaphor/RAAML/modelinglanguage.py
  gaphor/RAAML/stpa/__init__.py
  gaphor/RAAML/stpa/block.py
  gaphor/SysML/__init__.py
  gaphor/SysML/blocks/__init__.py
  gaphor/SysML/blocks/block.py
  gaphor/SysML/blocks/datatype.py
  gaphor/SysML/modelinglanguage.py
  gaphor/SysML/propertypages.py
  gaphor/UML/__init__.py
  gaphor/UML/actions/__init__.py
  gaphor/UML/actions/activityconnect.py
  gaphor/UML/actions/activitymove.py
  gaphor/UML/classes/__init__.py
  gaphor/UML/classes/datatype.py
  gaphor/UML/deployments/__init__.py
  gaphor/UML/interactions/__init__.py
  gaphor/UML/modelinglanguage.py
  gaphor/UML/profiles/__init__.py
  gaphor/UML/states/__init__.py
  gaphor/UML/uicomponents.py
  gaphor/core/modeling/event.py
  gaphor/core/modeling/presentation.py
  gaphor/diagram/__init__.py
  gaphor/diagram/_connector.py
  gaphor/diagram/connectors.py
  gaphor/diagram/general/__init__.py
  gaphor/diagram/general/uicomponents.py
  gaphor/diagram/presentation.py
  gaphor/diagram/tools/__init__.py
  gaphor/diagram/tools/connector.py
  gaphor/diagram/tools/itemtool.py
  gaphor/diagram/tools/segment.py
  gaphor/extensions/sphinx.py
  gaphor/plugins/autolayout/pydot.py
  gaphor/services/moduleloader.py
  gaphor/services/tests/test_moduleloader.py
  gaphor/services/undomanager.py
  gaphor/ui/tests/test_handletool.py
  pyproject.toml
Labels: chore, packaging, documentation

#1862 Move mypy.ini to pyproject.toml
  .github/labeler.yml
  mypy.ini
  poetry.lock
  pyproject.toml
Labels: chore, dependencies

#1861 Update Windows build to use Python 3.11
  .github/workflows/full-build.yml
Labels: chore

#1864 macOS build update
  .github/actions/macos_dependencies/action.yml
  .github/workflows/full-build.yml
Labels: chore

#1870 Translations update from Hosted Weblate
  po/fi.po
Labels: translation

#1869 Python 3.11 updates
  gaphor/i18n.py
  gaphor/ui/diagrampage.py
  gaphor/ui/mainwindow.py
  gaphor/ui/styling.py
Labels: chore

#1857 Update AppImage build to GTK4 and Python 3.11
  .github/actions/linux_appimage/action.yml
  .github/workflows/appimage-docker.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/full-build.yml
  .github/workflows/hypothesis-test.yml
  .readthedocs.yaml
  _packaging/appimage/Dockerfile
  _packaging/appimage/build-appimage.sh
  _packaging/appimage/excludelist
  _packaging/appimage/generate-excludelist.sh
  _packaging/appimage/jhbuildrc
  poetry.lock
  pyproject.toml
Labels: chore, dependencies, packaging

#1871 Add some architectural rules to Gaphor
  gaphor/services/copyservice.py
  gaphor/ui/help/__init__.py
  gaphor/ui/help/about.glade
  gaphor/ui/help/about.ui
  gaphor/ui/help/shortcuts.ui
  poetry.lock
  pyproject.toml
  tests/test_architecture.py
Labels: chore, dependencies

#1874 Ensure both sides of a Gtk.Paned are always visible
  gaphor/ui/layout.py
Labels: fix

#1873 Update Swedish translation
  po/sv.po
Labels: translation

#1877 Fix file not found for about and keyboard shortcut dialogs
  gaphor/ui/help/__init__.py
Labels: fix

#1875 Auto add skip-changelog label for pre-commit.ci and all-contributors
  .github/labeler.yml
Labels: chore

#1878 Translations update from Hosted Weblate
  po/hu.po
Labels: translation

#1885 Update Swedish translation
  po/sv.po
Labels: translation

#1889 Translations update from Hosted Weblate
  po/cs.po
  po/hu.po
Labels: translation

#1883 Add hint for button to edit CSS in style_sheet.md
  docs/images/css-button.png
  docs/style_sheets.md
Labels: documentation

#1884 Add tooltips to the application header icons
  gaphor/ui/mainwindow.ui
Labels: fix
