Repository gaphor/gaphor, pull requests merged in 2022-02, with the labels that each got.

#1334 Finnish translation updates
  po/fi.po
Labels: translation

#1331 Enable preferences shortcut
  gaphor/ui/elementeditor.glade
  gaphor/ui/elementeditor.py
  gaphor/ui/elementeditor.ui
  po/bn.po
  po/ca.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hr.po
  po/hu.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nl.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/zh_Hans.po
Labels: fix

#1336 Automatically select dark mode for macOS and Windows
  gaphor/ui/__init__.py
  poetry.lock
  pyproject.toml
Labels: feature

#1342 Croatian translation updates
  po/hr.po
Labels: translation

#1350 Spanish translation updates
  po/es.po
Labels: translation

#1361 Rename Component Toolbox to Deployment
  gaphor/C4Model/toolbox.py
  gaphor/SysML/blocks/connectors.py
  gaphor/SysML/blocks/tests/test_connectors.py
  gaphor/UML/classes/__init__.py
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/classestoolbox.py
  gaphor/UML/classes/component.py
  gaphor/UML/classes/propertypages.glade
  gaphor/UML/classes/propertypages.ui
  gaphor/UML/components/__init__.py
  gaphor/UML/components/componentsgrouping.py
  gaphor/UML/components/tests/test_grouping.py
  gaphor/UML/deployments/__init__.py
  gaphor/UML/deployments/artifact.py
  gaphor/UML/deployments/connector.py
  gaphor/UML/deployments/connectorconnect.py
  gaphor/UML/deployments/copypaste.py
  gaphor/UML/deployments/deploymentpropertypage.py
  gaphor/UML/deployments/deploymentsgrouping.py
  gaphor/UML/deployments/deploymentstoolbox.py
  gaphor/UML/deployments/node.py
  gaphor/UML/deployments/propertypages.glade
  gaphor/UML/deployments/propertypages.ui
  gaphor/UML/deployments/tests/__init__.py
  gaphor/UML/deployments/tests/conftest.py
  gaphor/UML/deployments/tests/test_connect.py
  gaphor/UML/deployments/tests/test_connector.py
  gaphor/UML/deployments/tests/test_copypaste.py
  gaphor/UML/deployments/tests/test_grouping.py
  gaphor/UML/deployments/tests/test_propertypages.py
  gaphor/UML/diagramitems.py
  gaphor/UML/profiles/tests/test_classifier_stereotypes.py
  gaphor/UML/toolbox.py
  gaphor/UML/usecases/__init__.py
  gaphor/UML/usecases/tests/test_grouping.py
  gaphor/UML/usecases/usecasegrouping.py
  gaphor/diagram/tests/test_copypaste_grouping.py
  gaphor/diagram/tools/tests/test_dropzone.py
  gaphor/storage/tests/test_group.py
Labels: chore

#1351 Improve reconnect for relationships
  docs/connect.gaphor
  gaphor/SysML/requirements/connectors.py
  gaphor/UML/actions/flowconnect.py
  gaphor/UML/classes/classconnect.py
  gaphor/UML/classes/tests/test_associationconnect.py
  gaphor/UML/classes/tests/test_containmentconnect.py
  gaphor/UML/classes/tests/test_dependencyconnect.py
  gaphor/UML/classes/tests/test_generalizationconnect.py
  gaphor/UML/classes/tests/test_interfacerealizationconnect.py
  gaphor/UML/classes/tests/test_realizationconnect.py
  gaphor/UML/profiles/packageimportconnect.py
  gaphor/UML/states/tests/test_transition_connect.py
  gaphor/UML/states/vertexconnect.py
  gaphor/UML/usecases/tests/test_extend.py
  gaphor/UML/usecases/tests/test_include.py
  gaphor/UML/usecases/usecaseconnect.py
  gaphor/diagram/connectors.py
  gaphor/diagram/copypaste.py
  gaphor/diagram/tools/connector.py
Labels: fix

#1365 Simulate user behavior with Hypothesis
  .github/workflows/hypothesis-test.yml
  .gitignore
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/element.py
  gaphor/core/modeling/elementfactory.py
  gaphor/services/copyservice.py
  gaphor/services/undomanager.py
  gaphor/storage/upgrade_canvasitem.py
  gaphor/transaction.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_model_consistency.py
Labels: feature

#1371 Update Finnish and German translations
  po/de.po
  po/fi.po
Labels: translation
