Repository gaphor/gaphor, pull requests merged in 2022-07, with the labels that each got.

#1581 Fix codeql warnings and error
  .github/workflows/codeql-analysis.yml
Labels: chore

#1583 Let Gaphor check for it's own health
  .github/workflows/full-build.yml
  gaphor/__main__.py
  gaphor/plugins/errorreports/errorreports.py
  gaphor/ui/__init__.py
  gaphor/ui/selftest.py
  gaphor/ui/tests/test_selftest.py
  pyproject.toml
Labels: feature

#1596 Todo example of use for css
  docs/style-sheet-examples.gaphor
  docs/style_sheets.md
Labels: feature

#1593 Union types
  gaphor/UML/actions/propertypages.ui
  gaphor/UML/classes/propertypages.glade
  gaphor/UML/classes/propertypages.ui
  gaphor/UML/tests/test_umlfmt.py
  gaphor/UML/tests/test_umllex.py
  gaphor/UML/umllex.py
  po/bn.po
  po/ca.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hr.po
  po/hu.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nl.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/zh_Hans.po
Labels: feature

#1594 Ensure all models are saved with UTF-8 encoding
  gaphor/plugins/xmiexport/exportmodel.py
  gaphor/services/properties.py
  gaphor/storage/parser.py
  gaphor/ui/filemanager.py
  gaphor/ui/tests/test_filemanager.py
  test-models/wrong-encoding.gaphor
Labels: bug

#1543 Make SysML Enumerations also ValueTypes
  gaphor/SysML/blocks/blockstoolbox.py
  gaphor/UML/classes/enumeration.py
Labels: feature

#1600 Transition can self-reference State
  gaphor/UML/states/finalstate.py
  gaphor/UML/states/pseudostates.py
  gaphor/UML/states/state.py
  gaphor/UML/states/tests/test_transition_connect.py
  gaphor/UML/states/vertexconnect.py
  gaphor/core/modeling/tests/test_literal_eval.py
Labels: bug

#1589 "Full build" pipeline for PR's
  .github/actions/linux_appimage/action.yml
  .github/actions/macos_dmg/action.yml
  .github/actions/setup_and_test/action.yml
  .github/actions/windows_executables/action.yml
  .github/workflows/full-build.yml
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
Labels: chore

#1605 Update dependencies
  .github/actions/setup_and_test/action.yml
  .github/workflows/codeql-analysis.yml
  poetry.lock
Labels: chore

#1615 Add Czech translation
  po/cs.po
Labels: translation

#1602 Move Windows Installation to C:\Program Files
  .github/workflows/full-build.yml
  _packaging/windows/win_installer.nsi
Labels: chore

#1625 Replace tomli with tomllib for Python 3.11+
  .github/workflows/full-build.yml
  _packaging/gaphor.spec
  _packaging/make-script.py
  poetry.lock
  pyproject.toml
Labels: chore

#1629 Fix color scheme warning with libadwaita
  gaphor/ui/__init__.py
Labels: bug

#1644 Fix stereotype unapplication
  gaphor/UML/profiles/extensionconnect.py
  gaphor/UML/recipes.py
  gaphor/UML/sanitizerservice.py
  gaphor/UML/tests/test_recipes.py
  gaphor/UML/tests/test_sanitizerservice.py
  gaphor/UML/uml.py
  models/UML.gaphor
Labels: fix

#1633 Fix "rename" from popover
  gaphor/ui/treecomponent.py
  gaphor/ui/treemodel.py
Labels: fix

#1626 Make the GTK Version Configurable with PyInstaller
  .github/actions/linux_appimage/action.yml
  .github/actions/macos_dmg/action.yml
  .github/actions/windows_executables/action.yml
  _packaging/gaphor.spec
  _packaging/make-script.py
  pyproject.toml
Labels: chore
