Repository gaphor/gaphor, pull requests merged in 2022-08, with the labels that each got.

#1646 Update PyInstaller to version 5.3
  _packaging/gaphor.spec
  _packaging/hooks/__init__.py
  _packaging/hooks/hook-gi.repository.freetype2.py
  _packaging/hooks/pre_safe_import_module/hook-gi.repository.freetype2.py
  poetry.lock
Labels: chore

#1660 Add Codespaces Configuration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  docs/container.md
  docs/index.rst
Labels: feature

#1664 Install gvsbuild with pip
  .github/workflows/full-build.yml
Labels: chore

#1663 Replace branch name with file location for PR labeling
  .github/labeler.yml
  .github/pr-labeler.yml
  .github/workflows/full-build.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: chore

#1668 Resize of partition keeps actions in the same swimlane
  gaphor/UML/actions/partition.py
Labels: feature

#1676 Update devcontainer to work on Fedora
  .devcontainer/devcontainer.json
Labels: skip-changelog

#1671 Setup Windows dev environment using pipx
  docs/windows.md
Labels: documentation

#1680 Retain save folder - use Path
  gaphor/application.py
  gaphor/event.py
  gaphor/plugins/diagramexport/__init__.py
  gaphor/plugins/xmiexport/__init__.py
  gaphor/services/properties.py
  gaphor/tests/test_application.py
  gaphor/ui/filedialog.py
  gaphor/ui/filemanager.py
  gaphor/ui/mainwindow.py
  gaphor/ui/tests/test_filedialog.py
  gaphor/ui/tests/test_filemanager.py
Labels: bug

#1678 Add copy button for code blocks in docs
  docs/conf.py
  docs/linux.md
  docs/macos.md
  poetry.lock
  pyproject.toml
Labels: chore, dependencies, documentation

#1682 Update Python and Ubuntu distro for readthedocs
  .readthedocs.yaml
Labels: chore, documentation

#1666 State machines and regions
  examples/state-machine.gaphor
  gaphor/SysML/blocks/block.py
  gaphor/SysML/requirements/requirement.py
  gaphor/UML/classes/datatype.py
  gaphor/UML/classes/enumeration.py
  gaphor/UML/classes/klass.py
  gaphor/UML/classes/stereotype.py
  gaphor/UML/states/__init__.py
  gaphor/UML/states/dropzone.py
  gaphor/UML/states/group.py
  gaphor/UML/states/propertypages.glade
  gaphor/UML/states/propertypages.py
  gaphor/UML/states/propertypages.ui
  gaphor/UML/states/region.py
  gaphor/UML/states/state.py
  gaphor/UML/states/statemachine.py
  gaphor/UML/states/statestoolbox.py
  gaphor/UML/states/tests/test_group.py
  gaphor/UML/states/tests/test_propertypages.py
  gaphor/UML/states/tests/test_states.py
  gaphor/UML/uml.py
  gaphor/core/styling/declarations.py
  gaphor/core/styling/properties.py
  gaphor/diagram/shapes.py
  gaphor/diagram/tests/fixtures.py
  gaphor/diagram/tests/test_shapes.py
  gaphor/diagram/tools/__init__.py
  gaphor/diagram/tools/dropzone.py
  gaphor/diagram/tools/itemtool.py
  gaphor/templates/sysml.gaphor
  gaphor/ui/namespacemodel.py
  models/UML.gaphor
Labels: feature

#1685 Translations update from Hosted Weblate
  po/es.po
Labels: translation

#1688 Translations update from Hosted Weblate
  po/nl.po
Labels: translation

#1689 Fix event-controller warning on GTK4
  gaphor/plugins/console/console.py
  gaphor/ui/statuswindow.py
  gaphor/ui/toolbox.py
Labels: chore

#1691 Update poetry to version 1.1.15
  .github/actions/setup_and_test/action.yml
  .github/workflows/codeql-analysis.yml
  poetry.lock
Labels: chore, dependencies

#1693 Translations update from Hosted Weblate
  po/zh_Hans.po
Labels: translation

#1687 Assign activities to classifiers
  gaphor/C4Model/diagramitems/container.py
  gaphor/C4Model/diagramitems/database.py
  gaphor/C4Model/diagramitems/person.py
  gaphor/RAAML/raaml.py
  gaphor/SysML/blocks/block.py
  gaphor/SysML/blocks/property.py
  gaphor/SysML/requirements/requirement.py
  gaphor/UML/actions/activity.py
  gaphor/UML/actions/partition.py
  gaphor/UML/classes/component.py
  gaphor/UML/classes/containmentconnect.py
  gaphor/UML/classes/datatype.py
  gaphor/UML/classes/enumeration.py
  gaphor/UML/classes/interface.py
  gaphor/UML/classes/klass.py
  gaphor/UML/classes/package.py
  gaphor/UML/classes/stereotype.py
  gaphor/UML/deployments/artifact.py
  gaphor/UML/deployments/node.py
  gaphor/UML/group.py
  gaphor/UML/interactions/interaction.py
  gaphor/UML/states/region.py
  gaphor/UML/states/state.py
  gaphor/UML/states/statemachine.py
  gaphor/UML/tests/test_group.py
  gaphor/UML/uml.py
  gaphor/core/styling/__init__.py
  gaphor/core/styling/properties.py
  gaphor/diagram/diagramtoolbox.py
  gaphor/diagram/shapes.py
  gaphor/diagram/tests/test_shapes.py
  models/RAAML.gaphor
  models/UML.gaphor
Labels: feature

#1697 Fix Instant editor focus on GTK4
  docs/modeling_language.md
  gaphor/UML/actions/actionseditors.py
  gaphor/UML/classes/classeseditors.py
  gaphor/diagram/general/generaleditors.py
  gaphor/diagram/instanteditors.py
  gaphor/diagram/tools/placement.py
  gaphor/diagram/tools/textedit.py
Labels: chore, documentation
