Repository gaphor/gaphor, pull requests merged in 2022-10, with the labels that each got.

#1774 Update RAAML diagram numbers
  models/RAAML.gaphor
Labels: chore

#1772 Sourcery and Grammar Cleanup
  gaphor/UML/classes/dependency.py
  gaphor/UML/classes/enumeration.py
  gaphor/UML/classes/interface.py
  gaphor/UML/deployments/connector.py
  gaphor/UML/interactions/interactionsconnect.py
  gaphor/UML/interactions/tests/test_messageconnect.py
  gaphor/UML/profiles/stereotypepropertypages.py
  gaphor/UML/recipes.py
  gaphor/UML/states/vertexconnect.py
  gaphor/UML/tests/test_uml2.py
  gaphor/UML/umlfmt.py
  gaphor/UML/umloverrides.py
  gaphor/UML/usecases/tests/test_grouping.py
  gaphor/UML/usecases/usecasegroup.py
  gaphor/abc.py
  gaphor/action.py
  gaphor/codegen/coder.py
  gaphor/codegen/tests/test_coder.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/element.py
  gaphor/core/modeling/elementdispatcher.py
  gaphor/core/modeling/event.py
  gaphor/core/modeling/properties.py
  gaphor/core/modeling/stylesheet.py
  gaphor/core/styling/parser.py
  gaphor/core/styling/selectors.py
  gaphor/core/styling/tests/test_selector.py
  gaphor/diagram/connectors.py
  gaphor/diagram/diagramtoolbox.py
  gaphor/diagram/presentation.py
  gaphor/diagram/shapes.py
  gaphor/diagram/tests/fixtures.py
  gaphor/diagram/tools/connector.py
  gaphor/event.py
  gaphor/plugins/console/console.py
  gaphor/plugins/xmiexport/exportmodel.py
  gaphor/services/properties.py
  gaphor/services/undomanager.py
  gaphor/storage/parser.py
  gaphor/storage/storage.py
  gaphor/ui/icons/Makefile
  gaphor/ui/icons/stencil.svg
  gaphor/ui/namespace.py
  gaphor/ui/styling.css
Labels: chore

#1778 Fix/move connected handle
  gaphor/diagram/tools/connector.py
  tests/test_undo.py
Labels: bug

#1782 Fail CI build if Windows certificate signing fails
  .github/actions/windows_executables/action.yml
Labels: chore

#1791 Update poetry to version 1.2.2
  .github/actions/setup_and_test/action.yml
Labels: chore

#1794 Fix key modifiers for delete element shortcut
  docs/linux.md
  docs/macos.md
  gaphor/diagram/tools/shortcut.py
Labels: bug

#1799 Fix typos
  NEWS
  docs/modeling_language.md
  docs/models/uml/05._Structured_Classifiers.rst
  docs/models/uml/11._Interactions.rst
  docs/style_sheets.md
  docs/windows.md
  examples/stpa.gaphor
  gaphor/UML/deployments/tests/test_connect.py
  gaphor/core/modeling/presentation.py
  gaphor/core/modeling/tests/test_modelinglanguage.py
  gaphor/core/modeling/tests/test_style_attributes.py
  gaphor/core/styling/tests/test_css.py
  gaphor/plugins/errorreports/tests/test_errorreport.py
  gaphor/templates/sysml.gaphor
  gaphor/tests/test_transaction.py
  gaphor/ui/toolbox.py
  models/RAAML.gaphor
  models/RAAML_full.gaphor
  models/UML.gaphor
  tests/test_presentations.py
Labels: chore, documentation

#1787 Build Windows installers with GTK4
  .github/actions/windows_executables/action.yml
  .github/workflows/full-build.yml
Labels: chore

#1804 Add Slovenian Translation
  po/sl.po
Labels: translation

#1809 Update gvsbuild to 2022.4.1 to fix zlib error
  .github/workflows/full-build.yml
Labels: chore

#1785 Upgrade about dialog to libadwaita with GTK4
  gaphor/services/helpservice/__init__.py
  gaphor/services/helpservice/about.glade
  gaphor/services/helpservice/about.ui
Labels: feature

#1811 Translations updates
  po/es.po
  po/fi.po
  po/hr.po
  po/hu.po
  po/sl.po
Labels: translation

#1815 Fix zoom with mouse
  gaphor/diagram/tools/__init__.py
  poetry.lock
Labels: fix, dependencies

#1653 Diagram auto-layout with Graphviz
  .github/actions/linux_dependencies/action.yml
  .github/actions/macos_dependencies/action.yml
  .github/workflows/full-build.yml
  .github/workflows/hypothesis-test.yml
  gaphor/diagram/presentation.py
  gaphor/diagram/tools/connector.py
  gaphor/diagram/tools/segment.py
  gaphor/plugins/autolayout/__init__.py
  gaphor/plugins/autolayout/pydot.py
  gaphor/plugins/autolayout/tests/_init__.py
  gaphor/plugins/autolayout/tests/test_pydot.py
  poetry.lock
  pyproject.toml
  tests/test_auto_layouting.py
Labels: feature, chore, dependencies

#1797 Package Graphviz with PyInstaller builds
  _packaging/gaphor.spec
  _packaging/hook-pydot.py
  gaphor/plugins/autolayout/pydot.py
  gaphor/plugins/autolayout/pydot_patch.py
  gaphor/ui/selftest.py
Labels: packaging

#1822 Remove lint tooling handled by pre-commit from pyproject.toml
  poetry.lock
  pyproject.toml
Labels: chore, dependencies

#1824 Czech translation updates
  po/cs.po
Labels: translation

#1823 Use entry points for pyinstaller builds
  .flake8
  .github/workflows/full-build.yml
  .gitignore
  _packaging/gaphor-script.py
  _packaging/gaphor.spec
  _packaging/make-script.py
  _packaging/use_gtk_3.py
  _packaging/use_gtk_4.py
  _packaging/windows/msys2-install.sh
  pyproject.toml
Labels: chore, packaging

#1818 Replace deprecated set-output commands
  .github/actions/macos_dmg/action.yml
  .github/scripts/metadata.sh
  .github/workflows/full-build.yml
Labels: chore

#1825 Pytest now uses importlib
  gaphor/C4Model/tests/__init__.py
  gaphor/SysML/blocks/tests/__init__.py
  gaphor/SysML/requirements/tests/__init__.py
  gaphor/SysML/tests/__init__.py
  gaphor/UML/actions/tests/__init__.py
  gaphor/UML/classes/tests/__init__.py
  gaphor/UML/deployments/tests/__init__.py
  gaphor/UML/interactions/tests/__init__.py
  gaphor/UML/profiles/tests/__init__.py
  gaphor/UML/states/tests/__init__.py
  gaphor/UML/tests/__init__.py
  gaphor/UML/usecases/tests/__init__.py
  gaphor/codegen/tests/__init__.py
  gaphor/core/modeling/tests/__init__.py
  gaphor/core/styling/tests/__init__.py
  gaphor/diagram/general/tests/__init__.py
  gaphor/diagram/tests/__init__.py
  gaphor/plugins/console/tests/__init__.py
  gaphor/plugins/errorreports/tests/__init__.py
  gaphor/plugins/xmiexport/tests/__init__.py
  gaphor/services/tests/__init__.py
  gaphor/storage/tests/__init__.py
  gaphor/tests/__init__.py
  gaphor/ui/tests/__init__.py
  mypy.ini
  pyproject.toml
  tests/__init__.py
Labels: chore

#1813 Update Message Dialogs to libadwaita
  gaphor/ui/appfilemanager.py
  gaphor/ui/errorhandler.py
  gaphor/ui/filemanager.py
Labels: feature

#1833 Pydot cleanup
  _packaging/fix_path.py
  _packaging/gaphor.spec
  _packaging/pydot_patch.py
  gaphor/plugins/autolayout/pydot.py
Labels: chore, packaging

#1837 Adwaita tab view
  gaphor/ui/diagrampage.py
  gaphor/ui/diagrams.py
  gaphor/ui/tests/test_mainwindow.py
Labels: feature

#1838 Support Delete to delete entries from tree view
  gaphor/ui/treecomponent.py
Labels: feature

#1820 Add documentation on how to interact with Gaphor programmatically
  .readthedocs.yaml
  docs/_static/css/custom.css
  docs/conf.py
  docs/gaphor-services.md
  docs/index.rst
  docs/scripting.md
  gaphor/UML/classes/association.py
  gaphor/UML/classes/dependency.py
  gaphor/UML/recipes.py
  gaphor/codegen/coder.py
  gaphor/diagram/export.py
  gaphor/diagram/tests/test_export.py
  gaphor/extensions/ipython.py
  gaphor/extensions/sphinx.py
  gaphor/extensions/tests/test_ipython.py
  gaphor/plugins/autolayout/__init__.py
  gaphor/plugins/autolayout/pydot.py
  gaphor/plugins/autolayout/tests/test_pydot.py
  gaphor/plugins/diagramexport/__init__.py
  gaphor/services/modelinglanguage.py
  gaphor/ui/diagrampage.py
  poetry.lock
  pyproject.toml
Labels: chore, dependencies, documentation
