Repository gaphor/gaphor, pull requests merged in 2022-03, with the labels that each got.

#1374 Extend Hypothesis Test Coverage and Fix Uncovered Bugs
  gaphor/UML/classes/containmentconnect.py
  gaphor/UML/classes/copypaste.py
  gaphor/UML/classes/tests/test_containmentconnect.py
  gaphor/UML/copypaste.py
  gaphor/UML/deployments/copypaste.py
  gaphor/UML/interactions/copypaste.py
  gaphor/UML/modelinglanguage.py
  gaphor/UML/states/copypaste.py
  gaphor/UML/tests/test_copypaste.py
  gaphor/core/modeling/__init__.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/element.py
  gaphor/diagram/copypaste.py
  gaphor/diagram/tests/test_copypaste_full.py
  gaphor/diagram/tests/test_copypaste_link.py
  gaphor/ui/namespacemodel.py
  tests/conftest.py
  tests/test_model_consistency.py
Labels: fix

#1379 New group function for element grouping
  docs/modeling_language.md
  gaphor/C4Model/grouping.py
  gaphor/C4Model/modelinglanguage.py
  gaphor/C4Model/tests/test_grouping.py
  gaphor/SysML/blocks/__init__.py
  gaphor/SysML/blocks/group.py
  gaphor/SysML/blocks/grouping.py
  gaphor/SysML/blocks/tests/test_group.py
  gaphor/UML/__init__.py
  gaphor/UML/actions/__init__.py
  gaphor/UML/actions/actionsgroup.py
  gaphor/UML/actions/actionsgrouping.py
  gaphor/UML/actions/tests/test_grouping.py
  gaphor/UML/classes/package.py
  gaphor/UML/deployments/__init__.py
  gaphor/UML/deployments/deploymentsgroup.py
  gaphor/UML/deployments/deploymentsgrouping.py
  gaphor/UML/deployments/node.py
  gaphor/UML/deployments/tests/test_grouping.py
  gaphor/UML/group.py
  gaphor/UML/interactions/__init__.py
  gaphor/UML/interactions/interactionsconnect.py
  gaphor/UML/interactions/interactionsgroup.py
  gaphor/UML/interactions/interactionsgrouping.py
  gaphor/UML/interactions/tests/test_group.py
  gaphor/UML/interactions/tests/test_message.py
  gaphor/UML/interactions/tests/test_messageconnect.py
  gaphor/UML/tests/test_group.py
  gaphor/UML/uml.py
  gaphor/UML/usecases/__init__.py
  gaphor/UML/usecases/tests/test_grouping.py
  gaphor/UML/usecases/usecasegroup.py
  gaphor/UML/usecases/usecasegrouping.py
  gaphor/conftest.py
  gaphor/diagram/connectors.py
  gaphor/diagram/diagramtoolbox.py
  gaphor/diagram/group.py
  gaphor/diagram/grouping.py
  gaphor/diagram/tests/test_copypaste_grouping.py
  gaphor/diagram/tests/test_group.py
  gaphor/diagram/tools/__init__.py
  gaphor/diagram/tools/dropzone.py
  gaphor/diagram/tools/placement.py
  gaphor/diagram/tools/tests/test_dropzone.py
  gaphor/tests/test_transaction.py
  gaphor/transaction.py
  gaphor/ui/namespacemodel.py
  gaphor/ui/tests/test_namespacemodel.py
  models/UML.gaphor
  tests/test_model_consistency.py
Labels: feature

#1364 Fix AppImage Crashes on Save Command
  .github/workflows/appimage-docker.yml
  .github/workflows/full-build.yml
  _packaging/appimage/Dockerfile
  pyproject.toml
Labels: fix

#1403 Proxyport: update ports when proxyport is moved
  gaphor/SysML/blocks/proxyport.py
Labels: fix

#1405 Edit newly created diagram name
  gaphor/ui/namespace.py
Labels: feature

#1407 Refactor: replace try..except with if clauses
  gaphor/core/modeling/element.py
  gaphor/core/modeling/elementdispatcher.py
  gaphor/core/modeling/listmixins.py
  gaphor/core/modeling/properties.py
  gaphor/core/modeling/tests/test_properties.py
Labels: chore

#1418 Rename relationship connector base classes
  gaphor/SysML/blocks/connectors.py
  gaphor/SysML/requirements/connectors.py
  gaphor/UML/actions/flowconnect.py
  gaphor/UML/classes/classconnect.py
  gaphor/UML/profiles/extensionconnect.py
  gaphor/UML/profiles/packageimportconnect.py
  gaphor/UML/states/vertexconnect.py
  gaphor/UML/usecases/usecaseconnect.py
  gaphor/diagram/connectors.py
Labels: chore

#1427 Chinese (Simplified) translation updates
  po/zh_Hans.po
Labels: translation

#1432 Refactor Using Sourcery
  gaphor/UML/actions/partitionpage.py
  gaphor/UML/tests/test_umllex.py
  gaphor/ui/diagrampage.py
  gaphor/ui/diagrams.py
  gaphor/ui/elementeditor.py
  gaphor/ui/filedialog.py
  gaphor/ui/filemanager.py
  gaphor/ui/mainwindow.py
  gaphor/ui/namespace.py
  gaphor/ui/statuswindow.py
  gaphor/ui/toolbox.py
Labels: chore

#1414 Allow to drag and drop all elements from tree view to diagram
  docs/modeling_language.md
  gaphor/SysML/drop.py
  gaphor/SysML/modelinglanguage.py
  gaphor/SysML/tests/test_drop.py
  gaphor/UML/__init__.py
  gaphor/UML/drop.py
  gaphor/UML/recipes.py
  gaphor/UML/tests/test_drop.py
  gaphor/core/__init__.py
  gaphor/core/modeling/collection.py
  gaphor/core/modeling/elementdispatcher.py
  gaphor/core/modeling/properties.py
  gaphor/core/modeling/tests/test_collection.py
  gaphor/diagram/connectors.py
  gaphor/diagram/drop.py
  gaphor/diagram/tools/dnd.py
  gaphor/services/undomanager.py
  gaphor/ui/diagrampage.py
  tests/test_model_consistency.py
Labels: feature

#1439 Fix GTK4 property page layouts
  gaphor/C4Model/propertypages.ui
  gaphor/SysML/propertypages.ui
  gaphor/UML/actions/propertypages.ui
  gaphor/UML/classes/propertypages.ui
  gaphor/UML/deployments/propertypages.ui
  gaphor/UML/interactions/propertypages.ui
  gaphor/UML/profiles/propertypages.ui
  gaphor/UML/states/propertypages.ui
  gaphor/diagram/propertypages.ui
  gaphor/ui/styling-gtk4.css
  gaphor/ui/uipreview.py
  pyproject.toml
Labels: chore

#1434 Include all diagram items in test model
  gaphor/RAAML/stpa/stpatoolbox.py
  gaphor/SysML/blocks/blockstoolbox.py
  gaphor/UML/profiles/metaclasspropertypage.py
  gaphor/UML/profiles/propertypages.glade
  gaphor/UML/profiles/propertypages.ui
  gaphor/core/eventmanager.py
  gaphor/services/undomanager.py
  tests/test_model_consistency.py
  tests/test_undo.py
Labels: chore
