Repository gaphor/gaphor, pull requests merged in 2022-01, with the labels that each got.

#1106 Improve GTK4 compatibility
  gaphor/C4Model/toolbox.py
  gaphor/RAAML/fta/ftatoolbox.py
  gaphor/RAAML/stpa/stpatoolbox.py
  gaphor/SysML/blocks/blockstoolbox.py
  gaphor/SysML/requirements/requirementstoolbox.py
  gaphor/SysML/toolbox.py
  gaphor/UML/actions/actionstoolbox.py
  gaphor/UML/actions/partitionpage.py
  gaphor/UML/actions/propertypages.ui
  gaphor/UML/actions/tests/test_partition.py
  gaphor/UML/classes/classestoolbox.py
  gaphor/UML/classes/propertypages.ui
  gaphor/UML/components/componentstoolbox.py
  gaphor/UML/interactions/interactionstoolbox.py
  gaphor/UML/profiles/profilestoolbox.py
  gaphor/UML/states/statestoolbox.py
  gaphor/UML/usecases/usecasetoolbox.py
  gaphor/diagram/diagramtoolbox.py
  gaphor/diagram/propertypages.ui
  gaphor/diagram/tools/__init__.py
  gaphor/diagram/tools/dnd.py
  gaphor/diagram/tools/placement.py
  gaphor/services/helpservice/__init__.py
  gaphor/ui/__init__.py
  gaphor/ui/diagrampage.py
  gaphor/ui/elementeditor.py
  gaphor/ui/elementeditor.ui
  gaphor/ui/layout.py
  gaphor/ui/mainwindow.ui
  gaphor/ui/styling-gtk3.css
  gaphor/ui/styling.css
  gaphor/ui/tests/test_handletool.py
  gaphor/ui/toolbox.py
  tests/test_comment_line_placement.py
  tests/test_placement_tools.py
Labels: chore

#1250 Allow for deleting elements in the tree view
  gaphor/UML/__init__.py
  gaphor/UML/deletable.py
  gaphor/core/modeling/coremodel.py
  gaphor/diagram/deletable.py
  gaphor/ui/namespace.py
  models/Core.gaphor
Labels: bug

#1257 Finnish translation update for Help in PropertyPage
  po/fi.po
Labels: translation

#1271 Deduplicate gaphor.icns (macos) in our repo
  _packaging/macos/Makefile
  _packaging/macos/gaphor.iconset/icon_128x128.png
  _packaging/macos/gaphor.iconset/icon_128x128@2x.png
  _packaging/macos/gaphor.iconset/icon_16x16.png
  _packaging/macos/gaphor.iconset/icon_16x16@2x.png
  _packaging/macos/gaphor.iconset/icon_256x256.png
  _packaging/macos/gaphor.iconset/icon_32x32.png
  _packaging/macos/gaphor.iconset/icon_32x32@2x.png
  _packaging/macos/gaphor.iconset/icon_512x512.png
  _packaging/macos/gaphor.iconset/icon_512x512@2x.png
  _packaging/macos/icons/gaphor.icns
Labels: chore, skip-changelog

#1266 Fix positions of nested items during undo
  gaphor/SysML/blocks/connectors.py
  gaphor/UML/interactions/interactionsconnect.py
  gaphor/UML/interactions/interactionsgrouping.py
  gaphor/core/modeling/presentation.py
  gaphor/core/modeling/tests/test_presentation.py
  gaphor/diagram/diagramtoolbox.py
  gaphor/diagram/tests/test_copypaste_grouping.py
  gaphor/diagram/tools/dropzone.py
  gaphor/diagram/tools/placement.py
  gaphor/services/tests/test_undo_presentation.py
Labels: bug

#1262 Full Copy/Paste of model elements
  gaphor/UML/actions/tests/test_partition.py
  gaphor/UML/classes/tests/test_copypaste.py
  gaphor/UML/components/componentsgrouping.py
  gaphor/UML/components/tests/test_copypaste.py
  gaphor/UML/interactions/tests/test_copypaste.py
  gaphor/UML/profiles/tests/test_copypaste.py
  gaphor/UML/states/tests/test_copypaste.py
  gaphor/core/modeling/elementfactory.py
  gaphor/core/modeling/tests/test_elementfactory.py
  gaphor/diagram/copypaste.py
  gaphor/diagram/tests/fixtures.py
  gaphor/diagram/tests/test_copypaste_full.py
  gaphor/diagram/tests/test_copypaste_grouping.py
  gaphor/diagram/tests/test_copypaste_link.py
  gaphor/services/copyservice.py
  gaphor/services/helpservice/shortcuts.ui
  gaphor/services/tests/test_copyservice.py
  tests/test_multiple_associations.py
Labels: feature

#1281 Load files directly from macOS Finder
  _packaging/gaphor.spec
  gaphor/ui/macosshim.py
Labels: bug

#1211 Stereotypes for ItemFlow properties
  examples/sysml-brake-system.gaphor
  gaphor/SysML/propertypages.glade
  gaphor/SysML/propertypages.py
  gaphor/SysML/propertypages.ui
  gaphor/SysML/tests/test_propertypages.py
  gaphor/UML/actions/partitionpage.py
  gaphor/UML/components/componentspropertypage.py
  gaphor/UML/components/connector.py
  gaphor/UML/deletable.py
  gaphor/UML/profiles/metaclasspropertypage.py
  gaphor/UML/profiles/propertypages.glade
  gaphor/UML/profiles/propertypages.ui
  gaphor/diagram/propertypages.py
  test-models/information-flow.gaphor
Labels: feature

#1288 Spanish translation updates
  po/es.po
Labels: translation

#1289 Fix Sequence diagram loading when message is close to lifeline body
  gaphor/UML/interactions/interactionsconnect.py
  gaphor/UML/interactions/lifeline.py
  gaphor/UML/interactions/tests/test_message.py
Labels: bug

#1298 Fix Gaphor fails to load in German, update Hungarian and Finnish translations
  po/de.po
  po/fi.po
  po/hu.po
Labels: fix

#1302 Check for placeholder errors in translations
  .github/workflows/full-build.yml
  .github/workflows/test.yml
  gaphor/babel.py
  gaphor/i18n.py
  po/check-babel.py
  po/de.po
  po/fi.po
  po/fr.po
  po/hr.po
  po/hu.po
  po/nl.po
  po/pt_BR.po
Labels: chore

#1303 Chinese (Simplified) translation updates
  po/zh_Hans.po
Labels: translation

#1301 Simplify the Greeter Dialogs
  gaphor/ui/appfilemanager.py
  gaphor/ui/greeter.glade
  gaphor/ui/greeter.py
  gaphor/ui/greeter.ui
  gaphor/ui/mainwindow.py
Labels: feature

#1307 Update Finnish and Spanish translations
  po/es.po
  po/fi.po
Labels: translation

#1311 Hungarian translation updates
  po/hu.po
Labels: translation

#1315 Add Additional Strings for Translation
  gaphor/UML/umlfmt.py
  gaphor/ui/appfilemanager.py
  gaphor/ui/greeter.py
  po/ca.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hr.po
  po/hu.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nl.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/zh_Hans.po
Labels: translation

#1320 #1310 Update to Readme.md - Greeter dialog and new diagram button usage
  README.md
Labels: chore

#1321 Translate typeValue in properties
  gaphor/babel.py
  po/bn.po
  po/ca.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hr.po
  po/hu.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nl.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/zh_Hans.po
Labels: translation

#1326 Fix splitting of lines
  gaphor/diagram/tools/tests/test_txtool.py
  gaphor/diagram/tools/txtool.py
Labels: fix
