Repository gaphor/gaphor, pull requests merged in 2023-05, with the labels that each got.

#2274 Update translations for Gaphor
  po/hr.po
  po/nl.po
Labels: translation

#2282 Update translations for Gaphor
  po/zh_Hans.po
Labels: translation

#2286 Update gvsbuild to 2023.5.0
  .github/workflows/full-build.yml
Labels: chore

#2287 Remove GTK3 leftover from element editor
  docs/conf.py
  gaphor/ui/__init__.py
  gaphor/ui/elementeditor.py
Labels: chore, python

#2290 Update elementeditor.ui: typo
  gaphor/ui/elementeditor.ui
Labels: chore

#2289 Restore CSS completion
  gaphor/ui/csscompletion.py
  gaphor/ui/elementeditor.py
Labels: fix, python

#2294 Remove AppImage packaging
  .github/actions/linux_appimage/action.yml
  .github/workflows/full-build.yml
  RELEASE_CHECKLIST.md
  _packaging/appimage/AppRun
  _packaging/appimage/Dockerfile
  _packaging/appimage/Makefile
  _packaging/appimage/build-appimage.sh
  _packaging/appimage/excludelist
  _packaging/appimage/generate-excludelist.sh
  _packaging/appimage/jhbuildrc
  _packaging/appimage/org.gaphor.Gaphor.appdata.xml
  _packaging/appimage/org.gaphor.Gaphor.desktop
  _packaging/appimage/org.gaphor.Gaphor.png
  docs/getting_started.md
  docs/linux.md
  poetry.lock
  pyproject.toml
Labels: packaging, documentation

#2297 Update translations for Gaphor
  po/es.po
  po/nl.po
Labels: translation

#2300 Update translations for Gaphor
  po/hr.po
Labels: translation

#2299 Fix undo loops
  gaphor/services/undomanager.py
  gaphor/transaction.py
  tests/test_undo.py
Labels: bug, python

#2301 Execute scripts from the command line
  gaphor/__main__.py
  gaphor/main.py
  gaphor/tests/run_script.py
  gaphor/tests/test_main.py
  gaphor/ui/__init__.py
  gaphor/ui/selftest.py
  gaphor/ui/tests/test_main.py
  gaphor/ui/tests/test_selftest.py
  pyproject.toml
Labels: feature, python

#2305 Update translations for Gaphor
  po/hu.po
  po/tr.po
Labels: translation

#2302 Diagram export as gaphor CLI subcommand
  _packaging/gaphor.spec
  gaphor/entrypoint.py
  gaphor/main.py
  gaphor/plugins/diagramexport/exportcli.py
  gaphor/tests/test_main.py
  gaphor/ui/__init__.py
  gaphor/ui/tests/test_main.py
  pyproject.toml
  tests/test_diagramexport.py
Labels: python, packaging

#1958 Tutorial: Coffee machine
  docs/coffee_machine.md
  docs/coffee_machine_concept.md
  docs/coffee_machine_logical.md
  docs/coffee_machine_wrapup.md
  docs/conf.py
  docs/getting_started.md
  docs/images/coffee-machine-double-shot.jpg
  docs/images/coffee-machine-pillars.png
  docs/images/coffee-machine-top-level-packages.png
  docs/index.rst
  docs/sphinx.rst
  examples/coffee-machine.gaphor
  gaphor/templates/sysml.gaphor
Labels: documentation

#2309 Fix drop for messages with one end connected
  gaphor/UML/drop.py
  gaphor/UML/tests/test_drop.py
Labels: fix, python

#2315 Update translation for docs.gaphor.org
  docs/locale/cs/LC_MESSAGES/docs.po
Labels: translation

#2313 Allow grouping of property with current owner element
  gaphor/SysML/blocks/group.py
Labels: feature, python

#2318 Update translations for Gaphor
  po/cs.po
Labels: translation

#2312 Information Flow for Associations
  docs/coffee_machine_concept.md
  examples/coffee-machine.gaphor
  gaphor/SysML/blocks/tests/conftest.py
  gaphor/SysML/propertypages.py
  gaphor/SysML/propertypages.ui
  gaphor/SysML/requirements/tests/conftest.py
  gaphor/SysML/tests/conftest.py
  gaphor/SysML/tests/test_propertypages.py
  gaphor/UML/classes/association.py
  gaphor/UML/deletable.py
  gaphor/UML/deployments/connector.py
  gaphor/UML/deployments/tests/test_connect.py
  gaphor/UML/deployments/tests/test_connector.py
  gaphor/UML/deployments/tests/test_copypaste.py
  gaphor/UML/informationflow.py
  gaphor/UML/interactions/message.py
  gaphor/UML/uml.py
  gaphor/conftest.py
  gaphor/diagram/presentation.py
  gaphor/storage/storage.py
  gaphor/ui/modelmerge/tests/conftest.py
  gaphor/ui/modelmerge/tests/test_organize_uml.py
  models/UML.gaphor
Labels: feature, python

#2316 Remove use of deprecated GTK methods
  gaphor/UML/actions/activitypropertypage.py
  gaphor/UML/classes/associationpropertypages.py
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/enumerationpropertypages.py
  gaphor/diagram/instanteditors.py
  gaphor/diagram/propertypages.py
  gaphor/diagram/tools/tests/test_txtool.py
  gaphor/plugins/console/console.py
  gaphor/plugins/console/consolewindow.py
  gaphor/plugins/errorreports/errorreports.py
  gaphor/ui/appfilemanager.py
  gaphor/ui/elementeditor.py
  gaphor/ui/errorhandler.py
  gaphor/ui/filedialog.py
  gaphor/ui/filemanager.py
  gaphor/ui/greeter.py
  gaphor/ui/help/__init__.py
  gaphor/ui/layout.py
  gaphor/ui/mainwindow.py
  gaphor/ui/statuswindow.py
  gaphor/ui/tests/test_filedialog.py
  gaphor/ui/tests/test_handletool.py
  gaphor/ui/uipreview.py
  tests/test_placement_tools.py
Labels: chore, python

#2319 Use new style Dropdowns for selecting items in property editor
  gaphor/SysML/propertypages.py
  gaphor/SysML/propertypages.ui
  gaphor/SysML/tests/test_propertypages.py
  gaphor/UML/actions/actionspropertypages.py
  gaphor/UML/actions/partitionpage.py
  gaphor/UML/actions/propertypages.ui
  gaphor/UML/actions/tests/test_actionspropertypages.py
  gaphor/UML/actions/tests/test_partitionpage.py
  gaphor/UML/classes/associationpropertypages.py
  gaphor/UML/classes/dependencypropertypages.py
  gaphor/UML/classes/propertypages.ui
  gaphor/UML/classes/tests/test_dependencypropertypages.py
  gaphor/UML/deployments/deploymentpropertypage.py
  gaphor/UML/deployments/propertypages.ui
  gaphor/UML/deployments/tests/test_propertypages.py
  gaphor/UML/interactions/interactionspropertypages.py
  gaphor/UML/interactions/propertypages.ui
  gaphor/UML/interactions/tests/test_interactionspropertypages.py
  gaphor/UML/profiles/metaclasspropertypage.py
  gaphor/UML/profiles/propertypages.ui
  gaphor/UML/profiles/tests/test_metaclasspropertypage.py
  gaphor/UML/uicomponents.py
  gaphor/diagram/propertypages.py
Labels: chore, python

#2328 Randomize tests
  gaphor/services/tests/test_undo_presentation.py
  poetry.lock
  pyproject.toml
Labels: feature

#2327 Fix decision node loading
  docs/first_model.md
  docs/locale/cs/LC_MESSAGES/docs.po
  docs/locale/de/LC_MESSAGES/docs.po
  docs/locale/docs.pot
  docs/locale/hr/LC_MESSAGES/docs.po
  docs/locale/nl/LC_MESSAGES/docs.po
  gaphor/UML/actions/actionspropertypages.py
  gaphor/UML/actions/activitynodes.py
  gaphor/UML/actions/tests/test_actionspropertypages.py
  gaphor/storage/storage.py
  gaphor/storage/tests/test_storage_upgrades.py
  tests/test_diagram_tools.py
  tests/test_properties.py
Labels: fix
