Repository gaphor/gaphor, pull requests merged in 2023-10, with the labels that each got.

#2740 Poetry update all packages to their latest version
  poetry.lock
Labels: chore

#2730 Update docs with new homebrew path
  docs/macos.md
Labels: documentation

#2749 Boyscouting
  .github/workflows/full-build.yml
  CHANGELOG.md
  gaphor/core/modeling/tests/test_literal_eval.py
  gaphor/diagram/copypaste.py
  gaphor/diagram/presentation.py
  gaphor/entrypoint.py
  gaphor/storage/storage.py
  models/Core.gaphor
  org.gaphor.Gaphor.json
Labels: chore

#2758 Increase line tolerance to 4
  gaphor/diagram/presentation.py
Labels: fix

#2757 Members in model browser
  gaphor/UML/uml.py
  gaphor/ui/modelbrowser.py
  gaphor/ui/tests/test_modelbrowser.py
  gaphor/ui/tests/test_treemodel.py
  gaphor/ui/treemodel.py
  models/UML.gaphor
Labels: fix

#2769 Clean up transactional event handling
  gaphor/transaction.py
Labels: chore

#2775 Build on CI with a Fedora 39 image
  .github/workflows/full-build.yml
Labels: chore

#2776 Update translations for Gaphor
  po/tr.po
Labels: translation

#2788 Revert update to PyInstaller 6.1
  poetry.lock
  pyproject.toml
Labels: skip-changelog

#2790 Revert bump pillow from 10.0.1 to 10.1.0
  poetry.lock
Labels: skip-changelog

#2792 Update Gvsbuild to version 2023.10.1
  .github/workflows/full-build.yml
Labels: skip-changelog

#2799 Replace Black, check toml, refurb with Ruff
  .pre-commit-config.yaml
  gaphor/SysML/blocks/block.py
  gaphor/SysML/blocks/interfaceblock.py
  gaphor/SysML/blocks/property.py
  gaphor/SysML/requirements/requirement.py
  gaphor/UML/classes/association.py
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/component.py
  gaphor/UML/classes/enumeration.py
  gaphor/UML/classes/interface.py
  gaphor/UML/classes/klass.py
  gaphor/UML/classes/stereotype.py
  gaphor/UML/deletable.py
  gaphor/UML/deployments/artifact.py
  gaphor/UML/deployments/node.py
  gaphor/codegen/coder.py
  gaphor/diagram/general/metadata.py
  gaphor/diagram/presentation.py
  gaphor/diagram/text.py
  po/check-babel.py
  pyproject.toml
Labels: chore

#2810 Update translations for Gaphor
  po/fr.po
Labels: translation
