Repository gaphor/gaphor, pull requests merged in 2023-06, with the labels that each got.

#2338 Update Flathub logo to README
  README.md
Labels: documentation

#2341 Use consistent naming for element_factory in storage module
  gaphor/conftest.py
  gaphor/storage/storage.py
  gaphor/storage/tests/test_storage.py
  tests/test_model_consistency.py
Labels: chore, python

#2345 Update translations for Gaphor
  po/fi.po
Labels: translation

#2335 Be more lenient when loading models
  gaphor/storage/storage.py
  gaphor/storage/tests/test_storage.py
Labels: feature, python

#2329 Replace deprecated Gtk.TreeView with ListView: Activity Parameter Nodes
  gaphor/UML/actions/activitypropertypage.py
  gaphor/UML/actions/parameter.ui
  gaphor/UML/actions/propertypages.ui
  gaphor/UML/actions/tests/test_activitypropertypage.py
  gaphor/ui/styling.css
  gaphor/ui/treeitem.ui
Labels: chore, python

#2360 Update translation for docs.gaphor.org
  docs/locale/cs/LC_MESSAGES/docs.po
Labels: translation

#2364 Make style sheet and merge editor panel wider
  gaphor/ui/elementeditor.ui
  gaphor/ui/styling.css
Labels: feature

#2370 Update translation for docs.gaphor.org
  docs/locale/es/LC_MESSAGES/docs.po
Labels: translation

#2371 Do no longer package TkInter
  _packaging/gaphor.spec
Labels: packaging

#2374 Update translations for Gaphor
  po/es.po
  po/fi.po
  po/hr.po
Labels: translation

#2375 Update translation for docs.gaphor.org
  docs/locale/es/LC_MESSAGES/docs.po
  docs/locale/hr/LC_MESSAGES/docs.po
Labels: translation

#2377 Update translation for docs.gaphor.org
  docs/locale/es/LC_MESSAGES/docs.po
Labels: translation

#2376 Load plugins installed in plugin folder
  .github/workflows/full-build.yml
  .gitignore
  docs/index.rst
  docs/plugins.md
  docs/style_sheets.md
  gaphor/main.py
  gaphor/plugins/__init__.py
  test-plugin/gaphor_test_plugin.py
  test-plugin/pyproject.toml
  tests/test_plugins.py
Labels: feature

#2381 Add debug sections to macOS and Linux docs
  docs/linux.md
  docs/macos.md
Labels: documentation

#2384 Update translation for docs.gaphor.org
  docs/locale/es/LC_MESSAGES/docs.po
Labels: translation

#2387 Update translation for docs.gaphor.org
  docs/locale/es/LC_MESSAGES/docs.po
Labels: translation

#2386 Update translations for Gaphor
  po/es.po
  po/fr.po
  po/hu.po
  po/tr.po
Labels: translation

#2388 Fix order when undoing deletion from association
  gaphor/core/modeling/event.py
  gaphor/core/modeling/properties.py
  gaphor/services/tests/test_undomanager.py
  gaphor/services/undomanager.py
Labels: fix

#2382 Various Sourcery refactoring
  gaphor/UML/interactions/lifeline.py
  gaphor/diagram/connectors.py
  gaphor/diagram/shapes.py
  gaphor/main.py
  gaphor/plugins/diagramexport/exportcli.py
  gaphor/storage/parser.py
  gaphor/ui/styling.css
Labels: chore, python

#2383 Allow Object Flows to Connect to Join/Fork Nodes
  gaphor/UML/actions/flowconnect.py
  gaphor/UML/actions/tests/test_flowconnect.py
Labels: fix

#2397 Update translations for Gaphor
  po/es.po
Labels: translation

#2398 Update translation for docs.gaphor.org
  docs/locale/es/LC_MESSAGES/docs.po
Labels: translation

#2399 Add a fullscreen mode to Gaphor
  gaphor/ui/elementeditor.ui
  gaphor/ui/help/__init__.py
  gaphor/ui/help/shortcuts.ui
  gaphor/ui/layout.py
  gaphor/ui/mainwindow.py
  gaphor/ui/mainwindow.ui
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hr.po
  po/hu.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nl.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sl.po
  po/sv.po
  po/ta.po
  po/tr.po
  po/zh_Hans.po
Labels: feature

#2394 Fix ports on properties
  gaphor/SysML/blocks/connectors.py
  gaphor/SysML/blocks/tests/test_connectors.py
  gaphor/SysML/propertypages.py
  gaphor/SysML/propertypages.ui
  gaphor/SysML/tests/test_propertypages.py
Labels: fix

#2404 Update translation for docs.gaphor.org
  docs/locale/es/LC_MESSAGES/docs.po
Labels: translation
