Repository gaphor/gaphor, pull requests merged in 2023-02, with the labels that each got.

#2045 Win and macOS: Wrong language selected when region not default
  gaphor/i18n.py
  poetry.lock
  pyproject.toml
Labels: fix, python

#2058 Stabilize macOS/GTK4 tests
  gaphor/ui/selftest.py
Labels: python

#2037 Model browser multi select
  gaphor/diagram/tools/dnd.py
  gaphor/ui/styling-gtk4.css
  gaphor/ui/tests/test_treecomponent.py
  gaphor/ui/treecomponent.py
Labels: feature, python

#2063 meta: Add .doap-file
  gaphor.doap
Labels: chore

#2062 Turkish translation updates
  po/tr.po
Labels: translation

#2069 Update to using the GNOME Code of Conduct
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Labels: documentation

#2066 Update gvsbuild to version 2023.2.0
  .github/workflows/full-build.yml
Labels: chore

#2068 Consider only default modifiers in toolbox shortcuts
  gaphor/ui/toolbox.py
Labels: python

#2072 Update "Keep model in sync" design principle
  docs/design_principles.md
Labels: documentation

#2074 Croatian translation update
  po/hr.po
Labels: translation

#2078 Croatian translation update
  po/hr.po
Labels: translation

#2077 Package GSettings daemon schemas for AppImage
  .github/actions/setup_and_test/action.yml
  .github/constraints.txt
  .github/workflows/codeql-analysis.yml
  .github/workflows/full-build.yml
  _packaging/appimage/Dockerfile
  _packaging/appimage/jhbuildrc
  poetry.lock
  pyproject.toml
Labels: packaging

#2084 Croatian translation update
  po/hr.po
Labels: translation

#2085 Workaround removing skip-changelog labels
  .github/workflows/labeler.yml
Labels: chore

#2091 Properly unsubscribe when property page is removed
  gaphor/C4Model/propertypages.glade
  gaphor/C4Model/propertypages.py
  gaphor/C4Model/propertypages.ui
  gaphor/SysML/propertypages.glade
  gaphor/SysML/propertypages.py
  gaphor/SysML/propertypages.ui
  gaphor/UML/actions/actionspropertypages.py
  gaphor/UML/actions/activitypropertypage.py
  gaphor/UML/actions/propertypages.glade
  gaphor/UML/actions/propertypages.ui
  gaphor/UML/classes/associationpropertypages.py
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/dependencypropertypages.py
  gaphor/UML/classes/enumerationpropertypages.py
  gaphor/UML/classes/propertypages.glade
  gaphor/UML/classes/propertypages.ui
  gaphor/UML/profiles/metaclasspropertypage.py
  gaphor/UML/profiles/propertypages.glade
  gaphor/UML/profiles/propertypages.ui
  gaphor/UML/states/propertypages.glade
  gaphor/UML/states/propertypages.py
  gaphor/UML/states/propertypages.ui
  gaphor/diagram/general/generalpropertypages.py
  gaphor/diagram/propertypages.py
Labels: bug, python

#2093 Translations update from Hosted Weblate
  po/nl.po
Labels: translation

#2105 Spanish, Dutch, and German Translation Updates
  po/de.po
  po/es.po
  po/nl.po
Labels: translation

#2106 New status page icon
  gaphor/ui/diagrams.ui
  gaphor/ui/icons/Makefile
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-new-diagram-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/emblems/gaphor-bw.svg
  gaphor/ui/icons/stencil.svg
Labels: chore
