Repository gaphor/gaphor, pull requests merged in 2023-08, with the labels that each got.

#2551 Constrain SysML diagram creation in the model explorer to conform with SysML 1.6 specification
  gaphor/SysML/diagramtype.py
  gaphor/SysML/tests/test_diagramtype.py
  gaphor/SysML/toolbox.py
  gaphor/diagram/diagramtoolbox.py
  gaphor/ui/modelbrowser.py
  gaphor/ui/toolbox.py
Labels: feature

#2581 Upgrade Gvsbuild to 2023.7.1
  .github/workflows/full-build.yml
Labels: chore

#2596 Rename "Note or Remark" field to just "Note"
  docs/first_model.md
  docs/scripting.md
  gaphor/diagram/propertypages.ui
Labels: python, documentation

#2578 Interface block support on diagram
  gaphor/SysML/blocks/__init__.py
  gaphor/SysML/blocks/blockstoolbox.py
  gaphor/SysML/blocks/connectors.py
  gaphor/SysML/blocks/interfaceblock.py
  gaphor/SysML/propertypages.py
  gaphor/SysML/propertypages.ui
  gaphor/ui/icons/Makefile
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-interface-block-symbolic.svg
  gaphor/ui/icons/stencil.svg
Labels: feature

#2602 Fix diagram background shouldn't be shared between open models
  gaphor/ui/diagrampage.py
Labels: fix

#2585 New element creation through model browser
  gaphor/C4Model/modelinglanguage.py
  gaphor/C4Model/toolbox.py
  gaphor/RAAML/modelinglanguage.py
  gaphor/RAAML/toolbox.py
  gaphor/SysML/modelinglanguage.py
  gaphor/SysML/toolbox.py
  gaphor/UML/modelinglanguage.py
  gaphor/UML/toolbox.py
  gaphor/abc.py
  gaphor/core/modeling/modelinglanguage.py
  gaphor/diagram/diagramtoolbox.py
  gaphor/services/modelinglanguage.py
  gaphor/ui/modelbrowser.py
Labels: feature

#2614 Update Gvsbuild to version 2023.8.0
  .github/workflows/full-build.yml
Labels: chore

#2617 Move diagram elements with the arrow keys
  gaphor/ui/diagrams.py
Labels: feature

#2626 Fix derive-reqt modelbrowser icon
  CHANGELOG.md
  gaphor/SysML/requirements/requirementstoolbox.py
  gaphor/ui/icons/Makefile
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-derive-reqt-symbolic.svg
  gaphor/ui/icons/stencil.svg
Labels: python, documentation

#2631 Add interface block to element creation menu
  gaphor/SysML/toolbox.py
Labels: python

#2628 Fix block not showing parts
  CHANGELOG.md
  gaphor/SysML/blocks/block.py
Labels: python, documentation

#2629 Removed unnecessary operations and attributes for requirements
  gaphor/SysML/propertypages.py
Labels: python

#2633 Fix blocks not showing references
  gaphor/SysML/blocks/block.py
Labels: fix, python

#2630 Display type of element in the properties panel
  gaphor/diagram/propertypages.py
  gaphor/diagram/propertypages.ui
Labels: feature

#2635 Improve coverage reporting
  .coveragerc
  gaphor/UML/interactions/lifeline.py
  gaphor/UML/states/pseudostates.py
  gaphor/abc.py
  gaphor/babel.py
  gaphor/storage/tests/test_storage_upgrades.py
  gaphor/ui/diagrams.py
  gaphor/ui/macosshim.py
Labels: chore

#2637 Enable macOS keybindings again
  gaphor/ui/__init__.py
  gaphor/ui/macosshim.py
  gaphor/ui/tests/test_macosshim.py
Labels: fix

#2655 Present the Greeter, instead of only making it visible
  gaphor/ui/greeter.py
Labels: fix

#2652 Add tests and fix Component.required
  gaphor/UML/tests/test_uml2_overrides.py
  gaphor/UML/umloverrides.py
Labels: fix

#2653 Add ownership rules to DirectedRelationshipPropertyPath.targetContext
  gaphor/SysML/__init__.py
  gaphor/SysML/sysml.py
  gaphor/SysML/sysmlfmt.py
  gaphor/SysML/tests/test_sysmlfmt.py
  models/SysML.gaphor
Labels: fix

#2658 Add system style sheet to the documentation
  docs/style_sheets.md
  gaphor/core/modeling/stylesheet.py
Labels: documentation

#2660 Fixed Profile is created instead of Stereotype in model browser
  gaphor/UML/toolbox.py
Labels: fix

#2651 Add picture as core element
  gaphor/core/modeling/__init__.py
  gaphor/core/modeling/coremodel.py
  gaphor/diagram/diagramtoolbox.py
  gaphor/diagram/general/__init__.py
  gaphor/diagram/general/generalpropertypages.py
  gaphor/diagram/general/picture.py
  gaphor/diagram/propertypages.ui
  gaphor/ui/filedialog.py
  gaphor/ui/icons/Makefile
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-picture-symbolic.svg
  gaphor/ui/icons/stencil.svg
  models/Core.gaphor
  poetry.lock
  pyproject.toml
  tests/test_architecture.py
Labels: feature

#2661 Align components
  gaphor/plugins/align/__init__.py
  gaphor/plugins/align/align.py
  pyproject.toml
Labels: feature
