Repository gaphor/gaphor, pull requests merged in 2023-11, with the labels that each got.

#2806 Upgrade notarization from altool to notarytool
  .github/actions/macos_dmg/action.yml
  .github/workflows/full-build.yml
Labels: chore

#2811 Boyscouting
  .gitignore
  docs/_static/js/utterances.js
  gaphor/SysML/blocks/proxyport.py
  gaphor/SysML/blocks/tests/test_proxy_port.py
  gaphor/UML/actions/pin.py
  gaphor/core/modeling/properties.py
  gaphor/core/styling/tests/test_css.py
  gaphor/diagram/tests/test_presentation.py
Labels: chore

#2815 Update Poetry to 1.7.0
  .github/constraints.txt
Labels: skip-changelog

#2791 Update PyInstaller to version 6.1
  .github/workflows/full-build.yml
  _packaging/gaphor.spec
  _packaging/windows/versionfile_metadata.yml
  _packaging/windows/win_installer.nsi
  poetry.lock
  pyproject.toml
Labels: chore, packaging

#2828 Fix About dialog links on macOS
  gaphor/ui/help/__init__.py
Labels: fix

#2844 Update translations for Gaphor
  po/ta.po
Labels: translation

#2850 Arch rules & build update
  .github/workflows/full-build.yml
  tests/test_architecture.py
Labels: chore

#2837 Do a good old `poetry update`
  poetry.lock
  pyproject.toml
Labels: chore

#2853 Update translations for Gaphor
  po/it.po
Labels: translation

#2842 Proxy Port Improvements
  CHANGELOG.md
  gaphor/SysML/blocks/connectors.py
  gaphor/SysML/drop.py
  gaphor/SysML/tests/test_drop.py
  gaphor/SysML/toolbox.py
  gaphor/ui/icons/Makefile
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-proxy-port-symbolic.svg
  gaphor/ui/icons/stencil.svg
Labels: fix

#2857 PyInstaller Spec File Updates
  _packaging/gaphor.spec
Labels: chore

#2851 Windows: Update portable shell link shortcut
  _packaging/windows/gaphor.lnk
Labels: chore, packaging

#2858 Reduce duplicate GitHub Action runs
  .github/workflows/full-build.yml
Labels: chore

#2863 Update translations for Gaphor
  po/pt_BR.po
Labels: translation

#2756 Add App Preferences for Dark Mode and Locale Override
  .github/actions/install/action.yml
  .github/workflows/full-build.yml
  .gitignore
  _packaging/gaphor.spec
  _packaging/macos/Makefile
  _packaging/windows/build-ico.sh
  data/logos/gaphor-24x24.png
  data/logos/gaphor-48x48.png
  data/logos/gaphor-logo-full-black.svg
  data/logos/gaphor-logo-full-white.svg
  data/logos/gaphor-logo-full.svg
  data/logos/gaphor-logo-name.svg
  data/logos/org.gaphor.Gaphor-symbolic.svg
  data/logos/org.gaphor.Gaphor.Devel.svg
  data/logos/org.gaphor.Gaphor.Source.svg
  data/logos/org.gaphor.Gaphor.svg
  data/org.gaphor.Gaphor.gschema.xml
  docs/conf.py
  docs/windows.md
  gaphor/application.py
  gaphor/i18n.py
  gaphor/settings.py
  gaphor/ui/greeter.py
  gaphor/ui/greeter.ui
  gaphor/ui/help/__init__.py
  gaphor/ui/help/preferences.ui
  gaphor/ui/mainwindow.py
  gaphor/ui/selftest.py
  gaphor/ui/tests/test_help.py
  gaphor/ui/tests/test_selftest.py
  org.gaphor.Gaphor.json
  pyproject.toml
  tests/test_architecture.py
Labels: feature

#2868 Add allocations toolbox with allocate relationship item
  CHANGELOG.md
  gaphor/SysML/allocations/__init__.py
  gaphor/SysML/allocations/allocationstoolbox.py
  gaphor/SysML/allocations/relationships.py
  gaphor/SysML/allocations/tests/test_allocate_relationship.py
  gaphor/SysML/diagramitems.py
  gaphor/SysML/relationships.py
  gaphor/SysML/requirements/relationships.py
  gaphor/SysML/toolbox.py
  gaphor/ui/icons/Makefile
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-allocate-symbolic.svg
  gaphor/ui/icons/stencil.svg
Labels: feature

#2870 Prepare for 1.22.0
  CHANGELOG.md
  gaphor/ui/help/about.ui
  pyproject.toml
Labels: skip-changelog, documentation

#2875 Fix TypeError when changing to dark mode
  gaphor/ui/diagrampage.py
Labels: fix

#2879 Settings cleanup
  gaphor/i18n.py
  gaphor/settings.py
  gaphor/ui/__init__.py
  gaphor/ui/help/__init__.py
  gaphor/ui/help/preferences.ui
  gaphor/ui/tests/test_help.py
Labels: chore

#2877 Fix wrong path in project flatpak manifest
  org.gaphor.Gaphor.json
Labels: bug

#2880 Fix DnD file opening on macOS
  gaphor/ui/__init__.py
Labels: fix

#2881 Fix libadwaita 1.4.0 missing for hypothesis tests
  .github/workflows/hypothesis-test.yml
Labels: chore

#2882 Catch errors when a clipboard is empty
  gaphor/ui/copyservice.py
Labels: bug

#2883 Add support for dropping SysML diagrams on diagrams
  gaphor/SysML/diagramtype.py
  gaphor/SysML/tests/test_drop.py
Labels: fix

#2884 Fix grouping: allow to group to "root"
  gaphor/diagram/group.py
  gaphor/diagram/tests/test_group.py
Labels: fix

#2886 Prepare for 2.22.1 release
  CHANGELOG.md
  pyproject.toml
Labels: skip-changelog, documentation

#2888 Simplify GSettings schema self test
  gaphor/ui/selftest.py
  gaphor/ui/tests/test_selftest.py
Labels: python
