Repository gaphor/gaphor, pull requests merged in 2023-03, with the labels that each got.

#2116 Translations update from Hosted Weblate
  po/nl.po
  po/pt_BR.po
Labels: translation

#2120 Translations update from Hosted Weblate
  po/nl.po
  po/pt_BR.po
Labels: translation

#2112 Proper loading of current/incoming model
  _packaging/gaphor.spec
  gaphor/storage/mergeconflict.py
  gaphor/storage/storage.py
  gaphor/storage/tests/fixtures.py
  gaphor/storage/tests/test_mergeconflict.py
  gaphor/ui/filemanager.py
  gaphor/ui/selftest.py
  gaphor/ui/tests/test_filemanager.py
  poetry.lock
  pyproject.toml
  test-models/merge-conflict.gaphor
Labels: feature

#2123 Update poetry to version 1.4.0
  .github/constraints.txt
Labels: dependencies, skip-changelog

#2122 Update AppImage docker image to 2023.3.0
  .github/workflows/full-build.yml
  _packaging/appimage/Dockerfile
  pyproject.toml
Labels: chore, packaging

#2128 Translations update from Hosted Weblate
  po/nl.po
  po/pl.po
Labels: translation

#2134 Translations update from Hosted Weblate
  po/pl.po
Labels: translation

#2135 Just load modules for gaphor.modules entry points
  gaphor/C4Model/propertypages.py
  gaphor/SysML/propertypages.py
  gaphor/UML/uicomponents.py
  gaphor/diagram/general/uicomponents.py
  gaphor/services/moduleloader.py
  pyproject.toml
Labels: chore, python

#2139 Dutch translation update
  po/nl.po
Labels: translation

#2143 macOS: Bundle the application with GTK4
  .github/actions/linux_appimage/action.yml
  .github/actions/linux_dependencies/action.yml
  .github/actions/macos_dependencies/action.yml
  .github/actions/macos_dmg/action.yml
  .github/actions/windows_executables/action.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/full-build.yml
  _packaging/gaphor.spec
  _packaging/use_gtk_3.py
  docs/macos.md
  gaphor/UML/classes/tests/test_classespropertypages.py
  gaphor/ui/toolbox.py
  gaphor/ui/treecomponent.py
Labels: chore

#2132 Css editor dark mode
  gaphor/ui/diagrampage.py
  gaphor/ui/elementeditor.py
Labels: chore, python

#2159 Clean up application architecture for copy service
  gaphor/UML/__init__.py
  gaphor/entrypoint.py
  gaphor/ui/copyservice.py
  gaphor/ui/tests/test_copyservice.py
  pyproject.toml
  tests/test_architecture.py
Labels: chore, python

#2164 Update diagram directly when partitions change
  gaphor/UML/actions/partitionpage.py
  gaphor/core/modeling/diagram.py
  gaphor/diagram/copypaste.py
Labels: bug, python

#2168 Toggle the "no tabs" background based on notebook activity
  gaphor/ui/diagrams.py
  gaphor/ui/diagrams.ui
Labels: bug, python

#2171 Make main window always available
  gaphor/ui/mainwindow.py
Labels: chore, python

#1961 Manually resolve merge conflicts
  gaphor/SysML/propertypages.py
  gaphor/UML/uml.py
  gaphor/core/changeset/__init__.py
  gaphor/core/changeset/apply.py
  gaphor/core/changeset/compare.py
  gaphor/core/changeset/tests/test_apply.py
  gaphor/core/changeset/tests/test_compare.py
  gaphor/core/modeling/__init__.py
  gaphor/core/modeling/coremodel.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/elementfactory.py
  gaphor/core/modeling/properties.py
  gaphor/core/modeling/tests/test_properties.py
  gaphor/ui/elementeditor.py
  gaphor/ui/elementeditor.ui
  gaphor/ui/filemanager.py
  gaphor/ui/modelmerge/__init__.py
  gaphor/ui/modelmerge/change.ui
  gaphor/ui/modelmerge/editor.py
  gaphor/ui/modelmerge/organize.py
  gaphor/ui/modelmerge/tests/conftest.py
  gaphor/ui/modelmerge/tests/test_modelmerge.py
  gaphor/ui/modelmerge/tests/test_organize.py
  gaphor/ui/modelmerge/tests/test_organize_uml.py
  gaphor/ui/tests/test_elementeditor.py
  gaphor/ui/tests/test_filemanager.py
  models/Core.gaphor
  models/UML.gaphor
  test-models/RAAML-incoming.gaphor
  test-models/RAAML-original.gaphor
  test-models/simple-items.gaphor
  tests/run_with_merge_conflict.py
Labels: feature, python

#2176 Add diagrams in diagrams
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/propertypages.ui
  gaphor/UML/tests/test_diagramitems.py
  gaphor/diagram/event.py
  gaphor/diagram/general/__init__.py
  gaphor/diagram/general/diagramitem.py
  gaphor/diagram/group.py
  gaphor/diagram/propertypages.py
  gaphor/diagram/propertypages.ui
  gaphor/diagram/tests/test_propertypages.py
  gaphor/diagram/tools/textedit.py
  gaphor/ui/diagrams.py
  gaphor/ui/event.py
  gaphor/ui/modelbrowser.py
  gaphor/ui/tests/test_elementeditor.py
  gaphor/ui/tests/test_handletool.py
  gaphor/ui/tests/test_mainwindow.py
  tests/test_diagram_tools.py
Labels: feature, python

#2188 Fix orthogonal lines
  gaphor/UML/classes/tests/test_association.py
  gaphor/diagram/presentation.py
  gaphor/diagram/tests/test_presentation.py
  poetry.lock
  test-models/simple-items.gaphor
Labels: bug, python

#2190 Fix drag from model browser
  gaphor/ui/modelbrowser.py
Labels: bug, python

#2193 Spanish and Dutch translation updates
  po/es.po
  po/nl.po
Labels: translation

#2192 Add docs for merge conflict resolution
  docs/images/merge-conflict-window.png
  docs/images/merge-dialog.png
  docs/index.rst
  docs/merge_conflicts.md
Labels: documentation
