Repository gaphor/gaphor, pull requests merged in 2023-09, with the labels that each got.

#2665 Support state entry, exit, do behavior selection amongst the existing behaviors via dropdown
  CHANGELOG.md
  gaphor/UML/states/propertypages.py
  gaphor/UML/states/propertypages.ui
  gaphor/UML/states/tests/test_propertypages.py
Labels: python, documentation

#2683 Prepare for version 2.21.0 release
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Labels: skip-changelog

#2701 Update Gvsbuild to 2023.9.0
  .github/workflows/full-build.yml
Labels: skip-changelog

#2699 Refactorings with refurb pre-commit hook
  .pre-commit-config.yaml
  _packaging/windows/build-win-installer.py
  gaphor/C4Model/iconname.py
  gaphor/SysML/blocks/block.py
  gaphor/SysML/blocks/interfaceblock.py
  gaphor/SysML/blocks/property.py
  gaphor/SysML/diagramlabel.py
  gaphor/SysML/requirements/requirement.py
  gaphor/UML/classes/associationpropertypages.py
  gaphor/UML/classes/containmentconnect.py
  gaphor/UML/classes/datatype.py
  gaphor/UML/classes/klass.py
  gaphor/UML/classes/stereotype.py
  gaphor/UML/iconname.py
  gaphor/UML/recipes.py
  gaphor/UML/umlfmt.py
  gaphor/UML/umllex.py
  gaphor/UML/umloverrides.py
  gaphor/application.py
  gaphor/codegen/override.py
  gaphor/core/modeling/collection.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/element.py
  gaphor/core/modeling/properties.py
  gaphor/core/styling/selectors.py
  gaphor/diagram/connectors.py
  gaphor/diagram/propertypages.py
  gaphor/diagram/shapes.py
  gaphor/extensions/sphinx.py
  gaphor/i18n.py
  gaphor/plugins/__init__.py
  gaphor/plugins/console/consolewindow.py
  gaphor/plugins/diagramexport/exportcli.py
  gaphor/services/properties.py
  gaphor/services/tests/test_properties.py
  gaphor/storage/parser.py
  gaphor/ui/diagrampage.py
  gaphor/ui/errorhandler.py
  gaphor/ui/filemanager.py
  gaphor/ui/selftest.py
  gaphor/ui/toolbox.py
  tests/test_auto_layouting.py
  tests/test_model_consistency.py
  tests/test_properties.py
Labels: chore

#2711 Remove duplicated elements in Component.provided property
  gaphor/UML/tests/test_uml2_overrides.py
  gaphor/UML/umloverrides.py
Labels: bug

#2709 Use defusedxml to avoid loading potentially dangerous xml
  gaphor/babel.py
  gaphor/codegen/coder.py
  gaphor/i18n.py
  gaphor/storage/parser.py
  gaphor/storage/tests/test_parser.py
  gaphor/ui/appfilemanager.py
  gaphor/ui/layout.py
  gaphor/ui/modelmerge/organize.py
  gaphor/ui/uipreview.py
  poetry.lock
  pyproject.toml
Labels: chore

#2714 Improve docs regarding plugins a little
  docs/plugins.md
Labels: documentation

#2733 Fix style sheets docs spelling error
  docs/style_sheets.md
Labels: documentation
