Repository gaphor/gaphor, pull requests merged in 2023-01, with the labels that each got.

#1977 Translations update from Hosted Weblate
  po/ru.po
  po/sv.po
  po/tr.po
Labels: translation

#1980 Russian translation updates
  po/ru.po
Labels: translation

#1981 Update to gvsbuild 2023.1.0
  .github/workflows/full-build.yml
Labels: chore

#1978 Fix PyInstaller versionfile parse error with pre-release versions
  .github/scripts/metadata.sh
  .pre-commit-config.yaml
  _packaging/gaphor.spec
  poetry.lock
  pyproject.toml
Labels: fix

#1983 Update docker image to 2023.1.0
  .github/workflows/appimage-docker.yml
  .github/workflows/full-build.yml
  _packaging/appimage/Dockerfile
  _packaging/appimage/jhbuildrc
  pyproject.toml
Labels: packaging

#1985 Russian translation updates
  po/ru.po
Labels: translation

#1976 Add CSS function completion provider
  gaphor/ui/csscompletion.py
  gaphor/ui/elementeditor.py
Labels: python

#1988 Remove translation makefile
  po/Makefile
Labels: translation

#1987 Translations update from Hosted Weblate
  po/cs.po
Labels: translation

#1994 Append `()` when inserting a CSS function
  gaphor/ui/csscompletion.py
Labels: python

#1992 Append colon and space when inserting CSS props
  gaphor/ui/csscompletion.py
Labels: python

#1989 Regression: line handles should snap to elements when moved around
  gaphor/UML/actions/activitymove.py
  gaphor/diagram/tools/__init__.py
  gaphor/diagram/tools/handlemove.py
  gaphor/diagram/tools/itemtool.py
  gaphor/diagram/tools/tests/test_handlemove.py
Labels: fix, python

#1998 Change name displayed on all-contributors
  .all-contributorsrc
Labels: skip-changelog

#1999 Update contributing guidelines
  CONTRIBUTING.md
Labels: documentation

#1996 Add CSS named color proposals
  gaphor/ui/csscompletion.py
  gaphor/ui/elementeditor.py
Labels: python

#2000 Fix translation warning never logged with missing mo files
  gaphor/i18n.py
Labels: fix, python

#2001 Spanish and Russian translation updates
  po/es.po
  po/ru.po
Labels: translation

#2003 Translations update from Hosted Weblate
  po/ru.po
Labels: translation

#1995 Add general popup menu for model browser
  gaphor/ui/layout.xml
  gaphor/ui/mainwindow.py
  gaphor/ui/modelbrowser.py
  gaphor/ui/namespace.py
  gaphor/ui/namespaceview.py
  gaphor/ui/tests/test_mainwindow.py
  gaphor/ui/tests/test_namespace.py
  gaphor/ui/tests/test_treecomponent.py
  gaphor/ui/tree.py
  gaphor/ui/treecomponent.py
  pyproject.toml
  tests/test_diagram_tools.py
Labels: python

#2005 Show something when no diagrams are opened
  gaphor/ui/diagrams.py
  gaphor/ui/diagrams.ui
  gaphor/ui/mainwindow.ui
Labels: feature, python

#2004 Show diagram name in header
  gaphor/event.py
  gaphor/ui/diagrams.py
  gaphor/ui/filemanager.py
  gaphor/ui/mainwindow.glade
  gaphor/ui/mainwindow.py
Labels: feature, python

#2011 Translations update from Hosted Weblate
  po/cs.po
  po/ru.po
Labels: translation

#2010 Apply development mode for dev releases
  gaphor/ui/greeter.py
  gaphor/ui/mainwindow.py
Labels: feature, python

#2016 Fix resource lookup for packaged Gaphor
  _packaging/use_gtk_4.py
  gaphor/ui/filedialog.py
  gaphor/ui/filemanager.py
  gaphor/ui/selftest.py
  gaphor/ui/tests/test_selftest.py
Labels: python, packaging

#2023 Czech translation update
  po/cs.po
Labels: translation

#2020 Another attempt at fixing the packaged data dirs
  .github/actions/linux_appimage/action.yml
  gaphor/ui/selftest.py
Labels: bug, python

#2031 Translations update from Hosted Weblate
  po/cs.po
  po/es.po
  po/hu.po
Labels: translation

#2027 Add support for CSS variables
  docs/style_sheets.md
  gaphor/core/styling/__init__.py
  gaphor/core/styling/declarations.py
  gaphor/core/styling/properties.py
  gaphor/core/styling/tests/test_css.py
  gaphor/core/styling/tests/test_properties.py
Labels: feature, python, documentation

#2039 Add sphinx-comments
  docs/_static/css/custom.css
  docs/_static/js/utterances.js
  docs/conf.py
Labels: documentation

#2041 Hungarian and Russian translation updates
  po/hu.po
  po/ru.po
Labels: translation

#2033 Automatic Switching to Dark Mode in Diagrams
  docs/style_sheets.md
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/stylesheet.py
  gaphor/core/styling/__init__.py
  gaphor/core/styling/compiler.py
  gaphor/core/styling/declarations.py
  gaphor/core/styling/parser.py
  gaphor/core/styling/properties.py
  gaphor/core/styling/selectors.py
  gaphor/core/styling/tests/test_compiler.py
  gaphor/core/styling/tests/test_css.py
  gaphor/core/styling/tests/test_declarations.py
  gaphor/diagram/painter.py
  gaphor/ui/diagrampage.py
  gaphor/ui/elementeditor.py
  models/Core.gaphor
Labels: feature, python

#2036 Split tips in to multiple labels
  gaphor/ui/elementeditor.glade
  gaphor/ui/elementeditor.ui
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hr.po
  po/hu.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nl.po
  po/pt_BR.po
  po/ru.po
  po/sl.po
  po/sv.po
  po/tr.po
  po/zh_Hans.po
Labels: translation

#2047 Refactor and improve model browser
  gaphor/ui/tests/test_treecomponent.py
  gaphor/ui/tests/test_treemodel.py
  gaphor/ui/treecomponent.py
  gaphor/ui/treemodel.py
  gaphor/ui/treesearch.py
Labels: chore, python

#2048 Translations update from Hosted Weblate
  po/hu.po
  po/ru.po
Labels: translation

#2052 Use normal `+` icon for new diagram dropdown
  gaphor/ui/mainwindow.ui
Labels: feature

#2050 Replace flake8, pyupgrade, docformatter, and isort with ruff
  .flake8
  .pre-commit-config.yaml
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/interface.py
  gaphor/UML/profiles/metaclasspropertypage.py
  gaphor/abc.py
  gaphor/core/modeling/elementdispatcher.py
  gaphor/core/modeling/modelinglanguage.py
  gaphor/core/modeling/tests/test_properties.py
  gaphor/diagram/diagramtoolbox.py
  gaphor/diagram/shapes.py
  gaphor/diagram/tests/fixtures.py
  gaphor/plugins/console/console.py
  gaphor/services/modelinglanguage.py
  gaphor/storage/storage.py
  gaphor/ui/diagrams.py
  gaphor/ui/menufragment.py
  gaphor/ui/tests/test_main.py
  gaphor/ui/toolbox.py
  poetry.lock
  pyproject.toml
  tests/test_placement_tools.py
  tests/test_undo.py
Labels: chore, python, skip-changelog
