Repository gaphor/gaphor, pull requests merged in 2023-12, with the labels that each got.

#2894 Fix pipx install error in Linux
  .github/actions/install/action.yml
  .github/workflows/full-build.yml
Labels: fix

#2897 Update translations for Gaphor
  po/ru.po
Labels: translation

#2904 Update labeler to be compatible with v5 release
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: bug

#2911 Update macOS icon
  _packaging/macos/Makefile
  _packaging/macos/gaphor.icns
  _packaging/macos/gaphor.iconset/icon_128x128.png
  _packaging/macos/gaphor.iconset/icon_128x128@2x.png
  _packaging/macos/gaphor.iconset/icon_16x16.png
  _packaging/macos/gaphor.iconset/icon_16x16@2x.png
  _packaging/macos/gaphor.iconset/icon_256x256.png
  _packaging/macos/gaphor.iconset/icon_32x32.png
  _packaging/macos/gaphor.iconset/icon_32x32@2x.png
  _packaging/macos/gaphor.iconset/icon_512x512.png
  _packaging/macos/gaphor.iconset/icon_512x512@2x.png
  data/logos/gaphor-mac.svg
Labels: chore, packaging

#2914 Update merge_conflicts.md
  docs/merge_conflicts.md
Labels: documentation

#2910 Add merge-node icon
  gaphor/ui/icons/Makefile
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-merge-node-symbolic.svg
  gaphor/ui/icons/stencil.svg
Labels: fix

#2917 Update translations for Gaphor
  po/de.po
Labels: translation

#2918 Fix macOS build
  .github/actions/install/action.yml
  .github/workflows/full-build.yml
Labels: fix

#2913 Fix values showing under part compartment
  CHANGELOG.md
  gaphor/SysML/blocks/block.py
Labels: python, documentation

#2906 Replace in-app notificatins by Adwaita Toasts
  gaphor/ui/help/preferences.ui
  gaphor/ui/mainwindow.py
  gaphor/ui/mainwindow.ui
  gaphor/ui/notification.py
  gaphor/ui/tests/test_notifier.py
Labels: chore, python

#2908 Fix connecting lines when model is loaded and documentation updates
  README.md
  _packaging/gaphor.spec
  _packaging/windows/versionfile_metadata.yml
  docs/conf.py
  docs/design-principles.gaphor
  docs/design_principles.md
  docs/locale/cs/LC_MESSAGES/docs.po
  docs/locale/de/LC_MESSAGES/docs.po
  docs/locale/docs.pot
  docs/locale/es/LC_MESSAGES/docs.po
  docs/locale/hr/LC_MESSAGES/docs.po
  docs/locale/nl/LC_MESSAGES/docs.po
  gaphor/UML/interactions/tests/test_message.py
  gaphor/diagram/presentation.py
  gaphor/ui/help/about.ui
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hr.po
  po/hu.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nl.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sl.po
  po/sv.po
  po/ta.po
  po/tr.po
  po/zh_Hans.po
  pyproject.toml
Labels: python, translation, packaging, documentation

#2928 Update translations for Gaphor
  po/zh_Hans.po
Labels: translation

#2934 Fix logo on readme
  README.md
Labels: documentation

#2936 Fix all contributors
  README.md
Labels: documentation

#2938 Update translations for Gaphor
  po/zh_Hans.po
Labels: translation

#2933 Doc update - Remote access to Gaphor graphic window with Codespaces
  docs/container.md
Labels: documentation

#2942 Update ⓘ icon, so it also shows on macOS
  gaphor/UML/actions/propertypages.ui
  gaphor/UML/classes/propertypages.ui
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hr.po
  po/hu.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nl.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sl.po
  po/sv.po
  po/ta.po
  po/tr.po
  po/zh_Hans.po
Labels: fix

#2949 Be very defensive about settings schema sources
  gaphor/settings.py
Labels: fix

#2436 Reapply #2329 - Gtk.ListView for Activity Parameters
  gaphor/UML/actions/activitypropertypage.py
  gaphor/UML/actions/parameter.ui
  gaphor/UML/actions/propertypages.ui
  gaphor/UML/actions/tests/test_activitypropertypage.py
  gaphor/ui/__init__.py
  gaphor/ui/modelbrowser.py
  gaphor/ui/styling.css
  gaphor/ui/tests/test_modelbrowser.py
  gaphor/ui/tests/test_treemodel.py
  gaphor/ui/textfield.py
  gaphor/ui/treeitem.ui
  gaphor/ui/treemodel.py
  gaphor/ui/treesearch.py
Labels: feature

#2896 Restore windows in maximized and fullscreened state
  gaphor/ui/mainwindow.py
  gaphor/ui/tests/test_mainwindow.py
Labels: feature

#2953 Replace deprecated use of CssProvider.load_from_data
  gaphor/ui/diagrampage.py
Labels: chore

#2952 Less padding around windows on macOS
  gaphor/ui/styling-macos.css
  gaphor/ui/styling.py
Labels: chore

#2947 Update Attributes, Operations, and Enumeration Literals editors to ListView
  gaphor/UML/actions/activitypropertypage.py
  gaphor/UML/actions/propertypages.ui
  gaphor/UML/actions/tests/test_activitypropertypage.py
  gaphor/UML/check-button-cell.ui
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/enumerationpropertypages.py
  gaphor/UML/classes/propertypages.ui
  gaphor/UML/classes/tests/test_classespropertypages.py
  gaphor/UML/classes/tests/test_propertypages.py
  gaphor/UML/propertypages.py
  gaphor/UML/text-field-cell.ui
  gaphor/diagram/propertypages.py
  gaphor/ui/styling.css
Labels: chore

#2957 Convert Parameter nodes view to use ColumnView
  gaphor/UML/actions/activitypropertypage.py
  gaphor/UML/actions/parameter.ui
  gaphor/UML/actions/propertypages.ui
Labels: chore

#2955 Apply custom window shadow to macOS and Windows
  gaphor/ui/styling-box-shadow.css
  gaphor/ui/styling.py
Labels: chore

#2960 Update to Gaphas 4.0
  gaphor/diagram/export.py
  gaphor/diagram/tests/test_instanteditors.py
  gaphor/diagram/tools/__init__.py
  gaphor/diagram/tools/dropzone.py
  gaphor/diagram/tools/itemtool.py
  gaphor/diagram/tools/magnet.py
  gaphor/diagram/tools/placement.py
  gaphor/diagram/tools/shortcut.py
  gaphor/diagram/tools/tests/conftest.py
  gaphor/diagram/tools/tests/test_dropzone.py
  gaphor/diagram/tools/tests/test_tool_set.py
  gaphor/diagram/tools/textedit.py
  poetry.lock
  tests/test_comment_line_placement.py
Labels: python

#2964 Update translations for Gaphor
  po/ru.po
Labels: translation

#2320 Replace deprecated Gtk.FileChooser by FileDialog
  gaphor/diagram/general/generalpropertypages.py
  gaphor/ui/appfilemanager.py
  gaphor/ui/filedialog.py
  gaphor/ui/tests/test_filedialog.py
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hr.po
  po/hu.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nl.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sl.po
  po/sv.po
  po/ta.po
  po/tr.po
  po/zh_Hans.po
Labels: chore

#2962 Add types for parameters
  gaphor/UML/actions/activity.py
  gaphor/UML/actions/activitypropertypage.py
  gaphor/UML/actions/propertypages.ui
  gaphor/UML/actions/tests/test_activitypropertypage.py
  gaphor/UML/classes/associationpropertypages.py
  gaphor/UML/propertypages.py
Labels: feature

#2965 Update .pot and .po files
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hr.po
  po/hu.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nl.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sl.po
  po/sv.po
  po/ta.po
  po/tr.po
  po/zh_Hans.po
Labels: translation

#2956 Convert Stereotype property editors to ListView
  gaphor/UML/actions/activitypropertypage.py
  gaphor/UML/actions/propertypages.ui
  gaphor/UML/classes/associationpropertypages.py
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/enumerationpropertypages.py
  gaphor/UML/classes/propertypages.ui
  gaphor/UML/classes/tests/test_associationpropertypages.py
  gaphor/UML/profiles/propertypages.ui
  gaphor/UML/profiles/stereotype-name-cell.ui
  gaphor/UML/profiles/stereotype-value-cell.ui
  gaphor/UML/profiles/stereotypepropertypages.py
  gaphor/UML/profiles/tests/test_stereotypepage.py
  gaphor/UML/profiles/tests/test_stereotypepropertypages.py
  gaphor/UML/propertypages.py
  gaphor/UML/recipes.py
  gaphor/UML/text-field-cell.ui
  gaphor/ui/styling.css
  test-models/stereotypes.gaphor
Labels: chore
