Repository gaphor/gaphor, pull requests merged in 2023-07, with the labels that each got.

#2406 Create a Security Policy and Run Scorecard Checks
  .github/workflows/scorecard.yml
  SECURITY.md
Labels: chore

#2409 Update translations for Gaphor
  po/fi.po
  po/hu.po
Labels: translation

#2415 Add Python 3.12 Support, Update Poetry to version 1.5.1
  .github/constraints.txt
  .github/workflows/full-build.yml
  gaphor/storage/mergeconflict.py
  gaphor/storage/tests/test_mergeconflict.py
  gaphor/ui/selftest.py
  gaphor/ui/tests/test_filemanager.py
  poetry.lock
  pyproject.toml
Labels: chore

#2420 Update translations for Gaphor
  po/es.po
Labels: translation

#2419 Fix connect interaction fragments
  gaphor/UML/interactions/interactionsconnect.py
  gaphor/UML/interactions/tests/test_messageconnect.py
Labels: bug

#2434 Revert #2329 - Gtk.ListVew for Parameters
  gaphor/UML/actions/activitypropertypage.py
  gaphor/UML/actions/parameter.ui
  gaphor/UML/actions/propertypages.ui
  gaphor/UML/actions/tests/test_activitypropertypage.py
  gaphor/ui/styling.css
  gaphor/ui/treeitem.ui
Labels: bug

#2423 Lenient derived unions
  gaphor/core/modeling/collection.py
  gaphor/core/modeling/listmixins.py
  gaphor/core/modeling/properties.py
  gaphor/core/modeling/tests/test_collection.py
  gaphor/core/modeling/tests/test_properties.py
Labels: fix

#2432 chore: clean up deprecated properties from UIComponent
  gaphor/UML/actions/tests/test_flowconnect.py
  gaphor/plugins/console/consolewindow.py
  gaphor/ui/abc.py
  tests/test_action_issue.py
Labels: chore

#2439 Fix Parameter Node and Execution Specification with Dark mode
  gaphor/SysML/blocks/proxyport.py
  gaphor/UML/actions/activity.py
  gaphor/UML/actions/pin.py
  gaphor/UML/interactions/executionspecification.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/stylesheet.py
Labels: fix

#2440 Prepare release for 2.19.3, fix dispatch tokens
  .github/workflows/full-build.yml
  CHANGELOG.md
  pyproject.toml
Labels: chore

#2441 Scale parameters to contain all text
  CHANGELOG.md
  gaphor/UML/actions/activity.py
  gaphor/UML/actions/activitypropertypage.py
  gaphor/UML/actions/tests/test_activitypropertypage.py
  gaphor/UML/classes/classespropertypages.py
  gaphor/diagram/presentation.py
  gaphor/diagram/propertypages.py
Labels: fix, python, documentation

#2410 Add SysML Requirements trace derived unions
  gaphor/SysML/sysml.py
  gaphor/SysML/tests/test_sysml.py
  models/RAAML_full.override
  models/SysML.override
  pyproject.toml
  tests/test_models_up_to_date.py
Labels: feature, python

#2442 Only use mature translations for release
  .github/actions/setup_and_test/action.yml
  CHANGELOG.md
  po/build-babel.py
  pyproject.toml
Labels: translation

#2445 Update translation for docs.gaphor.org
  docs/locale/es/LC_MESSAGES/docs.po
Labels: translation

#2460 Fix: resolve CSS style variables before using the values
  gaphor/core/styling/__init__.py
  gaphor/core/styling/tests/test_cascading.py
Labels: fix

#2469 Fix loading of ProxyPorts with informationFlow attached
  gaphor/storage/storage.py
  gaphor/storage/tests/test_storage_upgrades.py
Labels: fix

#2470 Extend model preferences section in getting started guide
  docs/getting_started.md
Labels: documentation

#2471 Prepare for 2.19.3 release
  CHANGELOG.md
  pyproject.toml
Labels: skip-changelog

#2477 Support `gaphor.__version__`
  gaphor/__init__.py
  gaphor/tests/test_version.py
Labels: feature

#2478 Only open model browser elements with a model element
  gaphor/ui/modelbrowser.py
Labels: bug

#2492 Fix operations in Blocks missing top separator
  gaphor/SysML/blocks/block.py
Labels: fix

#2479 Toggle visibility of ProxyPort.type
  gaphor/SysML/blocks/proxyport.py
  gaphor/SysML/propertypages.py
  gaphor/SysML/propertypages.ui
  gaphor/SysML/tests/test_propertypages.py
Labels: feature, python

#2493 Tree view should not collapse when an element is deleted
  gaphor/ui/tests/test_modelbrowser.py
  gaphor/ui/treemodel.py
Labels: fix

#2491 Do not remove unused Packages with childen
  gaphor/UML/sanitizerservice.py
  gaphor/UML/tests/test_sanitizerservice.py
  tests/test_package_removal.py
Labels: fix, python

#2495 Add CallBehaviorAction
  gaphor/UML/actions/__init__.py
  gaphor/UML/actions/action.py
  gaphor/UML/actions/actionspropertypages.py
  gaphor/UML/actions/actionstoolbox.py
  gaphor/UML/actions/propertypages.ui
  gaphor/UML/actions/tests/test_callbehaviouraction.py
  gaphor/UML/uml.py
  gaphor/UML/umlfmt.py
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-call-behavior-action-symbolic.svg
  models/UML.gaphor
Labels: python

#2499 Ensure painter is only drawing on valid diagrams
  gaphor/diagram/painter.py
Labels: fix

#2494 Format pins by their name
  gaphor/UML/tests/test_umlfmt.py
  gaphor/UML/umlfmt.py
Labels: fix

#2509 Fix dependency error by upgrading PyYAML
  poetry.lock
Labels: chore

#2502 Replaced GtkCheckButton with GtkSwitch
  gaphor/diagram/propertypages.py
  gaphor/diagram/propertypages.ui
Labels: python

#2512 Update translation for docs.gaphor.org
  docs/locale/hr/LC_MESSAGES/docs.po
Labels: translation

#2515 Providing value for 'Show value' in properties page
  gaphor/SysML/propertypages.py
Labels: python

#2518 Update translation for docs.gaphor.org
  docs/locale/hr/LC_MESSAGES/docs.po
Labels: translation

#2517 Update translations for Gaphor
  po/hr.po
Labels: translation

#2526 Direct association
  gaphor/SysML/blocks/blockstoolbox.py
  gaphor/UML/classes/association.py
  gaphor/UML/classes/classconnect.py
  gaphor/UML/classes/classestoolbox.py
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-direct-association-symbolic.svg
Labels: python

#2527 Fix error when inverting association
  gaphor/UML/classes/associationpropertypages.py
Labels: python

#2475 Deep copy for packages and diagrams
  docs/conf.py
  docs/modeling_language.md
  gaphor/UML/actions/copypaste.py
  gaphor/UML/actions/tests/test_copypaste.py
  gaphor/UML/tests/test_copypaste.py
  gaphor/diagram/copypaste.py
  gaphor/diagram/propertypages.py
  gaphor/diagram/tests/fixtures.py
  gaphor/diagram/tests/test_copypaste.py
  gaphor/diagram/tests/test_copypaste_full.py
  gaphor/diagram/tests/test_copypaste_grouping.py
  gaphor/diagram/tests/test_copypaste_link.py
  gaphor/ui/copyservice.py
  gaphor/ui/tests/test_copyservice.py
  tests/test_model_consistency.py
  tests/test_multiple_associations.py
Labels: feature

#2513 Separate build and test
  .coveragerc
  .github/actions/install/action.yml
  .github/workflows/full-build.yml
  .github/workflows/hypothesis-test.yml
  pyproject.toml
Labels: chore

#2525 Fix notes: should be applied to model elements
  gaphor/diagram/propertypages.py
  gaphor/diagram/tests/test_propertypages.py
  gaphor/storage/parser.py
  gaphor/storage/storage.py
  gaphor/storage/tests/test_storage_upgrades.py
Labels: fix

#2498 Document parse format and Element
  docs/modeling_language.md
  docs/models/core.md
  docs/models/core_element.rst
  gaphor/core/modeling/element.py
Labels: documentation

#2519 Allow only changing element ownership in the same model
  gaphor/diagram/group.py
  gaphor/diagram/tests/test_group.py
Labels: fix

#2529 Fix weird pin rendering
  gaphor/diagram/shapes.py
  gaphor/ui/filedialog.py
Labels: fix

#2534 Pin type multiplicity
  gaphor/UML/actions/actionspropertypages.py
  gaphor/UML/actions/pin.py
  gaphor/UML/actions/propertypages.ui
  gaphor/UML/tests/test_umlfmt.py
  gaphor/UML/umlfmt.py
Labels: python

#2539 Fix Picaso mode
  gaphor/C4Model/diagramitems/database.py
  gaphor/C4Model/diagramitems/person.py
  gaphor/RAAML/fta/andgate.py
  gaphor/RAAML/fta/basicevent.py
  gaphor/RAAML/fta/houseevent.py
  gaphor/RAAML/fta/inhibitgate.py
  gaphor/RAAML/fta/majorityvotegate.py
  gaphor/RAAML/fta/notgate.py
  gaphor/RAAML/fta/orgate.py
  gaphor/RAAML/fta/seqgate.py
  gaphor/RAAML/fta/transferin.py
  gaphor/RAAML/fta/transferout.py
  gaphor/RAAML/fta/xorgate.py
  gaphor/RAAML/fta/zeroevent.py
  gaphor/UML/actions/action.py
  gaphor/UML/actions/activitynodes.py
  gaphor/UML/actions/partition.py
  gaphor/UML/classes/association.py
  gaphor/UML/classes/containment.py
  gaphor/UML/classes/dependency.py
  gaphor/UML/classes/interface.py
  gaphor/UML/classes/interfacerealization.py
  gaphor/UML/classes/package.py
  gaphor/UML/deployments/node.py
  gaphor/UML/interactions/interaction.py
  gaphor/UML/interactions/lifeline.py
  gaphor/UML/interactions/message.py
  gaphor/UML/states/finalstate.py
  gaphor/UML/states/state.py
  gaphor/diagram/general/comment.py
  gaphor/diagram/general/diagramitem.py
  gaphor/diagram/presentation.py
  gaphor/diagram/shapes.py
Labels: fix

#2541 Ensure a newly placed item is no longer a dropzone item.
  gaphor/diagram/tools/placement.py
Labels: fix

#2538 Avoid copy cycles when fully pasting diagram items
  gaphor/UML/copypaste.py
  gaphor/UML/tests/test_copypaste.py
  models/UML.gaphor
Labels: python

#2540 Support SysMLDiagram type and diagram type specific header formatting
  gaphor/C4Model/iconname.py
  gaphor/SysML/__init__.py
  gaphor/SysML/diagramlabel.py
  gaphor/SysML/iconname.py
  gaphor/SysML/sysml.py
  gaphor/SysML/tests/test_diagramlabel.py
  gaphor/SysML/toolbox.py
  gaphor/UML/iconname.py
  gaphor/diagram/diagramlabel.py
  gaphor/diagram/diagramtoolbox.py
  gaphor/diagram/iconname.py
  gaphor/diagram/painter.py
  gaphor/ui/modelbrowser.py
  gaphor/ui/toolbox.py
  gaphor/ui/treemodel.py
  models/SysML.gaphor
Labels: python

#2547 Update stereotype docs
  docs/stereotypes.md
Labels: documentation

#2530 Type selection for Lifelines
  gaphor/SysML/propertypages.py
  gaphor/SysML/propertypages.ui
  gaphor/SysML/tests/test_propertypages.py
  gaphor/UML/interactions/interactionspropertypages.py
  gaphor/UML/interactions/lifeline.py
  gaphor/UML/interactions/propertypages.ui
  gaphor/UML/interactions/tests/test_interactionspropertypages.py
  gaphor/UML/propertypages.py
  gaphor/UML/propertypages.ui
  gaphor/UML/uml.py
  gaphor/diagram/propertypages.py
  models/UML.gaphor
Labels: feature

#2550 Pipeline maintenance, require Python 3.10+
  .github/scripts/metadata.sh
  .github/workflows/full-build.yml
  .github/workflows/hypothesis-test.yml
  gaphor/entrypoint.py
  poetry.lock
  pyproject.toml
Labels: chore

#2542 Disallow disconnection by dragging for proxy port, activity pin after connection; ensure that activity parameter node is always stuck to the activity when moving.
  gaphor/SysML/blocks/blockmove.py
  gaphor/SysML/uicomponents.py
  gaphor/UML/actions/activitymove.py
  gaphor/diagram/tools/handlemove.py
  pyproject.toml
Labels: python

#2575 Fix displaying operations in blocks
  gaphor/SysML/blocks/block.py
Labels: python
