Repository gaphor/gaphor, pull requests merged in 2023-04, with the labels that each got.

#2201 Finnish translation update
  po/fi.po
Labels: translation

#2203 Merge editor now compare incoming changes with common ancestor commit
  docs/merge_conflicts.md
  gaphor/core/changeset/compare.py
  gaphor/core/changeset/tests/test_compare.py
  gaphor/storage/mergeconflict.py
  gaphor/storage/tests/test_mergeconflict.py
  gaphor/ui/filemanager.py
  gaphor/ui/modelmerge/organize.py
  gaphor/ui/modelmerge/tests/test_organize.py
  gaphor/ui/modelmerge/tests/test_organize_uml.py
Labels: feature, python, documentation

#2204 Update gvsbuild to 2023.4.0
  .github/workflows/full-build.yml
Labels: chore

#2167 Remove darkdetect dependency
  gaphor/ui/__init__.py
  poetry.lock
  pyproject.toml
Labels: python

#2211 Update flatpak build
  .github/workflows/full-build.yml
  org.gaphor.Gaphor.json
Labels: chore

#1960 Make operations visible on Blocks
  gaphor/SysML/blocks/block.py
  gaphor/SysML/propertypages.py
Labels: feature, python

#2212 Update AppImage build with GTK 4.10
  .github/workflows/full-build.yml
  _packaging/appimage/jhbuildrc
Labels: packaging

#2218 Czech translation updates
  po/cs.po
Labels: translation

#2219 Enable translation of docs
  docs/conf.py
  docs/locale/docs.pot
  poetry.lock
  pyproject.toml
Labels: feature, documentation

#2225 Translations update from Hosted Weblate
  docs/locale/hr.po
Labels: skip-changelog, documentation

#2226 Croatian, Dutch, and Finnish translation updates
  po/fi.po
  po/hr.po
  po/nl.po
Labels: translation

#2229 Croatian translation updates
  docs/locale/hr.po
Labels: documentation

#2233 Fix encoding warnings for no encoding argument
  gaphor/storage/tests/fixtures.py
Labels: python

#2234 Croatian and Tamil translation updates
  po/hr.po
  po/ta.po
Labels: translation

#2239 Croatian translation updates
  docs/locale/hr.po
Labels: documentation

#2232 Add non-goals to README
  README.md
Labels: documentation

#2244 Update Croatian translations
  docs/locale/hr.po
Labels: translation

#2243 Croatian translation updates
  po/hr.po
Labels: translation

#2247 Croatian translation updates
  docs/locale/hr.po
Labels: translation

#2246 Translations update from Hosted Weblate
  po/pl.po
Labels: translation

#2253 German, Croatian, and Turkish translation updates
  po/de.po
  po/hr.po
  po/tr.po
Labels: translation

#2255 Spanish, Croatian, German, and Hungarian translation updates
  po/de.po
  po/es.po
  po/hr.po
  po/hu.po
Labels: translation

#2258 German and Croatian translation updates
  po/de.po
  po/hr.po
Labels: translation

#2263 A quick fix for crashes in the CSS editor
  gaphor/ui/elementeditor.py
Labels: fix, python

#2265 German and Chinese translation updates
  po/de.po
  po/zh_Hans.po
Labels: translation

#2272 Update translations for Gaphor
  po/de.po
Labels: translation

#2271 Update translation for docs.gaphor.org
  docs/locale/de/LC_MESSAGES/docs.po
Labels: translation
