Repository gaphor/gaphor, pull requests merged in 2024-07, with the labels that each got.

#3370 Prepare for version 2.26.0 release
  CHANGELOG.md
  gaphor/ui/help/about.ui
  pyproject.toml
Labels: skip-changelog, documentation

#3372 Fix VirusTotal Action is Failing Release Build
  .github/actions/macos_dmg/action.yml
  .github/actions/windows_executables/action.yml
  .github/workflows/full-build.yml
Labels: skip-changelog

#3375 Update translations for Gaphor
  po/fi.po
  po/hi.po
Labels: translation

#3378 readme: Update Flathub badge
  README.md
Labels: documentation

#3382 Read-only attributes
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/klass.py
  gaphor/UML/classes/propertypages.ui
  gaphor/UML/tests/test_umlfmt.py
  gaphor/UML/umlfmt.py
Labels: feature

#3373 Be more lenient with association end multiplicity
  gaphor/UML/tests/test_umllex.py
  gaphor/UML/umllex.py
Labels: feature

#3384 Fix undo and recovery of Dependency type
  gaphor/UML/actions/flowconnect.py
  gaphor/UML/classes/dependency.py
  gaphor/UML/classes/dependencypropertypages.py
  gaphor/UML/recipes.py
  gaphor/core/modeling/__init__.py
  gaphor/core/modeling/element.py
  gaphor/core/modeling/event.py
  gaphor/services/tests/test_undomanager.py
  gaphor/services/undomanager.py
  gaphor/storage/recovery.py
  gaphor/storage/tests/test_recovery_recorder.py
Labels: fix

#3383 Fix exception when dropping an association on a diagram
  gaphor/UML/classes/association.py
  gaphor/UML/classes/associationpropertypages.py
Labels: fix

#3398 Update translations for Gaphor
  po/ru.po
Labels: translation

#3397 Support macOS ARM (Apple Silicon)
  .github/actions/macos_dmg/action.yml
  .github/workflows/full-build.yml
  gaphor/ui/selftest.py
Labels: feature

#3402 Update nickname .all-contributorsrc
  .all-contributorsrc
Labels: skip-changelog

#3395 Some documentation updates
  docs/design_principles.md
  docs/gaphor-services.md
  docs/plugins.md
  docs/windows.md
Labels: documentation

#3394 Remove ServiceEvent
  gaphor/application.py
  gaphor/core/modeling/event.py
  gaphor/core/modeling/tests/test_elementfactory.py
  gaphor/event.py
  gaphor/i18n.py
  gaphor/main.py
  gaphor/services/tests/test_properties.py
  gaphor/services/undomanager.py
  gaphor/tests/test_application.py
  gaphor/ui/__init__.py
  gaphor/ui/filemanager.py
  gaphor/ui/mainwindow.py
  gaphor/ui/tests/test_lifecycle.py
  gaphor/ui/tests/test_modelchanged.py
  tests/test_architecture.py
  tests/test_session_recovery.py
Labels: chore

#3396 Show main window first when loading model from command line
  gaphor/application.py
  gaphor/event.py
  gaphor/ui/filemanager.py
  gaphor/ui/greeter.py
Labels: fix

#3401 More linting rules
  .github/workflows/full-build.yml
  .pre-commit-config.yaml
  _packaging/windows/build-win-installer.py
  gaphor/RAAML/fta/majorityvotegate.py
  gaphor/UML/actions/action.py
  gaphor/UML/actions/activitynodes.py
  gaphor/UML/actions/partition.py
  gaphor/UML/classes/tests/test_associationconnect.py
  gaphor/UML/profiles/tests/test_stereotypepropertypages.py
  gaphor/core/styling/tests/test_compiler.py
  gaphor/core/styling/tests/test_declarations.py
  gaphor/diagram/tests/test_copypaste_full.py
  gaphor/diagram/tests/test_copypaste_grouping.py
  gaphor/diagram/tests/test_shapes.py
  gaphor/plugins/console/console.py
  gaphor/services/tests/test_undo_diagram.py
  gaphor/storage/tests/fixtures.py
  gaphor/ui/diagrampage.py
  gaphor/ui/installschemas/__init__.py
  gaphor/ui/tests/test_actiongroup.py
  gaphor/ui/tests/test_lifecycle.py
  po/build-babel.py
  pyproject.toml
  tests/test_plugins.py
Labels: skip-changelog

#3385 Stm trigger action
  gaphor/UML/states/propertypages.py
  gaphor/UML/states/propertypages.ui
  gaphor/UML/states/transition.py
  gaphor/UML/uml.py
  models/UML.gaphor
Labels: python

#3405 Add a special C4 Dependency with a technology field
  gaphor/C4Model/c4model.py
  gaphor/C4Model/diagramitems/__init__.py
  gaphor/C4Model/diagramitems/dependency.py
  gaphor/C4Model/iconname.py
  gaphor/C4Model/propertypages.py
  gaphor/C4Model/toolbox.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/tests/test_style_attributes.py
  gaphor/diagram.css
  models/C4Model.gaphor
Labels: feature

#3406 Prepare for RTD migration to Addons
  docs/conf.py
Labels: skip-changelog

#3408 Update translations for Gaphor
  po/pl.po
Labels: translation

#3409 Update translation for docs.gaphor.org
  docs/locale/es/LC_MESSAGES/docs.po
Labels: translation

#3411 Update translation for docs.gaphor.org
  docs/locale/es/LC_MESSAGES/docs.po
Labels: translation

#3415 Use Gdk.Event.triggers_context_menu()
  gaphor/ui/diagrampage.py
  gaphor/ui/modelbrowser.py
Labels: chore
