Repository gaphor/gaphor, pull requests merged in 2024-08, with the labels that each got.

#3418 No longer need to set up key bindings on macos for GTK 4.16
  gaphor/ui/macosshim.py
Labels: python, skip-changelog

#3419 Remove use of deprecated Gtk.StyleContext
  gaphor/ui/greeter.py
  gaphor/ui/mainwindow.py
  gaphor/ui/modelbrowser.py
  gaphor/ui/tests/test_modelbrowser.py
Labels: chore, skip-changelog

#3416 Add C4 banking example
  docs/style_sheets.md
  gaphor/core/styling/__init__.py
  gaphor/core/styling/declarations.py
  gaphor/diagram.css
  gaphor/diagram/shapes.py
  gaphor/templates/c4model-example.gaphor
  gaphor/ui/greeter.py
  gaphor/ui/language-specs/gaphorcss.lang
Labels: documentation

#3423 Update Gvsbuild to 2024.8.0
  .github/workflows/full-build.yml
Labels: skip-changelog

#3422 Windows: add tree of files expected in docs
  docs/windows.md
Labels: documentation

#3426 Move contributes to a separate document
  .all-contributorsrc
  CONTRIBUTORS.md
  README.md
Labels: skip-changelog

#3424 Update translations for Gaphor
  po/te.po
Labels: translation

#3431 Update translations for Gaphor
  po/te.po
Labels: translation

#3437 Update translations for Gaphor
  po/ko.po
Labels: translation

#3439 Update all dependencies
  poetry.lock
Labels: skip-changelog

#3447 Add CSS example for wrapping long lines
  docs/conf.py
  docs/images/css-button.png
  docs/style-sheet-examples.gaphor
  docs/style_sheets.md
Labels: documentation

#3453 Fix Windows and macOS Build
  .github/constraints.txt
  .github/workflows/full-build.yml
  _packaging/hook-pydot.py
  docs/windows.md
Labels: chore, documentation

#3430 Select single image file and avoid accessing image attributes after close
  gaphor/diagram/general/generalpropertypages.py
  gaphor/ui/filedialog.py
  gaphor/ui/tests/test_filedialog.py
Labels: python

#3433 Automatically update Gvsbuild version
  .github/constraints.txt
  .github/workflows/gvsbuild-updater.yml
Labels: chore

#3454 Fix unowned elements
  gaphor/SysML/blocks/connectors.py
  gaphor/UML/recipes.py
  gaphor/UML/tests/test_recipes.py
  gaphor/ui/modelbrowser.py
  gaphor/ui/tests/test_modelbrowser.py
  gaphor/ui/treemodel.py
Labels: fix

#3449 Capture all button presses for popup menus
  gaphor/ui/diagrampage.py
  gaphor/ui/modelbrowser.py
Labels: python, skip-changelog

#3457 Fix Gvsbuild automation and Windows tests
  .github/workflows/gvsbuild-updater.yml
  gaphor/ui/tests/test_filedialog.py
Labels: python, skip-changelog

#3448 Allow spaces in string attribute value
  gaphor/UML/tests/test_umllex.py
  gaphor/UML/umllex.py
  gaphor/codegen/coder.py
Labels: python

#3461 File name width
  gaphor/services/undomanager.py
  gaphor/ui/elementeditor.ui
  gaphor/ui/mainwindow.py
  gaphor/ui/mainwindow.ui
  gaphor/ui/styling.css
Labels: fix

#3463 Update platform styling for macOS
  gaphor/ui/__init__.py
  gaphor/ui/macosshim.py
  gaphor/ui/styling-macos.css
  gaphor/ui/styling-windows.css
  gaphor/ui/styling.py
Labels: chore
