Repository gaphor/gaphor, pull requests merged in 2024-09, with the labels that each got.

#3366 Move Types to Core model
  docs/images/gaphor-core.png
  docs/models/core.rst
  gaphor/SysML/sysml.py
  gaphor/UML/copypaste.py
  gaphor/UML/uml.py
  gaphor/core/modeling/coremodel.py
  models/Core.gaphor
  models/UML.gaphor
Labels: feature

#3480 Remove pending (merge) changes from UML model
  models/UML.gaphor
Labels: skip-changelog

#3482 Update translations for Gaphor
  po/hu.po
Labels: translation

#3459 Fix root env variable not defined for Gvsbuild automation
  .github/workflows/codeql-analysis.yml
  .github/workflows/gvsbuild-updater.yml
Labels: skip-changelog

#3486 Bump Gvsbuild from 2024.8.0 to 2024.9.0
  .github/workflows/full-build.yml
Labels: skip-changelog

#3428 Pick new picture name from filename
  gaphor/diagram/diagramtoolbox.py
  gaphor/diagram/general/generalpropertypages.py
  gaphor/diagram/general/tests/.png
  gaphor/diagram/general/tests/test.+gaphor$48-48.png
  gaphor/diagram/general/tests/test_generalpropertypages.py
  gaphor/diagram/general/tests/test_png
  gaphor/diagram/propertypages.ui
Labels: python, translation

#3490 Update Plugin Development Docs
  docs/plugins.md
  docs/windows.md
Labels: documentation

#3462 Improve file changed notification
  gaphor/core/modeling/event.py
  gaphor/event.py
  gaphor/ui/filemanager.py
  gaphor/ui/modelchanged.py
  gaphor/ui/tests/fixtures.py
  gaphor/ui/tests/test_filemanager.py
  gaphor/ui/tests/test_mainwindow.py
  gaphor/ui/tests/test_modelchanged.py
Labels: fix, python

#3487 Fix InterfaceRealization.implementingClassifier name
  gaphor/UML/classes/interfacerealization.py
  gaphor/UML/classes/tests/test_realizationconnect.py
  gaphor/UML/uml.py
  gaphor/storage/tests/test_storage_uml_2_5_upgrade.py
  gaphor/storage/tests/test_storage_upgrades.py
  models/UML.gaphor
Labels: fix

#3488 Fix recursive updates for association property editor
  gaphor/UML/classes/associationpropertypages.py
Labels: fix

#3497 Add option to export all diagrams from UI (same as CLI)
  gaphor/plugins/diagramexport/__init__.py
  gaphor/plugins/diagramexport/exportall.py
  gaphor/plugins/diagramexport/exportcli.py
Labels: python

#3500 Update macOS docs for installing libffi
  docs/macos.md
Labels: documentation

#3501 Bump version and update changelog
  CHANGELOG.md
  pyproject.toml
Labels: skip-changelog

#3479 Fixed drop of ObjectFlow, ControlFlow, Pin; Fixed autolayout
  gaphor/UML/actions/activitynodes.py
  gaphor/UML/actions/tests/test_drop.py
  gaphor/UML/drop.py
  gaphor/UML/tests/test_drop.py
  gaphor/diagram/drop.py
  gaphor/plugins/autolayout/pydot.py
  gaphor/plugins/autolayout/tests/test_pydot.py
Labels: fix

#3512 Update translations for Gaphor
  po/fr.po
Labels: translation

#3513 Fix Sphinx extension relative image path for out of source builds
  gaphor/extensions/sphinx.py
Labels: fix
