Repository gaphor/gaphor, pull requests merged in 2024-04, with the labels that each got.

#3224 Associate Action with right Partition
  docs/modeling_language.md
  gaphor/SysML/drop.py
  gaphor/UML/actions/__init__.py
  gaphor/UML/actions/drop.py
  gaphor/UML/actions/partition.py
  gaphor/UML/actions/tests/test_actionseditors.py
  gaphor/UML/actions/tests/test_drop.py
  gaphor/UML/classes/tests/test_classeseditors.py
  gaphor/UML/drop.py
  gaphor/UML/interactions/drop.py
  gaphor/UML/recipes.py
  gaphor/UML/states/__init__.py
  gaphor/UML/states/drop.py
  gaphor/UML/states/dropzone.py
  gaphor/UML/states/propertypages.py
  gaphor/UML/states/region.py
  gaphor/UML/states/state.py
  gaphor/UML/states/statemachine.py
  gaphor/UML/states/tests/test_drop.py
  gaphor/UML/states/tests/test_states.py
  gaphor/UML/uicomponents.py
  gaphor/UML/umloverrides.py
  gaphor/codegen/coder.py
  gaphor/conftest.py
  gaphor/core/modeling/collection.py
  gaphor/core/modeling/diagram.py
  gaphor/diagram/drop.py
  gaphor/diagram/general/tests/test_generaleditors.py
  gaphor/diagram/shapes.py
  gaphor/diagram/support.py
  gaphor/diagram/tests/test_instanteditors.py
  gaphor/diagram/tools/dropzone.py
  gaphor/diagram/tools/placement.py
  gaphor/diagram/tools/tests/conftest.py
  gaphor/diagram/tools/tests/test_dropzone.py
  gaphor/ui/__init__.py
Labels: fix

#3240 ui: Use translatable=yes
  gaphor/ui/help/preferences.ui
Labels: chore

#3236 Add some documentation on contributing
  docs/contribute.md
  docs/index.rst
Labels: documentation

#3241 Updates to getting-started documentation and coffee-machine tutorial
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  docs/coffee_machine.md
  docs/coffee_machine_concept.md
  docs/coffee_machine_logical.md
  docs/contribute.md
  docs/getting_started.md
  docs/linux.md
  docs/macos.md
  docs/windows.md
  examples/coffee-machine.gaphor
  poetry.lock
  pyproject.toml
Labels: documentation

#3243 Update translations for Gaphor
  po/ru.po
Labels: translation

#3246 Cleanup some encoding warnings
  gaphor/ui/tests/test_filemanager.py
  gaphor/ui/tests/test_modelchanged.py
Labels: chore

#3248 Remove change log from translations
  docs/changelog.rst
Labels: documentation

#3233 Use Python3.12 on CI
  .github/constraints.txt
  .github/workflows/codeql-analysis.yml
  .github/workflows/full-build.yml
  .github/workflows/hypothesis-test.yml
Labels: chore

#3251 Prep for version 2.25.0 release
  CHANGELOG.md
  gaphor/ui/help/about.ui
  pyproject.toml
Labels: skip-changelog, documentation

#3249 Control visibility of requirements
  gaphor/SysML/propertypages.py
  gaphor/SysML/propertypages.ui
  gaphor/SysML/requirements/requirement.py
  gaphor/SysML/tests/test_propertypages.py
  gaphor/diagram/presentation.py
Labels: python

#3257 Update translation for docs.gaphor.org
  docs/locale/it/LC_MESSAGES/docs.po
Labels: translation

#3254 Follow-up PR for cancellation of transactions
  docs/framework.md
  docs/index.rst
  docs/transaction.md
  docs/undo.md
  gaphor/UML/sanitizerservice.py
  gaphor/UML/tests/test_sanitizerservice.py
  gaphor/conftest.py
  gaphor/core/modeling/event.py
  gaphor/diagram/_connector.py
  gaphor/diagram/presentation.py
  gaphor/diagram/tools/shortcut.py
  gaphor/diagram/tools/tests/test_txtool.py
  gaphor/diagram/tools/txtool.py
  gaphor/event.py
  gaphor/services/tests/test_undomanager.py
  gaphor/services/undomanager.py
  gaphor/transaction.py
  gaphor/ui/diagrampage.py
Labels: bug

#3264 Fix: deal with absense of attributes
  gaphor/core/styling/compiler.py
  gaphor/core/styling/tests/test_compiler.py
Labels: fix

#3272 Workaround: Install GTK 4.14.0 on macOS untill 4.14.4 is available
  .github/workflows/full-build.yml
  _packaging/gtk4.rb
Labels: packaging

#3276 Add the zoom buttons back
  gaphor/ui/mainwindow.ui
Labels: fix

#3283 Windows: Fix couldn't load MyriadPro font warning
  gaphor/ui/icons/hicolor/scalable/emblems/SysML.svg
Labels: fix

#3277 Update screenshots for newer libadwaita style
  docs/images/coffee-machine-pillars.png
  docs/images/coffee-machine-top-level-packages.png
  docs/images/css-button.png
  docs/images/first-model-class.png
  docs/images/first-model-generalization.png
  docs/images/first-model-new-diagram-popup.png
  docs/images/gaphor-core.png
  models/RAAML.gaphor
Labels: documentation

#3280 Prepare for 2.25.1 release
  CHANGELOG.md
  gaphor/ui/help/about.ui
  pyproject.toml
Labels: skip-changelog
