Repository gaphor/gaphor, pull requests merged in 2024-10, with the labels that each got.

#3507 Windows docs: Add Graphviz to path
  docs/windows.md
Labels: documentation

#3516 Bump Gvsbuild from 2024.9.0 to 2024.10.0
  .github/workflows/full-build.yml
Labels: skip-changelog

#3518 Add OpenSSF status badge
  README.md
Labels: documentation

#3521 Update about dialog with new contributors
  .github/actions/macos_dmg/action.yml
  .github/workflows/full-build.yml
  gaphor/ui/help/about.ui
Labels: skip-changelog

#3524 Fix macOS release upload
  .github/actions/macos_dmg/action.yml
  .github/workflows/full-build.yml
Labels: skip-changelog

#3532 Update translations for Gaphor
  po/fi.po
Labels: translation

#3529 Remove custom macOS keybindings
  gaphor/ui/__init__.py
  gaphor/ui/macosshim.py
  gaphor/ui/tests/test_macosshim.py
Labels: skip-changelog

#3530 Separate New Base Type for KerML
  docs/models/core.rst
  gaphor/UML/copypaste.py
  gaphor/UML/states/state.py
  gaphor/UML/states/statemachine.py
  gaphor/codegen/coder.py
  gaphor/core/changeset/compare.py
  gaphor/core/modeling/__init__.py
  gaphor/core/modeling/base.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/element.py
  gaphor/core/modeling/elementdispatcher.py
  gaphor/core/modeling/elementfactory.py
  gaphor/core/modeling/presentation.py
  gaphor/core/modeling/stylesheet.py
  gaphor/diagram/copypaste.py
  gaphor/diagram/drop.py
  gaphor/diagram/group.py
  gaphor/diagram/presentation.py
  gaphor/services/undomanager.py
  gaphor/storage/parser.py
  gaphor/storage/storage.py
  gaphor/storage/upgrade_canvasitem.py
  gaphor/ui/modelbrowser.py
  models/Core.gaphor
  tests/test_auto_layouting.py
  tests/test_model_consistency.py
Labels: feature

#3537 macOS: Fix file changed notification
  gaphor/ui/modelchanged.py
Labels: fix

#3544 fix issue #3527
  gaphor/ui/tests/test_modelbrowser.py
Labels: python

#3546 macos: Fix Gaphor model file conformance
  _packaging/gaphor.spec
Labels: packaging

#3538 Fixed property pages for Dependency; added isFinalSpecialization
  .gitignore
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/dependencypropertypages.py
  gaphor/UML/classes/propertypages.ui
  gaphor/UML/classes/tests/test_classespropertypages.py
  gaphor/UML/classes/tests/test_dependencypropertypages.py
  gaphor/UML/uml.py
  gaphor/ui/styling.css
  models/UML.gaphor
Labels: python

#3541 Revert KerML changes
  docs/models/core.rst
  gaphor/C4Model/c4model.py
  gaphor/RAAML/fta/andgate.py
  gaphor/RAAML/fta/basicevent.py
  gaphor/RAAML/fta/conditionalevent.py
  gaphor/RAAML/fta/dormantevent.py
  gaphor/RAAML/fta/houseevent.py
  gaphor/RAAML/fta/inhibitgate.py
  gaphor/RAAML/fta/intermediateevent.py
  gaphor/RAAML/fta/majorityvotegate.py
  gaphor/RAAML/fta/notgate.py
  gaphor/RAAML/fta/orgate.py
  gaphor/RAAML/fta/seqgate.py
  gaphor/RAAML/fta/topevent.py
  gaphor/RAAML/fta/transferin.py
  gaphor/RAAML/fta/transferout.py
  gaphor/RAAML/fta/undevelopedevent.py
  gaphor/RAAML/fta/xorgate.py
  gaphor/RAAML/fta/zeroevent.py
  gaphor/RAAML/raaml.py
  gaphor/RAAML/stpa/controlaction.py
  gaphor/RAAML/stpa/operationalsituation.py
  gaphor/RAAML/stpa/unsafecontrolaction.py
  gaphor/SysML/blocks/block.py
  gaphor/SysML/blocks/interfaceblock.py
  gaphor/SysML/requirements/requirement.py
  gaphor/SysML/sysml.py
  gaphor/UML/classes/component.py
  gaphor/UML/classes/datatype.py
  gaphor/UML/classes/dependency.py
  gaphor/UML/classes/dependencypropertypages.py
  gaphor/UML/classes/enumeration.py
  gaphor/UML/classes/interface.py
  gaphor/UML/classes/klass.py
  gaphor/UML/classes/package.py
  gaphor/UML/classes/tests/test_dependencyconnect.py
  gaphor/UML/classes/tests/test_dependencypropertypages.py
  gaphor/UML/copypaste.py
  gaphor/UML/deployments/artifact.py
  gaphor/UML/tests/test_drop.py
  gaphor/UML/tests/test_uml2.py
  gaphor/UML/uml.py
  gaphor/UML/umlfmt.py
  gaphor/UML/umloverrides.py
  gaphor/codegen/tests/test_coder.py
  gaphor/core/format.py
  gaphor/core/modeling/__init__.py
  gaphor/core/modeling/coremodel.py
  gaphor/core/modeling/element.py
  gaphor/diagram/tests/test_instanteditors.py
  gaphor/diagram/tests/test_presentation.py
  gaphor/ui/modelbrowser.py
  gaphor/ui/treemodel.py
  models/Core.gaphor
  models/UML.gaphor
Labels: chore

#3547 Update translations for Gaphor
  po/de.po
  po/nl.po
Labels: translation

#3543 Presentation class inherits directly from Base
  docs/event_system.md
  docs/framework.md
  docs/models/core.rst
  docs/models/core_services.rst
  docs/scripting.md
  docs/service_oriented.md
  gaphor/UML/classes/tests/test_copypaste.py
  gaphor/UML/profiles/tests/test_copypaste.py
  gaphor/core/eventmanager.py
  gaphor/core/modeling/coremodel.py
  gaphor/core/modeling/element.py
  gaphor/core/modeling/elementfactory.py
  gaphor/core/modeling/presentation.py
  gaphor/diagram/connectors.py
  gaphor/diagram/copypaste.py
  gaphor/storage/tests/test_storage_upgrades.py
  gaphor/ui/modelmerge/organize.py
  models/Core.gaphor
Labels: chore

#3508 Implemented drop for ActivityPartition (swimlane)
  gaphor/UML/actions/drop.py
Labels: fix
