Repository gaphor/gaphor, pull requests merged in 2024-02, with the labels that each got.

#3072 Update translations for Gaphor
  po/tr.po
Labels: translation

#3075 Fix undoing pasted items
  gaphor/core/modeling/presentation.py
  gaphor/diagram/connectors.py
  gaphor/diagram/general/tests/test_comment.py
  gaphor/diagram/tests/test_presentation.py
  tests/conftest.py
  tests/test_undo.py
Labels: fix

#3079 Update translation for docs.gaphor.org
  docs/locale/nl/LC_MESSAGES/docs.po
Labels: translation

#3089 Fix file saving for FreeDesktop Portals
  gaphor/plugins/diagramexport/__init__.py
  gaphor/plugins/xmiexport/__init__.py
  gaphor/ui/filedialog.py
  gaphor/ui/filemanager.py
  gaphor/ui/tests/test_filedialog.py
  org.gaphor.Gaphor.json
Labels: fix

#3091 Update release notes for 2.24.0
  CHANGELOG.md
Labels: skip-changelog

#3092 Update translations for Gaphor
  po/de.po
Labels: translation

#3093 Present windows, rather that setting them visible
  gaphor/plugins/console/console.py
  gaphor/ui/appfilemanager.py
  gaphor/ui/errorhandler.py
  gaphor/ui/filemanager.py
  gaphor/ui/mainwindow.py
  gaphor/ui/uipreview.py
Labels: chore

#3095 Update translations for Gaphor
  po/de.po
Labels: translation

#3096 Fix encoding in scripting example
  docs/scripting.md
Labels: documentation

#3103 Wrap requirement text
  gaphor/SysML/requirements/requirement.py
  gaphor/diagram.css
Labels: skip-changelog

#3105 Require Gaphas >=4
  poetry.lock
  pyproject.toml
Labels: skip-changelog

#3106 Update translations for Gaphor
  po/nl.po
Labels: translation

#3110 Unlock weblate
  docs/locale/docs.pot
  docs/locale/nl/LC_MESSAGES/docs.po
  pyproject.toml
Labels: skip-changelog

#3114 Update translations for Gaphor
  po/nl.po
Labels: translation

#3120 Do not quit if there are windows open after sessions are closed
  gaphor/application.py
Labels: fix

#3113 Add virus scan with VirusTotal to CI
  .github/workflows/full-build.yml
Labels: chore

#3133 Update Code of Conduct link
  README.md
Labels: chore

#3116 Add HAZOP table elements to RAAML profile
  gaphor/RAAML/raaml.py
  models/RAAML.gaphor
Labels: feature

#3125 Do not show "block" stereotype if other stereotypes are applied
  gaphor/SysML/blocks/block.py
  gaphor/SysML/blocks/tests/test_block.py
  gaphor/core/modeling/collection.py
Labels: feature

#3121 Add simple notifier for file changes
  gaphor/event.py
  gaphor/ui/filemanager.py
  gaphor/ui/layout.xml
  gaphor/ui/modelchanged.py
  gaphor/ui/modelchanged.ui
  gaphor/ui/tests/test_filemanager.py
  gaphor/ui/tests/test_mainwindow.py
  gaphor/ui/tests/test_modelchanged.py
  pyproject.toml
Labels: feature

#3131 Update translation for docs.gaphor.org
  docs/locale/nl/LC_MESSAGES/docs.po
Labels: translation

#3137 Display diagram type in model browser
  gaphor/core/format.py
Labels: feature

#3134 Create separate section for examples and templates
  gaphor/templates/raaml-example.gaphor
  gaphor/templates/raaml.gaphor
  gaphor/templates/sysml-example.gaphor
  gaphor/templates/sysml.gaphor
  gaphor/templates/uml-example.gaphor
  gaphor/templates/uml.gaphor
  gaphor/ui/greeter.py
  gaphor/ui/greeter.ui
  gaphor/ui/styling.css
Labels: feature

#3139 Change Dependabot to weekly grouped updates
  .github/dependabot.yml
Labels: chore

#3138 Only run virus scan on mainline builds
  .github/workflows/full-build.yml
Labels: chore

#3142 Find diagram in model browser
  gaphor/diagram/instanteditors.py
  gaphor/ui/diagrampage.py
  gaphor/ui/modelbrowser.py
Labels: feature

#3149 Update translation for docs.gaphor.org
  docs/locale/hu/LC_MESSAGES/docs.po
Labels: translation

#3150 Update translations for Gaphor
  po/hu.po
Labels: translation

#3144 Clean up property pages
  gaphor/SysML/propertypages.ui
  gaphor/UML/actions/propertypages.ui
  gaphor/UML/classes/propertypages.ui
  gaphor/UML/profiles/propertypages.ui
  gaphor/UML/states/propertypages.ui
  gaphor/diagram/propertypages.ui
  gaphor/ui/elementeditor.py
  gaphor/ui/help/shortcuts.ui
  gaphor/ui/styling.css
Labels: feature

#3155 docs: Fix typo “is vscode” to “in vscode”
  docs/linux.md
  docs/locale/docs.pot
  docs/macos.md
Labels: documentation
