Repository gaphor/gaphor, pull requests merged in 2024-12, with the labels that each got.

#3620 Only show status window on save for big files
  docs/linux.md
  gaphor/ui/filemanager.py
  gaphor/ui/statuswindow.py
  gaphor/ui/tests/test_main.py
Labels: skip-changelog

#3621 Update translation for docs.gaphor.org
  docs/locale/fr/LC_MESSAGES/docs.po
  docs/locale/hu/LC_MESSAGES/docs.po
Labels: translation

#3624 Fix services example docs
  docs/Makefile
  docs/gaphor-services.md
  docs/make.bat
Labels: documentation

#3625 Update translations for Gaphor
  po/hu.po
Labels: translation

#3626 Remove "schema not installed" warning from docs
  docs/gaphor-services.md
  docs/scripting.md
Labels: documentation

#3634 Update translations for Gaphor
  po/nl.po
Labels: translation

#3623 Fix issues with element remaining in model
  gaphor/ui/treemodel.py
Labels: fix

#3633 Decouple UML concepts from model browser
  gaphor/C4Model/modelinglanguage.py
  gaphor/C4Model/toolbox.py
  gaphor/RAAML/modelinglanguage.py
  gaphor/RAAML/toolbox.py
  gaphor/SysML/modelinglanguage.py
  gaphor/SysML/toolbox.py
  gaphor/UML/actions/propertypages.ui
  gaphor/UML/classes/propertypages.ui
  gaphor/UML/modelinglanguage.py
  gaphor/UML/tests/test_treemodel.py
  gaphor/UML/toolbox.py
  gaphor/UML/treeitem.ui
  gaphor/UML/treemodel.py
  gaphor/abc.py
  gaphor/core/modeling/modelinglanguage.py
  gaphor/diagram/general/modelinglanguage.py
  gaphor/diagram/propertypages.py
  gaphor/diagram/tests/fixtures.py
  gaphor/services/modelinglanguage.py
  gaphor/templates/blank.gaphor
  gaphor/ui/modelbrowser.py
  gaphor/ui/tests/test_modelbrowser.py
  gaphor/ui/tests/test_treesearch.py
  gaphor/ui/treesearch.py
  tests/test_architecture.py
Labels: feature

#3627 Move editing settings to global preferences window
  gaphor/UML/sanitizerservice.py
  gaphor/settings.py
  gaphor/ui/elementeditor.py
  gaphor/ui/elementeditor.ui
  gaphor/ui/help/__init__.py
  gaphor/ui/help/preferences.ui
  gaphor/ui/installschemas/org.gaphor.Gaphor.gschema.xml
  gaphor/ui/toolbox.py
  tests/test_remove_unused_elements.py
Labels: feature

#3628 Drop "new" from diagram menu
  gaphor/C4Model/toolbox.py
  gaphor/RAAML/toolbox.py
  gaphor/SysML/toolbox.py
  gaphor/UML/toolbox.py
  gaphor/ui/modelbrowser.py
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hi.po
  po/hr.po
  po/hu.po
  po/is.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nb_NO.po
  po/nl.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sl.po
  po/sv.po
  po/ta.po
  po/te.po
  po/tr.po
  po/zh_Hans.po
Labels: chore

#3632 Remove default model creation from file manager
  gaphor/ui/filemanager.py
  tests/test_auto_layouting.py
  tests/test_comment_line_placement.py
  tests/test_model_consistency.py
  tests/test_undo.py
Labels: chore

#3639 Update translation for docs.gaphor.org
  docs/locale/fr/LC_MESSAGES/docs.po
Labels: translation

#3629 When double-clicking on a model element, select it in diagram
  gaphor/ui/diagrams.py
  gaphor/ui/event.py
  gaphor/ui/modelbrowser.py
Labels: feature, python

#3641 Update translation for docs.gaphor.org
  docs/locale/fr/LC_MESSAGES/docs.po
Labels: translation

#3644 Update translation for docs.gaphor.org
  docs/locale/fr/LC_MESSAGES/docs.po
Labels: translation

#3650 Update plugins.md - link to gaphor_tools plugin
  docs/plugins.md
Labels: documentation

#3645 Update first_model.md - added link to sysml_distilled repo
  docs/first_model.md
Labels: documentation

#3648 Fix diagram name updates
  gaphor/ui/diagrampage.py
  gaphor/ui/diagrams.py
  gaphor/ui/selftest.py
  gaphor/ui/tests/test_modelbrowser.py
Labels: python, skip-changelog

#3656 Update translation for docs.gaphor.org
  docs/locale/fr/LC_MESSAGES/docs.po
  docs/locale/pt_BR/LC_MESSAGES/docs.po
Labels: translation

#3661 Fix critial warning in tree model
  gaphor/UML/treemodel.py
Labels: python, skip-changelog

#3666 Update translations for Gaphor
  po/fr.po
  po/ru.po
Labels: translation

#3668 Fixed bug in dropping Generalization
  gaphor/UML/drop.py
  gaphor/UML/tests/test_drop.py
  gaphor/diagram/drop.py
Labels: python

#3672 Update .all-contributorsrc
  .all-contributorsrc
Labels: skip-changelog

#3670 Update translations for Gaphor
  po/fr.po
  po/hr.po
Labels: translation

#3663 Update translation for docs.gaphor.org
  docs/locale/fr/LC_MESSAGES/docs.po
  docs/locale/hr/LC_MESSAGES/docs.po
Labels: translation

#3675 Update translations for Gaphor
  po/hr.po
Labels: translation

#3649 Diagrams as normal modeling types
  docs/models/raaml.md
  docs/models/raaml/Diagrams.rst
  docs/models/sysml.md
  docs/models/sysml/Diagrams.rst
  examples/coffee-machine.gaphor
  gaphor/C4Model/c4model.py
  gaphor/C4Model/modelinglanguage.py
  gaphor/C4Model/toolbox.py
  gaphor/RAAML/diagramitem.py
  gaphor/RAAML/raaml.py
  gaphor/RAAML/toolbox.py
  gaphor/SysML/__init__.py
  gaphor/SysML/diagramitem.py
  gaphor/SysML/diagramlabel.py
  gaphor/SysML/diagramtype.py
  gaphor/SysML/iconname.py
  gaphor/SysML/painter.py
  gaphor/SysML/sysml.py
  gaphor/SysML/tests/test_diagramlabel.py
  gaphor/SysML/tests/test_diagramtype.py
  gaphor/SysML/toolbox.py
  gaphor/UML/general/diagramitem.py
  gaphor/UML/painter.py
  gaphor/UML/toolbox.py
  gaphor/UML/uml.py
  gaphor/diagram/diagramlabel.py
  gaphor/diagram/diagramtoolbox.py
  gaphor/diagram/iconname.py
  gaphor/diagram/painter.py
  gaphor/storage/storage.py
  gaphor/storage/tests/test_storage_upgrades.py
  gaphor/ui/modelbrowser.py
  gaphor/ui/tests/test_modelbrowser.py
  models/C4Model.gaphor
  models/RAAML.gaphor
  models/SysML.gaphor
  models/UML.gaphor
  tests/test_architecture.py
Labels: feature

#3667 Show stereotypes on comments
  .github/workflows/full-build.yml
  REUSE.toml
  gaphor/C4Model/propertypages.py
  gaphor/UML/classes/dependencypropertypages.py
  gaphor/UML/classes/propertypages.ui
  gaphor/UML/general/comment.py
  gaphor/UML/general/commentpropertypage.py
  gaphor/UML/profiles/propertypages.ui
  gaphor/diagram.css
  gaphor/diagram/propertypages.py
  gaphor/diagram/propertypages.ui
Labels: feature

#3662 Render diagrams with Sphinx as Figures
  docs/models/core.rst
  docs/sphinx.rst
  gaphor/extensions/sphinx.py
Labels: feature

#3676 Fix weblate
  docs/locale/fr/LC_MESSAGES/docs.po
  docs/locale/hr/LC_MESSAGES/docs.po
Labels: skip-changelog

#3680 Update translations for Gaphor
  po/hr.po
Labels: translation

#3679 Fix toolbox hotkey showing up in editor
  gaphor/ui/diagrams.py
Labels: fix

#3678 Add reference to UML.recipes in Scripting docs
  docs/scripting.md
Labels: documentation

#3677 Alignment functions in toolbar
  gaphor/diagram/align.py
  gaphor/plugins/align/__init__.py
  gaphor/plugins/align/align.py
  gaphor/ui/actiongroup.py
  gaphor/ui/diagrampage.py
  gaphor/ui/diagrampage.ui
  gaphor/ui/modelbrowser.py
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hi.po
  po/hr.po
  po/hu.po
  po/is.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nb_NO.po
  po/nl.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sl.po
  po/sv.po
  po/ta.po
  po/te.po
  po/tr.po
  po/zh_Hans.po
  pyproject.toml
Labels: feature

#3681 Update translations for Gaphor
  po/de.po
Labels: translation

#3684 Set type on object node
  gaphor/UML/actions/activitypropertypage.py
  gaphor/UML/actions/objectnode.py
Labels: fix

#3685 Bump workflow constraint versions
  .github/constraints.txt
Labels: skip-changelog

#3687 Do not expect an owner for UML.Image
  gaphor/UML/group.py
  gaphor/UML/tests/test_group.py
  gaphor/diagram/propertypages.ui
Labels: skip-changelog

#3691 Update translation for docs.gaphor.org
  docs/locale/hr/LC_MESSAGES/docs.po
Labels: translation

#3692 Update translations for Gaphor
  po/hr.po
Labels: translation

#3689 Use frames in SysML diagrams
  gaphor/SysML/__init__.py
  gaphor/SysML/blocks/connectors.py
  gaphor/SysML/deletable.py
  gaphor/SysML/diagramframe.py
  gaphor/SysML/diagramitems.py
  gaphor/SysML/diagramtype.py
  gaphor/SysML/painter.py
  gaphor/SysML/tests/test_diagramitems.py
  gaphor/UML/actions/activity.py
  gaphor/diagram.css
Labels: feature

#3693 Boyscouting: a couple of small fixes
  gaphor/UML/actions/activity.py
  gaphor/UML/actions/activitypropertypage.py
  gaphor/UML/actions/objectnode.py
  gaphor/UML/actions/tests/test_activitypropertypage.py
  gaphor/UML/classes/tests/test_associationconnect.py
  gaphor/diagram/propertypages.py
  gaphor/diagram/styleeditor.py
  gaphor/diagram/styleeditor.ui
  gaphor/storage/tests/test_recovery_eventlog.py
  gaphor/ui/mainwindow.py
  gaphor/ui/mainwindow.ui
  tests/test_properties.py
Labels: skip-changelog

#3688 Allow to move properties and operations around in the Model Browser
  gaphor/UML/group.py
  gaphor/UML/tests/test_group.py
Labels: feature

#3695 Update translation for docs.gaphor.org
  docs/locale/ta/LC_MESSAGES/docs.po
Labels: translation

#3697 Update translations for Gaphor
  po/fi.po
  po/ta.po
Labels: translation

#3699 Fix French and Tamil Translation References
  docs/locale/cs/LC_MESSAGES/docs.po
  docs/locale/de/LC_MESSAGES/docs.po
  docs/locale/docs.pot
  docs/locale/es/LC_MESSAGES/docs.po
  docs/locale/fr/LC_MESSAGES/docs.po
  docs/locale/hr/LC_MESSAGES/docs.po
  docs/locale/hu/LC_MESSAGES/docs.po
  docs/locale/it/LC_MESSAGES/docs.po
  docs/locale/nl/LC_MESSAGES/docs.po
  docs/locale/pt_BR/LC_MESSAGES/docs.po
  docs/locale/ta/LC_MESSAGES/docs.po
  docs/locale/tr/LC_MESSAGES/docs.po
  docs/windows.md
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hi.po
  po/hr.po
  po/hu.po
  po/is.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nb_NO.po
  po/nl.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sl.po
  po/sv.po
  po/ta.po
  po/te.po
  po/tr.po
  po/zh_Hans.po
Labels: translation, documentation
