Repository gaphor/gaphor, pull requests merged in 2024-01, with the labels that each got.

#2973 Update translations for Gaphor
  po/hu.po
  po/pl.po
  po/ru.po
  po/tr.po
Labels: translation

#2970 Prepare for 2.23.0 release
  CHANGELOG.md
  gaphor/ui/help/about.ui
  pyproject.toml
Labels: skip-changelog, documentation

#2978 Update translations for Gaphor
  po/fi.po
  po/fr.po
  po/hu.po
  po/ru.po
Labels: translation

#2979 Apply Ruff to (almost) all files
  gaphor/C4Model/__init__.py
  gaphor/C4Model/diagramitems/__init__.py
  gaphor/RAAML/__init__.py
  gaphor/RAAML/diagramitems.py
  gaphor/RAAML/fta/__init__.py
  gaphor/RAAML/stpa/__init__.py
  gaphor/SysML/__init__.py
  gaphor/SysML/allocations/__init__.py
  gaphor/SysML/blocks/__init__.py
  gaphor/SysML/diagramitems.py
  gaphor/UML/__init__.py
  gaphor/UML/actions/__init__.py
  gaphor/UML/classes/__init__.py
  gaphor/UML/deployments/__init__.py
  gaphor/UML/diagramitems.py
  gaphor/UML/interactions/__init__.py
  gaphor/UML/profiles/__init__.py
  gaphor/UML/states/__init__.py
  gaphor/UML/usecases/__init__.py
  gaphor/conftest.py
  gaphor/core/__init__.py
  gaphor/core/modeling/__init__.py
  gaphor/core/styling/__init__.py
  gaphor/diagram/__init__.py
  gaphor/diagram/general/__init__.py
  gaphor/diagram/tools/__init__.py
  gaphor/plugins/__init__.py
  gaphor/plugins/align/__init__.py
  gaphor/plugins/autolayout/__init__.py
  gaphor/plugins/diagramexport/__init__.py
  gaphor/plugins/errorreports/__init__.py
  gaphor/ui/__init__.py
  gaphor/ui/help/__init__.py
  gaphor/ui/modelmerge/__init__.py
  pyproject.toml
  tests/conftest.py
Labels: chore

#2969 Fine grained CSS support
  CHANGELOG.md
  _packaging/gaphor.spec
  docs/style-sheet-examples.gaphor
  docs/style_sheets.md
  gaphor/C4Model/diagramitems/container.py
  gaphor/C4Model/diagramitems/database.py
  gaphor/C4Model/diagramitems/person.py
  gaphor/RAAML/fta/andgate.py
  gaphor/RAAML/fta/basicevent.py
  gaphor/RAAML/fta/conditionalevent.py
  gaphor/RAAML/fta/dormantevent.py
  gaphor/RAAML/fta/houseevent.py
  gaphor/RAAML/fta/inhibitgate.py
  gaphor/RAAML/fta/intermediateevent.py
  gaphor/RAAML/fta/majorityvotegate.py
  gaphor/RAAML/fta/notgate.py
  gaphor/RAAML/fta/orgate.py
  gaphor/RAAML/fta/seqgate.py
  gaphor/RAAML/fta/topevent.py
  gaphor/RAAML/fta/transferin.py
  gaphor/RAAML/fta/transferout.py
  gaphor/RAAML/fta/undevelopedevent.py
  gaphor/RAAML/fta/xorgate.py
  gaphor/RAAML/fta/zeroevent.py
  gaphor/RAAML/stpa/controlaction.py
  gaphor/RAAML/stpa/operationalsituation.py
  gaphor/RAAML/stpa/unsafecontrolaction.py
  gaphor/SysML/blocks/block.py
  gaphor/SysML/blocks/interfaceblock.py
  gaphor/SysML/blocks/property.py
  gaphor/SysML/requirements/requirement.py
  gaphor/UML/classes/component.py
  gaphor/UML/classes/datatype.py
  gaphor/UML/classes/enumeration.py
  gaphor/UML/classes/enumerationpropertypages.py
  gaphor/UML/classes/interface.py
  gaphor/UML/classes/klass.py
  gaphor/UML/classes/package.py
  gaphor/UML/classes/stereotype.py
  gaphor/UML/deployments/artifact.py
  gaphor/UML/deployments/node.py
  gaphor/UML/interactions/lifeline.py
  gaphor/UML/states/state.py
  gaphor/UML/states/statemachine.py
  gaphor/UML/usecases/actor.py
  gaphor/UML/usecases/usecase.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/stylesheet.py
  gaphor/core/styling/__init__.py
  gaphor/core/styling/compiler.py
  gaphor/core/styling/declarations.py
  gaphor/core/styling/inherit.py
  gaphor/core/styling/tests/test_compiler.py
  gaphor/core/styling/tests/test_css.py
  gaphor/core/styling/tests/test_inherit.py
  gaphor/diagram.css
  gaphor/diagram/presentation.py
  gaphor/diagram/shapes.py
  gaphor/diagram/tests/test_shapes.py
Labels: feature

#2980 Update translation for docs.gaphor.org
  docs/locale/hu/LC_MESSAGES/docs.po
  gaphor/core/styling/__init__.py
Labels: translation

#2983 Update translations for Gaphor
  po/hr.po
  po/it.po
  po/ru.po
Labels: translation

#2977 Make style sheets cascade
  docs/style-sheet-examples.gaphor
  docs/style_sheets.md
  gaphor/C4Model/diagramitems/container.py
  gaphor/C4Model/diagramitems/database.py
  gaphor/C4Model/diagramitems/person.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/presentation.py
  gaphor/core/modeling/stylesheet.py
  gaphor/core/styling/__init__.py
  gaphor/core/styling/compiler.py
  gaphor/core/styling/declarations.py
  gaphor/core/styling/inherit.py
  gaphor/core/styling/pseudo.py
  gaphor/core/styling/tests/test_compiler.py
  gaphor/core/styling/tests/test_css.py
  gaphor/core/styling/tests/test_inherit.py
  gaphor/diagram.css
  gaphor/diagram/presentation.py
  gaphor/diagram/shapes.py
  gaphor/diagram/tests/test_shapes.py
  gaphor/diagram/tests/test_styling.py
  models/UML.gaphor
Labels: feature, python, documentation

#2984 Bump dependencies and translations
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hr.po
  po/hu.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nl.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sl.po
  po/sv.po
  po/ta.po
  po/tr.po
  po/zh_Hans.po
  poetry.lock
Labels: translation

#2985 Update translations for Gaphor
  po/hr.po
Labels: translation

#2989 Remove both owner and memberNamespace in model browser
  gaphor/ui/tests/test_modelbrowser.py
  gaphor/ui/treemodel.py
Labels: fix

#2986 Update translation for docs.gaphor.org
  docs/locale/hr/LC_MESSAGES/docs.po
Labels: translation

#2998 Update translations for Gaphor
  po/hr.po
Labels: translation

#2996 Fix swimlanes
  gaphor/UML/actions/partition.py
  gaphor/UML/classes/tests/test_class.py
  gaphor/core/modeling/properties.py
  gaphor/diagram.css
  gaphor/diagram/shapes.py
Labels: fix, python

#2997 Fix attribute check
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/tests/test_style_attributes.py
  gaphor/core/styling/__init__.py
  gaphor/core/styling/pseudo.py
  gaphor/core/styling/tests/test_compiler.py
  gaphor/diagram/shapes.py
Labels: fix

#3001 Update Poetry to 1.7.1
  .github/constraints.txt
Labels: skip-changelog

#3007 Remove use of pipx in CI
  .github/actions/install/action.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/full-build.yml
  .github/workflows/hypothesis-test.yml
Labels: chore

#3002 Prepare for version 2.23.1 release
  CHANGELOG.md
  pyproject.toml
Labels: skip-changelog, documentation

#3011 Update translations for Gaphor
  po/hr.po
Labels: translation

#3018 Fix models failing to load for collection not hashable TypeError
  CHANGELOG.md
  gaphor/core/modeling/collection.py
  gaphor/core/modeling/tests/test_style_attributes.py
  pyproject.toml
Labels: fix, python, documentation

#3020 Update translations for Gaphor
  po/hu.po
Labels: translation

#3019 Fix file filters for image export dialog
  CHANGELOG.md
  gaphor/ui/filedialog.py
Labels: fix

#3025 Fix no matching distribution right after publish
  .github/workflows/full-build.yml
Labels: chore

#3028 Install Poetry as part of the RtD build
  .readthedocs.yaml
  poetry.lock
  pyproject.toml
Labels: chore

#3033 Update minimal Python version to 3.11
  gaphor/core/tests/test_eventmanager.py
  gaphor/plugins/errorreports/errorreports.py
  gaphor/plugins/errorreports/tests/test_errorreport.py
  gaphor/tests/raises.py
  gaphor/tests/test_raises.py
  poetry.lock
  pyproject.toml
  tests/test_undo.py
Labels: chore

#3029 Make greeter window insensitive when a model is selected
  gaphor/ui/greeter.py
Labels: chore

#3039 Install schemas from a gaphor subcommand
  .github/actions/install/action.yml
  _packaging/gaphor.spec
  gaphor/settings.py
  gaphor/ui/installschemas/__init__.py
  gaphor/ui/installschemas/org.gaphor.Gaphor.gschema.xml
  gaphor/ui/installschemas/tests/test_installschemas.py
  org.gaphor.Gaphor.json
  pyproject.toml
Labels: feature

#3042 Give the diagram a default "view" background
  gaphor/ui/diagrampage.py
Labels: python

#3040 Show CSS nodes below style sheet editor
  gaphor/ui/elementeditor.py
  gaphor/ui/elementeditor.ui
  gaphor/ui/styling.css
  gaphor/ui/tests/test_elementeditor.py
Labels: feature

#3046 Deal with parameters without a name
  gaphor/UML/actions/activitypropertypage.py
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/enumerationpropertypages.py
  gaphor/ui/modelbrowser.py
Labels: fix

#3051 Update Adwaita style
  gaphor/plugins/console/consolewindow.py
  gaphor/plugins/errorreports/errorreports.py
  gaphor/plugins/errorreports/errorreports.ui
  gaphor/ui/greeter.ui
  gaphor/ui/mainwindow.ui
  gaphor/ui/styling.css
Labels: chore

#3041 Make Gaphor REUSE compliant
  .github/workflows/full-build.yml
  .reuse/dep5
  LICENSE.txt
  LICENSES/Apache-2.0.txt
  LICENSES/BSD-3-Clause.txt
  LICENSES/GPL-2.0-or-later.txt
  LICENSES/LGPL-2.1-or-later.txt
  README.md
  RELEASE_CHECKLIST.md
  _packaging/gaphor.spec
  _packaging/windows/versionfile_metadata.yml
  _packaging/windows/win_installer.nsi
  docs/conf.py
  docs/index.rst
  gaphor/__init__.py
  gaphor/ui/help/about.ui
  gaphor/ui/language-specs/gaphorcss.lang
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hr.po
  po/hu.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nl.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sl.po
  po/sv.po
  po/ta.po
  po/tr.po
  po/zh_Hans.po
Labels: feature

#3059 Build our own Gaphor bootloader
  .github/actions/windows_executables/action.yml
  .github/workflows/full-build.yml
Labels: bug

#3058 Update Gvsbuild to version 2024.1.0
  .github/workflows/full-build.yml
Labels: skip-changelog

#3055 Odds and ends
  gaphor/UML/classes/association.py
  gaphor/UML/classes/associationpropertypages.py
  gaphor/UML/classes/tests/test_association.py
  gaphor/UML/informationflow.py
  gaphor/UML/interactions/lifeline.py
  gaphor/diagram.css
  gaphor/diagram/painter.py
  gaphor/diagram/shapes.py
  gaphor/ui/elementeditor.ui
  gaphor/ui/mainwindow.ui
Labels: python
