Repository gaphor/gaphor, pull requests merged in 2024-11, with the labels that each got.

#3554 Update translations for Gaphor
  po/pt_BR.po
Labels: translation

#3509 Remove workaround for opening links on macOS
  gaphor/ui/help/__init__.py
Labels: chore, python

#3555 Move Relationship and Comment back to the UML model
  docs/models/core.rst
  gaphor/C4Model/toolbox.py
  gaphor/RAAML/toolbox.py
  gaphor/SysML/propertypages.py
  gaphor/SysML/sysml.py
  gaphor/SysML/tests/test_diagramitems.py
  gaphor/SysML/toolbox.py
  gaphor/UML/classes/association.py
  gaphor/UML/diagramitems.py
  gaphor/UML/general/__init__.py
  gaphor/UML/general/comment.py
  gaphor/UML/general/commenteditor.py
  gaphor/UML/general/commentpropertypage.py
  gaphor/UML/general/connectors.py
  gaphor/UML/general/generaltoolbox.py
  gaphor/UML/general/tests/test_comment.py
  gaphor/UML/general/tests/test_commentpropertypage.py
  gaphor/UML/general/tests/test_generaleditors.py
  gaphor/UML/sanitizerservice.py
  gaphor/UML/tests/test_diagramitems.py
  gaphor/UML/tests/test_sanitizerservice.py
  gaphor/UML/tests/test_uml2.py
  gaphor/UML/toolbox.py
  gaphor/UML/uicomponents.py
  gaphor/UML/uml.py
  gaphor/UML/umlfmt.py
  gaphor/UML/usecases/tests/test_actor.py
  gaphor/core/format.py
  gaphor/core/modeling/__init__.py
  gaphor/core/modeling/coremodel.py
  gaphor/core/modeling/element.py
  gaphor/core/modeling/tests/test_modelinglanguage.py
  gaphor/diagram/diagramtoolbox.py
  gaphor/diagram/drop.py
  gaphor/diagram/general/__init__.py
  gaphor/diagram/general/commentline.py
  gaphor/diagram/general/diagramitems.py
  gaphor/diagram/general/generalpropertypages.py
  gaphor/diagram/general/tests/test_generalpropertypages.py
  gaphor/diagram/general/tests/test_modelinglanguage.py
  gaphor/diagram/general/uicomponents.py
  gaphor/diagram/tests/test_merge.py
  gaphor/diagram/tests/test_propertypages.py
  gaphor/diagram/tools/tests/test_handlemove.py
  gaphor/plugins/autolayout/tests/test_pydot.py
  gaphor/storage/tests/test_recovery_recorder.py
  gaphor/storage/tests/test_storage.py
  gaphor/ui/modelbrowser.py
  gaphor/ui/tests/test_copyservice.py
  gaphor/ui/tests/test_diagrampage.py
  gaphor/ui/tests/test_handletool.py
  gaphor/ui/tests/test_mainwindow.py
  gaphor/ui/treemodel.py
  models/Core.gaphor
  models/UML.gaphor
  tests/test_comment_line_placement.py
  tests/test_elements_have_owner.py
  tests/test_presentations.py
Labels: chore

#3561 Update pre-commit hooks
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/full-build.yml
  .github/workflows/gvsbuild-updater.yml
  .github/workflows/hypothesis-test.yml
  .github/workflows/labeler.yml
  .github/workflows/pre-commit-updater.yml
  .github/workflows/release-drafter.yml
  .github/workflows/scorecard.yml
  .pre-commit-config.yaml
  gaphor/UML/classes/containmentconnect.py
  gaphor/action.py
  gaphor/codegen/coder.py
  gaphor/settings.py
  gaphor/ui/mainwindow.py
  gaphor/ui/modelmerge/organize.py
Labels: python, skip-changelog

#3562 Add toolbox icons for Goal Structure Notation
  gaphor/ui/icons/Makefile
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-assumption-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-context-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-goal-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-justification-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-solution-symbolic.svg
  gaphor/ui/icons/hicolor/scalable/actions/gaphor-strategy-symbolic.svg
  gaphor/ui/icons/stencil.svg
Labels: feature

#3565 Minimum macOS system version is 10.15
  _packaging/gaphor.spec
Labels: chore, packaging

#3564 UI redesign
  gaphor/ui/diagrampage.py
  gaphor/ui/diagrampage.ui
  gaphor/ui/elementeditor.py
  gaphor/ui/mainwindow.ui
  gaphor/ui/styling.css
Labels: feature

#3569 Update translations for Gaphor
  po/pl.po
Labels: translation

#3567 Make model browsers ownership concept extendible
  gaphor/core/format.py
  gaphor/diagram/deletable.py
  gaphor/ui/modelbrowser.py
  gaphor/ui/tests/test_modelbrowser.py
  gaphor/ui/tests/test_treemodel.py
  gaphor/ui/treemodel.py
Labels: feature

#3568 Replace Core Picture by UML Image
  gaphor/UML/diagramitems.py
  gaphor/UML/general/__init__.py
  gaphor/UML/general/generaltoolbox.py
  gaphor/UML/general/image.py
  gaphor/UML/general/imagepropertypage.py
  gaphor/UML/general/tests/.png
  gaphor/UML/general/tests/test.+gaphor$48-48.png
  gaphor/UML/general/tests/test_comment.py
  gaphor/UML/general/tests/test_image.py
  gaphor/UML/general/tests/test_imagepropertypage.py
  gaphor/UML/general/tests/test_png
  gaphor/UML/uicomponents.py
  gaphor/core/format.py
  gaphor/core/modeling/__init__.py
  gaphor/core/modeling/coremodel.py
  gaphor/diagram/deletable.py
  gaphor/diagram/general/__init__.py
  gaphor/diagram/general/diagramitems.py
  gaphor/diagram/general/generalpropertypages.py
  gaphor/diagram/general/picture.py
  gaphor/diagram/general/tests/test_generalpropertypages.py
  gaphor/diagram/general/tests/test_modelinglanguage.py
  gaphor/storage/storage.py
  gaphor/storage/tests/test_storage_upgrades.py
  gaphor/ui/modelbrowser.py
  gaphor/ui/tests/test_modelbrowser.py
  gaphor/ui/tests/test_treemodel.py
  gaphor/ui/treemodel.py
  models/Core.gaphor
  tests/test_architecture.py
Labels: chore

#3580 Fix macOS build and add some emojis
  .github/workflows/full-build.yml
Labels: chore, skip-changelog

#3583 Update alt texts on images in our documentation
  docs/coffee_machine.md
  docs/first_model.md
  docs/getting_started.md
  docs/merge_conflicts.md
  docs/plugins.md
  docs/stereotypes.md
  docs/style_sheets.md
Labels: documentation

#3578 Simplify StatusWindow code
  gaphor/ui/filemanager.py
  gaphor/ui/statuswindow.py
Labels: chore

#3586 Update translation for docs.gaphor.org
  docs/locale/fr/LC_MESSAGES/docs.po
Labels: translation

#3575 Update translations for Gaphor
  po/fr.po
Labels: translation

#3590 Enable double click to edit stereotype values
  gaphor/UML/profiles/propertypages.ui
  gaphor/UML/profiles/stereotype-value-cell.ui
  gaphor/UML/profiles/stereotypepropertypages.py
Labels: feature

#3589 Clean up copy/paste
  docs/conf.py
  gaphor/conftest.py
  gaphor/diagram/tools/__init__.py
  gaphor/diagram/tools/shortcut.py
  gaphor/diagram/tools/tests/test_shortcut.py
  gaphor/ui/__init__.py
  gaphor/ui/clipboard.py
  gaphor/ui/copyservice.py
  gaphor/ui/diagrampage.py
  gaphor/ui/diagrampage.ui
  gaphor/ui/diagrams.py
  gaphor/ui/diagramview.py
  gaphor/ui/mainwindow.py
  gaphor/ui/tests/test_clipboard.py
  gaphor/ui/tests/test_copyservice.py
  gaphor/ui/tests/test_diagrampage.py
  pyproject.toml
  tests/test_comment_line_placement.py
  tests/test_placement_tools.py
Labels: chore

#3592 Fix Gvsbuild and Pre-commit PR updates
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/full-build.yml
  .github/workflows/gvsbuild-updater.yml
  .github/workflows/hypothesis-test.yml
  .github/workflows/labeler.yml
  .github/workflows/pre-commit-updater.yml
  .github/workflows/release-drafter.yml
  .github/workflows/scorecard.yml
Labels: skip-changelog

#3599 Update translations for Gaphor
  po/fi.po
Labels: translation

#3593 Update translation for docs.gaphor.org
  docs/locale/fr/LC_MESSAGES/docs.po
  docs/locale/hu/LC_MESSAGES/docs.po
Labels: translation

#3608 Update translation for docs.gaphor.org
  docs/locale/fr/LC_MESSAGES/docs.po
Labels: translation

#3607 Only use UML diagrams in model consistency test
  tests/test_model_consistency.py
Labels: skip-changelog

#3610 Translation updates
  .gitignore
  docs/locale/cs/LC_MESSAGES/docs.po
  docs/locale/de/LC_MESSAGES/docs.po
  docs/locale/docs.pot
  docs/locale/es/LC_MESSAGES/docs.po
  docs/locale/fr/LC_MESSAGES/docs.po
  docs/locale/hr/LC_MESSAGES/docs.po
  docs/locale/hu/LC_MESSAGES/docs.po
  docs/locale/it/LC_MESSAGES/docs.po
  docs/locale/nl/LC_MESSAGES/docs.po
  docs/locale/pt_BR/LC_MESSAGES/docs.po
  docs/locale/tr/LC_MESSAGES/docs.po
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hi.po
  po/hr.po
  po/hu.po
  po/is.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nb_NO.po
  po/nl.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sl.po
  po/sv.po
  po/ta.po
  po/te.po
  po/tr.po
  po/zh_Hans.po
  pyproject.toml
Labels: translation

#3612 Build macOS DMG with dmgbuild
  .github/actions/macos_dmg/action.yml
  .github/workflows/full-build.yml
  _packaging/dmgbuild-settings.py
  poetry.lock
  pyproject.toml
Labels: packaging

#3495 Adwaita dialogs
  .github/workflows/full-build.yml
  gaphor/asyncio.py
  gaphor/ui/errordialog.py
  gaphor/ui/filemanager.py
  gaphor/ui/statuswindow.py
  gaphor/ui/styling.css
Labels: python

#3615 Update translations for Gaphor
  po/fr.po
Labels: translation

#3614 Update translation for docs.gaphor.org
  docs/locale/fr/LC_MESSAGES/docs.po
Labels: translation

#3616 Update translation for docs.gaphor.org
  docs/locale/fr/LC_MESSAGES/docs.po
Labels: translation

#3582 Reduce dependency on UML model in the code base
  docs/modeling_language.md
  gaphor/SysML/diagramtype.py
  gaphor/UML/actions/drop.py
  gaphor/UML/copypaste.py
  gaphor/UML/diagramitems.py
  gaphor/UML/drop.py
  gaphor/UML/general/__init__.py
  gaphor/UML/general/diagramitem.py
  gaphor/UML/interactions/drop.py
  gaphor/UML/uml.py
  gaphor/core/modeling/base.py
  gaphor/core/modeling/presentation.py
  gaphor/diagram/copypaste.py
  gaphor/diagram/drop.py
  gaphor/diagram/general/__init__.py
  gaphor/diagram/general/diagramitems.py
  gaphor/diagram/general/tests/test_modelinglanguage.py
  gaphor/diagram/tests/test_copypaste_full.py
  gaphor/diagram/tools/tests/conftest.py
  gaphor/ui/diagrampage.py
  gaphor/ui/modelmerge/organize.py
  gaphor/ui/tests/test_diagrampage.py
  models/UML.gaphor
  tests/test_architecture.py
Labels: chore

#3606 Fix undo order
  gaphor/core/modeling/base.py
  gaphor/core/modeling/presentation.py
  gaphor/core/modeling/tests/test_diagram.py
  gaphor/services/undomanager.py
  tests/test_architecture.py
Labels: fix

#3609 Move name and qualifiedName properties back to NamedElement
  gaphor/SysML/tests/test_diagramtype.py
  gaphor/UML/actions/partition.py
  gaphor/UML/classes/dependencypropertypages.py
  gaphor/UML/classes/tests/test_copypaste.py
  gaphor/UML/uml.py
  gaphor/UML/umlfmt.py
  gaphor/UML/umloverrides.py
  gaphor/codegen/coder.py
  models/UML.gaphor
  models/UML.override
Labels: chore

#3619 Update translations for Gaphor
  po/fr.po
Labels: translation

#3618 Update translation for docs.gaphor.org
  docs/locale/fr/LC_MESSAGES/docs.po
Labels: translation

#3617 Dependency should reside in a package
  gaphor/UML/classes/classconnect.py
  gaphor/UML/classes/tests/test_dependencyconnect.py
  gaphor/UML/group.py
  gaphor/storage/storage.py
  gaphor/storage/tests/test_recovery_recorder.py
  gaphor/storage/tests/test_storage_upgrades.py
  gaphor/ui/styling.css
Labels: fix

#3329 Implement StyleEditor (encompasses a Color Picker)
  gaphor/UML/actions/action.py
  gaphor/UML/actions/flow.py
  gaphor/UML/actions/partition.py
  gaphor/UML/actions/pin.py
  gaphor/UML/classes/klass.py
  gaphor/UML/classes/package.py
  gaphor/UML/deployments/node.py
  gaphor/core/modeling/__init__.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/event.py
  gaphor/core/modeling/stylesheet.py
  gaphor/diagram/propertypages.ui
  gaphor/diagram/styleeditor.py
  gaphor/diagram/styleeditor.ui
  gaphor/diagram/tests/test_styleeditor.py
  gaphor/ui/diagrampage.py
  gaphor/ui/styling.css
  gaphor/ui/tests/test_elementeditor.py
  pyproject.toml
  tests/test_architecture.py
Labels: feature
