Repository gaphor/gaphor, pull requests merged in 2024-06, with the labels that each got.

#3284 Model recovery from an event log (recovery 3/3)
  gaphor/application.py
  gaphor/conftest.py
  gaphor/diagram/_connector.py
  gaphor/diagram/connectors.py
  gaphor/diagram/segment.py
  gaphor/event.py
  gaphor/plugins/console/consolewindow.py
  gaphor/services/properties.py
  gaphor/services/tests/test_properties.py
  gaphor/settings.py
  gaphor/storage/recovery.py
  gaphor/storage/tests/test_recovery_eventlog.py
  gaphor/storage/tests/test_recovery_recorder.py
  gaphor/ui/mainwindow.py
  pyproject.toml
  tests/test_session_recovery.py
Labels: feature

#3323 Session recovery (recovery 4/3)
  gaphor/UML/sanitizerservice.py
  gaphor/application.py
  gaphor/event.py
  gaphor/main.py
  gaphor/storage/recovery.py
  gaphor/storage/tests/test_recovery_eventlog.py
  gaphor/tests/test_main.py
  gaphor/ui/__init__.py
  gaphor/ui/appfilemanager.py
  gaphor/ui/filemanager.py
  gaphor/ui/greeter.py
  gaphor/ui/selftest.py
  tests/test_session_recovery.py
Labels: feature

#3333 Fix model entry shows editable
  gaphor/UML/actions/activitypropertypage.py
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/enumerationpropertypages.py
  gaphor/UML/profiles/stereotypepropertypages.py
  gaphor/UML/propertypages.py
  gaphor/ui/modelbrowser.py
Labels: fix

#3334 pydot: clean line continuations with windows line endings
  gaphor/plugins/autolayout/pydot.py
  gaphor/plugins/autolayout/tests/test_pydot.py
Labels: fix

#3335 Fix issue when recovering from split and merged segments
  gaphor/core/modeling/presentation.py
  gaphor/diagram/presentation.py
  gaphor/storage/recovery.py
  tests/test_session_recovery.py
Labels: skip-changelog

#3341 fixed execution issues in scripting docs
  docs/scripting.md
  gaphor/entrypoint.py
Labels: python, documentation

#3336 Diagram stereotypes
  gaphor/diagram.css
  gaphor/diagram/general/diagramitem.py
  gaphor/diagram/painter.py
  gaphor/event.py
  gaphor/storage/recovery.py
  tests/test_architecture.py
Labels: feature

#3338 Ellipsize long texts at the end
  gaphor/ui/textfield.py
Labels: fix

#3343 Improve check to avoid cycles in ownership
  gaphor/diagram/group.py
  gaphor/ui/tests/test_modelbrowser.py
Labels: fix

#3353 Fix select association AssertionError
  gaphor/UML/classes/associationpropertypages.py
Labels: fix

#3362 Update translation for docs.gaphor.org
  docs/locale/hr/LC_MESSAGES/docs.po
Labels: translation

#3360 Change Gaphor logo: SysML/UML Modeling
  README.md
  data/logos/gaphor-logo-full-black.svg
  data/logos/gaphor-logo-full-white.svg
  data/logos/gaphor-logo-full.svg
  docs/_static/gaphor-logo-full-black.svg
  docs/_static/gaphor-logo-full-white.svg
Labels: documentation

#3361 Update translations for Gaphor
  po/hr.po
Labels: translation

#3357 Property Pages can now wire up services
  docs/locale/cs/LC_MESSAGES/docs.po
  docs/locale/de/LC_MESSAGES/docs.po
  docs/locale/docs.pot
  docs/locale/es/LC_MESSAGES/docs.po
  docs/locale/hr/LC_MESSAGES/docs.po
  docs/locale/hu/LC_MESSAGES/docs.po
  docs/locale/it/LC_MESSAGES/docs.po
  docs/locale/nl/LC_MESSAGES/docs.po
  docs/locale/pt_BR/LC_MESSAGES/docs.po
  docs/locale/tr/LC_MESSAGES/docs.po
  docs/undo.md
  gaphor/C4Model/propertypages.py
  gaphor/C4Model/tests/test_propertypages.py
  gaphor/SysML/propertypages.py
  gaphor/SysML/tests/test_propertypages.py
  gaphor/UML/actions/actionspropertypages.py
  gaphor/UML/actions/activitypropertypage.py
  gaphor/UML/actions/partitionpage.py
  gaphor/UML/actions/tests/test_actionspropertypages.py
  gaphor/UML/actions/tests/test_activitypropertypage.py
  gaphor/UML/actions/tests/test_partitionpage.py
  gaphor/UML/classes/associationpropertypages.py
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/dependencypropertypages.py
  gaphor/UML/classes/enumerationpropertypages.py
  gaphor/UML/classes/tests/test_associationpropertypages.py
  gaphor/UML/classes/tests/test_classespropertypages.py
  gaphor/UML/classes/tests/test_dependencypropertypages.py
  gaphor/UML/classes/tests/test_enumerationpropertypages.py
  gaphor/UML/interactions/interactionspropertypages.py
  gaphor/UML/interactions/tests/test_interactionspropertypages.py
  gaphor/UML/profiles/metaclasspropertypage.py
  gaphor/UML/profiles/stereotypepropertypages.py
  gaphor/UML/profiles/tests/test_metaclasspropertypage.py
  gaphor/UML/profiles/tests/test_stereotypepage.py
  gaphor/UML/profiles/tests/test_stereotypepropertypages.py
  gaphor/UML/propertypages.py
  gaphor/UML/states/propertypages.py
  gaphor/UML/states/tests/test_propertypages.py
  gaphor/application.py
  gaphor/core/__init__.py
  gaphor/diagram/general/generalpropertypages.py
  gaphor/diagram/general/tests/test_generalpropertypages.py
  gaphor/diagram/propertypages.py
  gaphor/diagram/tests/test_propertypages.py
  gaphor/services/componentregistry.py
  gaphor/services/tests/test_componentregistry.py
  gaphor/services/tests/test_undo_presentation.py
  gaphor/tests/test_settings.py
  gaphor/transaction.py
  gaphor/ui/elementeditor.py
  gaphor/ui/tests/test_elementeditor.py
  tests/test_composite_association.py
Labels: chore

#3363 Fix deletion of attribute/operation in element editor
  gaphor/UML/actions/activitypropertypage.py
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/enumerationpropertypages.py
Labels: bug
