Repository gaphor/gaphor, pull requests merged in 2024-05, with the labels that each got.

#3282 Re-enable auto-layout tests
  tests/test_auto_layouting.py
Labels: fix

#3290 Update translations for Gaphor
  po/it.po
Labels: translation

#3294 Skip plugin test if internet is not available
  tests/test_plugins.py
Labels: chore

#3278 Ignore event_type to prevent unexpected model changed popup
  gaphor/ui/filemanager.py
Labels: fix

#3295 Docs: add info about scripting updates to existing elements
  docs/scripting.md
Labels: documentation

#3296 Ensure the diagram always has default focus
  gaphor/storage/storage.py
  gaphor/ui/diagrams.py
Labels: fix

#3301 Script docs validation example
  docs/scripting.md
Labels: documentation

#3300 Add Hindi translation for Gaphor
  po/hi.po
Labels: translation

#3302 Windows: Download GTK instead of building
  .github/actions/install/action.yml
  .github/actions/windows_executables/action.yml
  .github/workflows/full-build.yml
  .github/workflows/hypothesis-test.yml
  docs/windows.md
Labels: chore

#3303 Use Python 3.12 with readthedocs, bump dependencies
  .github/constraints.txt
  .readthedocs.yaml
  CHANGELOG.md
Labels: skip-changelog

#3310 Adding instructions for anaconda install
  docs/windows.md
Labels: documentation

#3318 Update translations for Gaphor
  po/es.po
Labels: translation

#3308 Some cleanup and boyscouting
  .github/workflows/hypothesis-test.yml
  README.md
  gaphor/diagram.css
  gaphor/ui/diagrams.py
  test-models/all-elements-v2.5.gaphor
  test-models/codegen-extension.gaphor
  test-models/dbus.gaphor
  test-models/decision-fork-nodes.gaphor
  test-models/information-flow.gaphor
  test-models/interaction.gaphor
  test-models/stereotypes.gaphor
  tests/conftest.py
  tests/test_auto_layouting.py
Labels: skip-changelog

#3317 Fix Hypothesis Tests action timeout
  po/es.po
  tests/test_auto_layouting.py
  tests/test_model_consistency.py
Labels: chore, translation

#3319 Get rid of ModelLoaded event (recovery 1/3)
  gaphor/application.py
  gaphor/core/modeling/elementfactory.py
  gaphor/core/modeling/event.py
  gaphor/core/modeling/tests/test_elementfactory.py
  gaphor/event.py
  gaphor/services/properties.py
  gaphor/services/tests/test_properties.py
  gaphor/services/undomanager.py
  gaphor/storage/storage.py
  gaphor/tests/test_application.py
  gaphor/ui/elementeditor.py
  gaphor/ui/filemanager.py
  gaphor/ui/mainwindow.py
  gaphor/ui/modelchanged.py
  gaphor/ui/modelmerge/editor.py
  gaphor/ui/recentfiles.py
  gaphor/ui/tests/test_modelbrowser.py
  gaphor/ui/tests/test_recentfiles.py
  tests/run_with_merge_conflict.py
Labels: chore

#3322 Preparation for Model recovery functionality (recovery 2/3)
  gaphor/UML/sanitizerservice.py
  gaphor/diagram/__init__.py
  gaphor/diagram/_connector.py
  gaphor/diagram/connectors.py
  gaphor/diagram/segment.py
  gaphor/diagram/tests/test_segment.py
  gaphor/diagram/tools/__init__.py
  gaphor/services/undomanager.py
  gaphor/storage/storage.py
  gaphor/ui/diagrams.py
  gaphor/ui/elementeditor.py
  gaphor/ui/mainwindow.py
Labels: chore
