Repository gaphor/gaphor, pull requests merged in 2024-03, with the labels that each got.

#3145 Update dependencies and translations
  .github/constraints.txt
  .readthedocs.yaml
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hr.po
  po/hu.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nl.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sl.po
  po/sv.po
  po/ta.po
  po/tr.po
  po/zh_Hans.po
  poetry.lock
Labels: skip-changelog

#3159 Update translations for Gaphor
  po/nl.po
Labels: translation

#3161 Fix env variables aren't accessible within job.if
  .github/workflows/full-build.yml
Labels: skip-changelog

#3164 Update translations for Gaphor
  po/ru.po
Labels: translation

#3148 Element selected in Model Browser shows in Property Editor
  gaphor/SysML/propertypages.py
  gaphor/SysML/tests/test_propertypages.py
  gaphor/UML/actions/actionspropertypages.py
  gaphor/UML/actions/activitypropertypage.py
  gaphor/UML/actions/propertypages.ui
  gaphor/UML/actions/tests/test_actionspropertypages.py
  gaphor/UML/actions/tests/test_activitypropertypage.py
  gaphor/UML/classes/associationpropertypages.py
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/enumerationpropertypages.py
  gaphor/UML/classes/propertypages.ui
  gaphor/UML/classes/tests/test_associationpropertypages.py
  gaphor/UML/classes/tests/test_classespropertypages.py
  gaphor/UML/classes/tests/test_enumerationpropertypages.py
  gaphor/UML/profiles/propertypages.ui
  gaphor/UML/profiles/stereotypepropertypages.py
  gaphor/UML/profiles/tests/test_stereotypepage.py
  gaphor/UML/profiles/tests/test_stereotypepropertypages.py
  gaphor/UML/propertypages.py
  gaphor/UML/propertypages.ui
  gaphor/core/modeling/element.py
  gaphor/diagram/event.py
  gaphor/diagram/propertypages.ui
  gaphor/diagram/tools/__init__.py
  gaphor/diagram/tools/itemtool.py
  gaphor/plugins/align/align.py
  gaphor/ui/diagrampage.py
  gaphor/ui/diagrams.py
  gaphor/ui/elementeditor.py
  gaphor/ui/event.py
  gaphor/ui/modelbrowser.py
  tests/test_composite_association.py
Labels: feature, python

#3166 Check for print statements
  _packaging/windows/build-win-installer.py
  examples/list_classes.py
  gaphor/codegen/override.py
  gaphor/codegen/tests/test_coder.py
  gaphor/main.py
  gaphor/services/properties.py
  gaphor/tests/run_script.py
  gaphor/ui/appfilemanager.py
  gaphor/ui/installschemas/__init__.py
  gaphor/ui/tests/test_mainwindow.py
  gaphor/ui/uipreview.py
  po/check-babel.py
  pyproject.toml
  tests/test_elements_have_owner.py
Labels: python, translation, packaging

#3170 Update translations for Gaphor
  po/cs.po
Labels: translation

#3175 Update translations for Gaphor
  po/nb_NO.po
Labels: translation

#3172 Refactor align service and cleanup unused arguments
  gaphor/plugins/align/align.py
  gaphor/ui/filemanager.py
  gaphor/ui/tests/test_filemanager.py
  tests/test_package_removal.py
Labels: chore

#3173 Fix retain relations
  .github/workflows/full-build.yml
  gaphor/SysML/blocks/tests/test_connectors.py
  gaphor/UML/actions/pinconnect.py
  gaphor/UML/actions/tests/test_flowconnect.py
  gaphor/UML/actions/tests/test_pinconnect.py
  gaphor/UML/classes/tests/test_associationconnect.py
  gaphor/UML/classes/tests/test_dependencyconnect.py
  gaphor/UML/interactions/interactionsconnect.py
  gaphor/UML/interactions/tests/test_executionspecification.py
  gaphor/UML/interactions/tests/test_messageconnect.py
  gaphor/UML/states/tests/test_transition_connect.py
  gaphor/conftest.py
  gaphor/diagram/connectors.py
  gaphor/diagram/general/tests/test_comment.py
  gaphor/services/properties.py
  gaphor/services/tests/test_properties.py
  tests/conftest.py
  tests/test_remove_unused_elements.py
Labels: fix

#3180 Fix greeter label for recent files
  gaphor/ui/greeter.py
  gaphor/ui/greeter.ui
Labels: fix

#3174 Some fixes for the editors change
  gaphor/UML/profiles/stereotypepropertypages.py
  gaphor/diagram/tools/dnd.py
  gaphor/diagram/tools/placement.py
Labels: skip-changelog

#3165 Update plugin documentation
  docs/plugins.md
  docs/service_oriented.md
Labels: documentation

#3183 Fix greeter row style
  gaphor/ui/greeter.ui
  gaphor/ui/styling.css
Labels: fix

#3185 Update translation for docs.gaphor.org
  docs/locale/pt_BR/LC_MESSAGES/docs.po
Labels: translation

#3188 Update translation for docs.gaphor.org
  docs/locale/pt_BR/LC_MESSAGES/docs.po
Labels: translation

#3190 Update translations for Gaphor
  po/pt_BR.po
Labels: translation

#3184 Mainwindow in .ui file
  _packaging/gaphor.spec
  gaphor/ui/elementeditor.py
  gaphor/ui/elementeditor.ui
  gaphor/ui/help/shortcuts.ui
  gaphor/ui/layout.py
  gaphor/ui/layout.xml
  gaphor/ui/mainwindow.py
  gaphor/ui/mainwindow.ui
  gaphor/ui/uipreview.py
Labels: chore

#3193 Update translation for docs.gaphor.org
  docs/locale/pt_BR/LC_MESSAGES/docs.po
Labels: translation

#3192 Show right popover menu after profile change
  gaphor/ui/modelbrowser.py
Labels: fix

#3195 Mark pt_BR, zh_Hans, and tr as mature translations
  po/build-babel.py
Labels: translation

#3197 Update translations for Gaphor
  po/fi.po
  po/pt_BR.po
  po/tr.po
Labels: translation

#3196 Update translation for docs.gaphor.org
  docs/locale/pt_BR/LC_MESSAGES/docs.po
Labels: translation

#3198 Fix title style for Property Editor
  gaphor/ui/mainwindow.py
  gaphor/ui/styling.css
Labels: python, skip-changelog

#3204 Make self-test a command, instead of an option
  .github/workflows/full-build.yml
  gaphor/main.py
  gaphor/tests/test_main.py
  gaphor/ui/__init__.py
  gaphor/ui/tests/test_selftest.py
  org.gaphor.Gaphor.json
  pyproject.toml
Labels: chore

#3186 Adwaita window
  gaphor/storage/mergeconflict.py
  gaphor/ui/__init__.py
  gaphor/ui/elementeditor.ui
  gaphor/ui/macosshim.py
  gaphor/ui/mainwindow.py
  gaphor/ui/mainwindow.ui
  gaphor/ui/styling.css
Labels: feature

#3160 Update Gvsbuild to version 2024.3.0
  .github/workflows/full-build.yml
Labels: skip-changelog

#3136 Use TypedElement.type for Lifeline and other types
  gaphor/SysML/blocks/property.py
  gaphor/UML/actions/activity.py
  gaphor/UML/classes/klass.py
  gaphor/UML/interactions/lifeline.py
  gaphor/UML/interactions/message.py
  gaphor/UML/umlfmt.py
Labels: fix

#3205 Do not perform diagram updates outside of a transaction
  .github/workflows/hypothesis-test.yml
  gaphor/SysML/blocks/tests/test_proxy_port.py
  gaphor/UML/actions/partitionpage.py
  gaphor/UML/actions/tests/test_flow.py
  gaphor/UML/actions/tests/test_forknode.py
  gaphor/UML/classes/association.py
  gaphor/UML/classes/tests/test_association.py
  gaphor/UML/classes/tests/test_class.py
  gaphor/UML/classes/tests/test_interfaceconnect.py
  gaphor/UML/deployments/tests/test_connect.py
  gaphor/UML/interactions/interaction.py
  gaphor/UML/interactions/tests/test_executionspecification.py
  gaphor/UML/interactions/tests/test_message.py
  gaphor/UML/usecases/tests/test_actor.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/presentation.py
  gaphor/diagram/copypaste.py
  gaphor/diagram/export.py
  gaphor/diagram/presentation.py
  gaphor/diagram/propertypages.py
  gaphor/diagram/tests/test_presentation.py
  gaphor/diagram/tools/itemtool.py
  gaphor/diagram/tools/magnet.py
  gaphor/diagram/tools/placement.py
  gaphor/plugins/align/align.py
  gaphor/plugins/autolayout/pydot.py
  gaphor/storage/tests/test_storage.py
  gaphor/ui/selftest.py
  tests/test_auto_layouting.py
  tests/test_model_consistency.py
  tests/test_undo.py
Labels: fix

#3126 Drop a ConnectableElement on a Lifeline
  gaphor/UML/interactions/__init__.py
  gaphor/UML/interactions/drop.py
  gaphor/UML/interactions/tests/test_drop.py
  gaphor/diagram/drop.py
Labels: feature

#3207 Fix initial display of items without relations
  gaphor/ui/diagrampage.py
Labels: python, skip-changelog

#3208 Retry self-test test case on macOS
  gaphor/ui/tests/test_selftest.py
Labels: python, skip-changelog

#3210 More docs and fixes for update
  docs/models/core_element.rst
  gaphor/core/modeling/diagram.py
  gaphor/diagram/export.py
  gaphor/plugins/align/align.py
  gaphor/plugins/autolayout/pydot.py
  gaphor/ui/diagrampage.py
Labels: python, skip-changelog

#3211 Update translations for Gaphor
  po/es.po
Labels: translation

#3206 Show element details
  gaphor/UML/uml.py
  gaphor/core/modeling/__init__.py
  gaphor/diagram/propertypages.py
  gaphor/diagram/propertypages.ui
  gaphor/diagram/tests/test_propertypages.py
  gaphor/ui/styling.css
  models/UML.override
Labels: feature

#3217 More fixes for broken updates
  gaphor/UML/actions/partitionpage.py
  gaphor/UML/classes/classespropertypages.py
  gaphor/UML/classes/enumerationpropertypages.py
  gaphor/UML/sanitizerservice.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/event.py
  gaphor/core/modeling/presentation.py
  gaphor/diagram/propertypages.py
  gaphor/services/undomanager.py
  gaphor/ui/diagrampage.py
  gaphor/ui/diagrams.py
Labels: python

#3219 Boyscouting
  gaphor/UML/profiles/stereotypepropertypages.py
  models/UML.gaphor
Labels: python, skip-changelog

#3220 Update translations for Gaphor
  po/fi.po
Labels: translation

#3216 Redo core model docs
  docs/conf.py
  docs/framework.md
  docs/models/core.md
  docs/models/core.rst
  docs/models/core_changeset.md
  gaphor/core/modeling/coremodel.py
  models/Core.gaphor
  pyproject.toml
Labels: python, documentation

#3223 Update translation for docs.gaphor.org
  docs/locale/tr/LC_MESSAGES/docs.po
Labels: translation

#3221 Replace Pygit2 by Dulwich
  gaphor/extensions/tests/test_sphinx.py
  gaphor/storage/mergeconflict.py
  gaphor/storage/tests/fixtures.py
  gaphor/storage/tests/test_mergeconflict.py
  gaphor/ui/selftest.py
  gaphor/ui/tests/test_filemanager.py
  poetry.lock
  pyproject.toml
  tests/run_with_merge_conflict.py
Labels: chore

#3222 Linting: limit private member access
  _packaging/pydot_patch.py
  gaphor/SysML/propertypages.py
  gaphor/SysML/relationships.py
  gaphor/SysML/tests/test_propertypages.py
  gaphor/UML/actions/activitynodes.py
  gaphor/UML/classes/association.py
  gaphor/UML/classes/associationpropertypages.py
  gaphor/UML/classes/dependency.py
  gaphor/UML/classes/interface.py
  gaphor/UML/classes/tests/test_associationpropertypages.py
  gaphor/UML/interactions/lifeline.py
  gaphor/UML/propertypages.py
  gaphor/core/modeling/elementfactory.py
  gaphor/core/modeling/properties.py
  gaphor/core/modeling/tests/test_elementdispatcher.py
  gaphor/core/modeling/tests/test_elementfactory.py
  gaphor/core/styling/tests/test_compiler.py
  gaphor/diagram/presentation.py
  gaphor/diagram/propertypages.py
  gaphor/diagram/shapes.py
  gaphor/diagram/tests/test_instanteditors.py
  gaphor/diagram/tools/tests/conftest.py
  gaphor/services/tests/test_undomanager.py
  gaphor/tests/test_transaction.py
  gaphor/transaction.py
  gaphor/ui/csscompletion.py
  gaphor/ui/diagrampage.py
  pyproject.toml
  tests/test_placement_tools.py
Labels: chore

#3225 Update translation for docs.gaphor.org
  docs/locale/tr/LC_MESSAGES/docs.po
Labels: translation

#3227 Only emit update-requested event on first request
  gaphor/core/modeling/diagram.py
Labels: python

#3212 Exception is now thrown when creating wrong diagram type in SysML
  gaphor/SysML/diagramtype.py
  gaphor/SysML/tests/test_diagramtype.py
  gaphor/ui/modelbrowser.py
Labels: python
