Repository gaphor/gaphor, pull requests merged in 2025-03, with the labels that each got.

#3728 Prepare for native window controls (macOS)
  gaphor/diagram/styleeditor.ui
  gaphor/plugins/console/consolewindow.py
  gaphor/plugins/errorreports/errorreports.ui
  gaphor/ui/greeter.ui
  gaphor/ui/styling.py
Labels: feature

#3771 Copy PNG and SVG to the clipboard
  gaphor/diagram/export.py
  gaphor/ui/clipboard.py
  gaphor/ui/tests/test_clipboard.py
Labels: feature

#3781 Update translation for docs.gaphor.org
  docs/locale/uk/LC_MESSAGES/docs.po
Labels: translation

#3785 Update translation for docs.gaphor.org
  docs/locale/uk/LC_MESSAGES/docs.po
Labels: translation

#3786 Update translations for Gaphor
  po/uk.po
Labels: translation

#3788 Update translation for docs.gaphor.org
  docs/locale/fr/LC_MESSAGES/docs.po
  docs/locale/uk/LC_MESSAGES/docs.po
Labels: translation

#3789 Update translations for Gaphor
  po/fr.po
  po/hu.po
Labels: translation

#3772 Async actions and event handlers
  gaphor/UML/general/imagepropertypage.py
  gaphor/UML/general/tests/test_imagepropertypage.py
  gaphor/action.py
  gaphor/application.py
  gaphor/asyncio.py
  gaphor/core/eventmanager.py
  gaphor/core/tests/test_eventmanager.py
  gaphor/plugins/diagramexport/export.py
  gaphor/tests/test_action.py
  gaphor/tests/test_application.py
  gaphor/ui/appfilemanager.py
  gaphor/ui/errordialog.py
  gaphor/ui/filemanager.py
  tests/test_session_recovery.py
  tests/test_undo.py
Labels: feature

#3793 Fix DnD of action from Activity to Partition (swimlane)
  gaphor/UML/actions/action.py
  gaphor/UML/actions/activity.py
  gaphor/UML/actions/drop.py
  gaphor/UML/actions/tests/test_drop.py
Labels: fix

#3780 Improve text undo
  gaphor/C4Model/propertypages.py
  gaphor/C4Model/propertypages.ui
  gaphor/SysML/propertypages.py
  gaphor/UML/actions/actionseditors.py
  gaphor/UML/actions/actionspropertypages.py
  gaphor/UML/actions/activitypropertypage.py
  gaphor/UML/actions/partitionpage.py
  gaphor/UML/classes/associationpropertypages.py
  gaphor/UML/classes/classeseditors.py
  gaphor/UML/general/commenteditor.py
  gaphor/UML/states/propertypages.py
  gaphor/diagram/general/generalpropertypages.py
  gaphor/diagram/instanteditors.py
  gaphor/diagram/propertypages.py
  gaphor/event.py
  gaphor/services/tests/test_undomanager.py
  gaphor/services/undomanager.py
  gaphor/ui/mainwindow.py
Labels: feature

#3798 Upgrade to Gaphas 5
  gaphor/UML/actions/tests/test_actionseditors.py
  gaphor/UML/classes/tests/test_classeseditors.py
  gaphor/UML/general/tests/test_generaleditors.py
  gaphor/conftest.py
  gaphor/diagram/tests/test_instanteditors.py
  gaphor/diagram/tools/tests/test_dropzone.py
  gaphor/ui/modelmerge/editor.py
  gaphor/ui/tests/test_diagrampage.py
  gaphor/ui/tests/test_handletool.py
  gaphor/ui/tests/test_mainwindow.py
  poetry.lock
  pyproject.toml
  tests/test_comment_line_placement.py
  tests/test_placement_tools.py
Labels: python

#3800 Fix clipboard
  gaphor/ui/clipboard.py
Labels: python

#3770 Update Windows development instructions
  docs/windows.md
Labels: documentation

#3768 Add a small teaser text for Gaphor
  gaphor/ui/elementeditor.py
  gaphor/ui/elementeditor.ui
  gaphor/ui/styling.css
Labels: feature, python

#3811 Rename new-model action to new-window
  gaphor/ui/greeter.py
  gaphor/ui/mainwindow.py
Labels: python

#3810 Present existing window on activation
  gaphor/ui/__init__.py
Labels: python

#3696 macOS menubar
  gaphor/UML/profiles/stereotypepropertypages.py
  gaphor/UML/propertypages.py
  gaphor/diagram/event.py
  gaphor/diagram/group.py
  gaphor/diagram/tools/textedit.py
  gaphor/plugins/autolayout/pydot.py
  gaphor/plugins/diagramexport/export.py
  gaphor/services/undomanager.py
  gaphor/ui/__init__.py
  gaphor/ui/actiongroup.py
  gaphor/ui/clipboard.py
  gaphor/ui/diagrampage.py
  gaphor/ui/diagrampage.ui
  gaphor/ui/diagrams.py
  gaphor/ui/diagramview.py
  gaphor/ui/event.py
  gaphor/ui/mainwindow.py
  gaphor/ui/mainwindow.ui
  gaphor/ui/menubar.ui
  gaphor/ui/modelbrowser.py
  gaphor/ui/tests/test_actiongroup.py
  gaphor/ui/tests/test_undoactions.py
  gaphor/ui/undoactions.py
  pyproject.toml
Labels: feature, python

#3807 3806 - forced upper limits that are strings to take value '*'
  gaphor/storage/storage.py
Labels: python
