Repository gaphor/gaphor, pull requests merged in 2025-01, with the labels that each got.

#3701 Fix translation rebase failed
  docs/locale/ta/LC_MESSAGES/docs.po
Labels: skip-changelog, translation

#3702 Fix translation merge conflict again
  docs/locale/ta/LC_MESSAGES/docs.po
Labels: skip-changelog, translation

#3700 Update translation for docs.gaphor.org
  docs/locale/ta/LC_MESSAGES/docs.po
Labels: translation

#3703 Update translation for docs.gaphor.org
  docs/locale/ta/LC_MESSAGES/docs.po
Labels: translation

#3694 Update pre-commit hooks
  .pre-commit-config.yaml
  gaphor/core/modeling/collection.py
  gaphor/core/styling/__init__.py
  gaphor/storage/recovery.py
  poetry.lock
Labels: python, skip-changelog

#3705 Fix translation rebase
  po/ta.po
Labels: skip-changelog, translation

#3707 Update translations for Gaphor
  po/hr.po
Labels: translation

#3708 Update diagram frame styling
  gaphor/C4Model/iconname.py
  gaphor/diagram.css
Labels: fix

#3710 Update translations for Gaphor
  po/hu.po
Labels: translation

#3709 Update Poetry to version 2.0.0
  .github/actions/install/action.yml
  .github/constraints.txt
  .github/workflows/full-build.yml
  .readthedocs.yaml
  _packaging/gaphor.spec
  org.gaphor.Gaphor.json
  poetry.lock
  pyproject.toml
Labels: chore

#3712 Update translations for Gaphor
  po/pt_BR.po
Labels: translation

#3715 Update translations for Gaphor
  po/fr.po
Labels: translation

#3716 Update translation for docs.gaphor.org
  docs/locale/fr/LC_MESSAGES/docs.po
  docs/locale/hr/LC_MESSAGES/docs.po
Labels: translation

#3721 Update translations for Gaphor
  po/pl.po
Labels: translation

#3713 Poetry and Ruff Update
  .github/actions/install/action.yml
  .github/constraints.txt
  .pre-commit-config.yaml
  gaphor/SysML/tests/test_drop.py
  gaphor/UML/actions/objectnode.py
  gaphor/UML/propertypages.py
  gaphor/UML/recipes.py
  gaphor/UML/tests/test_uml2.py
  gaphor/codegen/coder.py
  gaphor/core/modeling/base.py
  gaphor/core/modeling/elementdispatcher.py
  gaphor/core/modeling/properties.py
  gaphor/core/styling/selectors.py
  gaphor/diagram/general/metadata.py
  gaphor/diagram/propertypages.py
  gaphor/event.py
  gaphor/plugins/diagramexport/export.py
  gaphor/services/undomanager.py
  gaphor/tests/test_application.py
  gaphor/tests/test_transaction.py
  tests/test_model_consistency.py
  tests/test_properties.py
Labels: python, skip-changelog

#3733 Initialize model specific diagram types
  gaphor/UML/general/diagramitem.py
Labels: python, skip-changelog

#3730 Prepare version 3.0.0 release
  CHANGELOG.md
  gaphor/ui/help/about.ui
Labels: skip-changelog, documentation

#3734 Fix variable expansion during notarization
  .github/actions/macos_dmg/action.yml
  .github/workflows/full-build.yml
Labels: skip-changelog

#3738 Update translations for Gaphor
  po/fi.po
Labels: translation

#3744 Fix diagram item initialization for SysML and RAAML diagram types
  gaphor/RAAML/diagramitem.py
  gaphor/RAAML/modelinglanguage.py
  gaphor/SysML/diagramitem.py
  gaphor/SysML/modelinglanguage.py
Labels: bug
