Repository gaphor/gaphor, pull requests merged in 2025-09, with the labels that each got.

#4010 Fix PyGObject API docs location
  docs/conf.py
Labels: skip-changelog

#4020 Code improvements and cleanup
  _packaging/gtk4.rb
  gaphor/core/modeling/diagram.py
  gaphor/ui/filemanager.py
  gaphor/ui/mainwindow.py
Labels: python, packaging

#4022 Fix macOS builds
  .github/actions/install/action.yml
  .github/workflows/full-build.yml
  _packaging/gaphor.spec
  gaphor/application.py
  gaphor/ui/selftest.py
  scripts/build_babel.py
  scripts/check_babel.py
Labels: chore, python, packaging
