Repository gaphor/gaphor, pull requests merged in 2025-04, with the labels that each got.

#3809 Show/hide tips with a smooth cross fade and styling fixes
  gaphor/ui/elementeditor.py
  gaphor/ui/elementeditor.ui
  gaphor/ui/styling-macos.css
  gaphor/ui/styling-windows.css
  gaphor/ui/styling.css
Labels: python

#3816 Add project metadata to this repo
  .github/scripts/appdata-release.py
  .github/workflows/full-build.yml
  RELEASE_CHECKLIST.md
  data/org.gaphor.Gaphor.appdata.xml
  data/org.gaphor.Gaphor.desktop
  data/org.gaphor.Gaphor.xml
  data/update-appdata.py
  pyproject.toml
Labels: documentation

#3822 Fix Ctrl+q: retrieve shortcuts from Application class
  gaphor/ui/__init__.py
  gaphor/ui/actiongroup.py
Labels: fix

#3794 Highlight drop zone during DnD operation
  gaphor/SysML/drop.py
  gaphor/UML/compartments.py
  gaphor/UML/drop.py
  gaphor/UML/tests/test_drop.py
  gaphor/diagram.css
  gaphor/diagram/drop.py
  gaphor/diagram/group.py
  gaphor/diagram/tools/dnd.py
  gaphor/diagram/tools/placement.py
Labels: feature

#3820 Add "greeter" command-line option
  data/org.gaphor.Gaphor.desktop
  gaphor/main.py
  gaphor/ui/__init__.py
Labels: feature

#3826 Fix nestedPackage error when exporting all diagrams to PDF
  gaphor/plugins/diagramexport/exportall.py
Labels: fix

#3839 Add D-Bus service file
  data/org.gaphor.Gaphor.desktop
  data/org.gaphor.Gaphor.service
Labels: feature

#3834 Enable alignment menu only if enough items are selected
  gaphor/event.py
  gaphor/transaction.py
  gaphor/ui/diagrampage.py
  gaphor/ui/diagrampage.ui
  gaphor/ui/mainwindow.py
Labels: fix

#3824 Update translation for docs.gaphor.org
  docs/locale/fr/LC_MESSAGES/docs.po
  docs/locale/ta/LC_MESSAGES/docs.po
Labels: translation

#3841 Enable Tamil, Ukrainian, and Hindi translations
  gaphor/ui/help/about.ui
  po/build-babel.py
Labels: translation

#3842 Fix creating main window
  gaphor/ui/mainwindow.py
Labels: python

#3845 Update Gaphas
  gaphor/ui/mainwindow.py
  poetry.lock
Labels: python

#3843 Update translations for Gaphor
  po/ta.po
  po/vi.po
Labels: translation

#3848 Update translations for Gaphor
  po/ru.po
Labels: translation

#3844 Fix empty values in older (pre-3.0) models
  gaphor/UML/umlfmt.py
  gaphor/storage/parser.py
  gaphor/storage/storage.py
  gaphor/storage/tests/test_storage_upgrades.py
  gaphor/storage/xmlwriter.py
  gaphor/ui/statuswindow.py
Labels: python

#3846 Use view switcher in element editor
  gaphor/diagram/propertypages.py
  gaphor/diagram/styleeditor.py
  gaphor/ui/elementeditor.ui
  gaphor/ui/mainwindow.ui
  gaphor/ui/modelmerge/editor.py
  gaphor/ui/styling.css
Labels: feature

#3852 Add fallback in case of empty lower or upper values
  gaphor/storage/storage.py
  gaphor/storage/tests/test_storage_upgrades.py
Labels: fix

#3853 Update translations for Gaphor
  po/ru.po
Labels: translation

#3860 Update translations for Gaphor
  po/hu.po
  po/ru.po
  po/uk.po
Labels: translation

#3855 Styling tweaks
  gaphor/ui/diagramview.py
  gaphor/ui/elementeditor.ui
  gaphor/ui/styling-macos.css
Labels: chore
