Repository gaphor/gaphor, pull requests merged in 2025-06, with the labels that each got.

#3921 Update translations for Gaphor
  po/zh_Hans.po
Labels: translation

#3920 Message name align
  gaphor/UML/interactions/interactionsconnect.py
  gaphor/UML/interactions/message.py
  gaphor/UML/umllex.py
  gaphor/UML/umloverrides.py
  gaphor/diagram/connectors.py
  gaphor/diagram/presentation.py
  gaphor/diagram/shapes.py
  gaphor/diagram/tests/fixtures.py
  gaphor/diagram/tests/test_text.py
  gaphor/diagram/text.py
Labels: fix

#3933 Fix mypy errors
  .github/workflows/full-build.yml
  .pre-commit-config.yaml
  gaphor/SysML/relationships.py
  gaphor/diagram/presentation.py
  gaphor/extensions/sphinx.py
  gaphor/storage/load.py
  gaphor/ui/__init__.py
  poetry.lock
Labels: python, skip-changelog
