Repository gaphor/gaphor, pull requests merged in 2025-05, with the labels that each got.

#3865 Fix build flakiness with Read the Docs
  .github/actions/install/action.yml
  .github/dependabot.yml
  .github/github-requirements.txt
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/full-build.yml
  .github/workflows/gvsbuild-updater.yml
  .readthedocs.yaml
  org.gaphor.Gaphor.json
  poetry.lock
  pyproject.toml
Labels: chore

#3868 Update translations for Gaphor
  po/ta.po
Labels: translation

#3871 Add Troubleshooting Docs page and cover Windows invisible UI workaround
  docs/images/invisible-ui-example1.png
  docs/images/invisible-ui-example2.png
  docs/index.rst
  docs/troubleshooting.md
Labels: documentation

#3854 Storage: split load and save in separate modules
  gaphor/codegen/coder.py
  gaphor/conftest.py
  gaphor/extensions/sphinx.py
  gaphor/plugins/diagramexport/exportcli.py
  gaphor/storage/__init__.py
  gaphor/storage/load.py
  gaphor/storage/save.py
  gaphor/storage/storage.py
  gaphor/storage/tests/test_loading.py
  gaphor/storage/tests/test_storage.py
  gaphor/storage/tests/test_storage_message_item_upgrade.py
  gaphor/storage/tests/test_storage_uml_2_5_upgrade.py
  gaphor/storage/tests/test_storage_upgrades.py
  gaphor/ui/filemanager.py
  tests/test_action_issue.py
  tests/test_load_model.py
  tests/test_model_consistency.py
  tests/test_package_removal.py
Labels: chore, python

#3797 Update PyGObject
  .devcontainer/Dockerfile
  .github/actions/macos_dmg/action.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/full-build.yml
  .readthedocs.yaml
  docs/linux.md
  docs/locale/cs/LC_MESSAGES/docs.po
  docs/locale/de/LC_MESSAGES/docs.po
  docs/locale/docs.pot
  docs/locale/es/LC_MESSAGES/docs.po
  docs/locale/fr/LC_MESSAGES/docs.po
  docs/locale/hr/LC_MESSAGES/docs.po
  docs/locale/hu/LC_MESSAGES/docs.po
  docs/locale/it/LC_MESSAGES/docs.po
  docs/locale/nl/LC_MESSAGES/docs.po
  docs/locale/pt_BR/LC_MESSAGES/docs.po
  docs/locale/ta/LC_MESSAGES/docs.po
  docs/locale/tr/LC_MESSAGES/docs.po
  docs/locale/uk/LC_MESSAGES/docs.po
  docs/sphinx.rst
  docs/windows.md
  gaphor/windowsshim.py
  poetry.lock
  pyproject.toml
Labels: chore

#3878 Resolve warnings of Logger library
  gaphor/core/modeling/diagram.py
  gaphor/entrypoint.py
Labels: chore

#3877 Update translations for Gaphor
  po/ta.po
Labels: translation

#3886 Update translations for Gaphor
  po/fr.po
Labels: translation

#3887 Fix file name for exported files
  gaphor/plugins/diagramexport/export.py
Labels: fix

#3888 Relation between CallBehaviorAction and Behavior should not be composite
  gaphor/UML/uml.py
  models/UML.gaphor
Labels: fix

#3867 Update translation for docs.gaphor.org
  docs/locale/ta/LC_MESSAGES/docs.po
Labels: translation

#3894 Fix syntax error with version check
  .github/workflows/full-build.yml
Labels: skip-changelog

#3895 Update translation for docs.gaphor.org
  docs/locale/ta/LC_MESSAGES/docs.po
Labels: translation

#3899 Update translation for docs.gaphor.org
  docs/locale/uk/LC_MESSAGES/docs.po
Labels: translation

#3902 Windows: Set English as the default installer language
  _packaging/windows/win_installer.nsi
Labels: packaging

#3904 Update translations for Gaphor
  po/zh_Hans.po
Labels: translation

#3908 Update translations for Gaphor
  po/fi.po
Labels: translation
