Repository gaphor/gaphor, pull requests merged in 2025-07, with the labels that each got.

#3950 Fix build error on macOS
  .github/workflows/full-build.yml
Labels: python, skip-changelog

#3932 Update translations for Gaphor
  po/fr.po
  po/zh_Hans.po
Labels: translation

#3923 Use media features during style sheet compilation
  gaphor/UML/actions/tests/test_flow.py
  gaphor/UML/classes/tests/test_class.py
  gaphor/UML/classes/tests/test_interfaceconnect.py
  gaphor/UML/interactions/tests/test_executionspecification.py
  gaphor/UML/painter.py
  gaphor/UML/sanitizerservice.py
  gaphor/conftest.py
  gaphor/core/modeling/base.py
  gaphor/core/modeling/diagram.py
  gaphor/core/modeling/elementfactory.py
  gaphor/core/modeling/stylesheet.py
  gaphor/core/modeling/tests/test_diagram.py
  gaphor/core/modeling/tests/test_elementfactory.py
  gaphor/core/styling/__init__.py
  gaphor/core/styling/compiler.py
  gaphor/core/styling/declarations.py
  gaphor/core/styling/pseudo.py
  gaphor/core/styling/tests/test_compiler.py
  gaphor/core/styling/tests/test_css.py
  gaphor/diagram/export.py
  gaphor/diagram/painter.py
  gaphor/diagram/shapes.py
  gaphor/diagram/styleeditor.py
  gaphor/diagram/tests/test_presentation.py
  gaphor/diagram/tests/test_shapes.py
  gaphor/diagram/tests/test_styling.py
  gaphor/ui/diagrampage.py
  gaphor/ui/diagrams.py
  gaphor/ui/diagramview.py
Labels: chore

#3955 Show CSS classes in style editor
  docs/style_sheets.md
  gaphor/ui/elementeditor.py
  gaphor/ui/tests/test_elementeditor.py
Labels: python, documentation

#3928 Update translation for docs.gaphor.org
  docs/locale/fr/LC_MESSAGES/docs.po
  docs/locale/zh_Hans/LC_MESSAGES/docs.po
Labels: translation

#3962 Link zh_CN to zh_Hans, so readthedocs can properly translate
  docs/locale/zh_CN
  docs/locale/zh_Hans/LC_MESSAGES/docs.po
  gaphor/SysML/diagramframe.py
Labels: python, translation

#3964 Revert unintended updat eon diagram frame
  gaphor/SysML/diagramframe.py
Labels: skip-changelog

#3958 Fix quit behavior for greeter
  gaphor/application.py
  gaphor/event.py
  gaphor/ui/filemanager.py
  gaphor/ui/mainwindow.py
  gaphor/ui/tests/test_lifecycle.py
  tests/test_session_recovery.py
Labels: fix

#3960 Enable the (New) Package menu item again
  gaphor/ui/modelbrowser.py
Labels: fix, python

#3961 Make search owner by type a bit more lenient
  gaphor/UML/actions/actionstoolbox.py
  gaphor/UML/recipes.py
  gaphor/diagram/group.py
Labels: fix

#3959 Update activity parameter node name and types in Model browser
  gaphor/UML/tests/test_umlfmt.py
  gaphor/UML/treemodel.py
  gaphor/UML/umlfmt.py
Labels: feature

#3966 Allow Rubberband selection in diagram frame
  gaphor/SysML/diagramframe.py
  gaphor/SysML/drop.py
  gaphor/UML/actions/drop.py
  gaphor/UML/interactions/drop.py
  gaphor/UML/states/drop.py
  gaphor/diagram/group.py
  gaphor/diagram/presentation.py
  gaphor/diagram/tests/test_group.py
  gaphor/diagram/tools/__init__.py
  gaphor/diagram/tools/itemtool.py
  gaphor/diagram/tools/placement.py
  gaphor/ui/diagrampage.py
  poetry.lock
Labels: fix

#3977 Remove Code Climate coverage upload
  .github/workflows/full-build.yml
  README.md
Labels: skip-changelog, documentation

#3978 Fix badge layout in readme
  .github/workflows/full-build.yml
  README.md
Labels: skip-changelog, documentation
