Repository gaphor/gaphor, pull requests merged in 2025-10, with the labels that each got.

#4039 Fix typo in PyInstalled spec macOS config
  _packaging/gaphor.spec
Labels: packaging

#4006 Use new official flatpak container image
  .github/workflows/full-build.yml
Labels: chore

#4027 Update translations for Gaphor
  po/be.po
Labels: translation

#4032 Fix reordering of class' attributes
  gaphor/UML/classes/tests/test_classespropertypages.py
  gaphor/core/modeling/collection.py
  gaphor/core/modeling/event.py
  gaphor/core/modeling/properties.py
  gaphor/core/modeling/tests/test_collection.py
Labels: fix, python

#4038 Update translation for docs.gaphor.org
  docs/locale/hr/LC_MESSAGES/docs.po
Labels: translation

#4043 Update mypy to 1.18.2
  .pre-commit-config.yaml
  gaphor/UML/umloverrides.py
Labels: python, skip-changelog
