Repository gaphor/gaphor, pull requests merged in 2025-02, with the labels that each got.

#3746 Fix exception when dragging with touch
  gaphor/ui/diagrampage.py
Labels: python

#3743 Update translations for Gaphor
  po/fi.po
  po/nl.po
Labels: translation

#3742 Fix typo in the alignment menu
  gaphor/ui/diagrampage.ui
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/gaphor.pot
  po/gl.po
  po/hi.po
  po/hr.po
  po/hu.po
  po/is.po
  po/it.po
  po/ja.po
  po/ko.po
  po/nb_NO.po
  po/nl.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sl.po
  po/sv.po
  po/ta.po
  po/te.po
  po/tr.po
  po/zh_Hans.po
Labels: python, skip-changelog, translation, documentation

#3758 Update translations for Gaphor
  po/fi.po
Labels: translation

#3761 Update translations for Gaphor
  po/nl.po
Labels: translation

#3766 Unlimited natural
  .pre-commit-config.yaml
  gaphor/C4Model/c4model.py
  gaphor/RAAML/raaml.py
  gaphor/SysML/sysml.py
  gaphor/UML/group.py
  gaphor/UML/recipes.py
  gaphor/UML/tests/test_group.py
  gaphor/UML/tests/test_umlfmt.py
  gaphor/UML/tests/test_umllex.py
  gaphor/UML/uml.py
  gaphor/UML/umllex.py
  gaphor/action.py
  gaphor/codegen/coder.py
  gaphor/codegen/tests/test_coder.py
  gaphor/core/changeset/apply.py
  gaphor/core/changeset/compare.py
  gaphor/core/changeset/tests/test_apply.py
  gaphor/core/changeset/tests/test_compare.py
  gaphor/core/modeling/__init__.py
  gaphor/core/modeling/base.py
  gaphor/core/modeling/collection.py
  gaphor/core/modeling/coremodel.py
  gaphor/core/modeling/presentation.py
  gaphor/core/modeling/properties.py
  gaphor/core/modeling/recipes.py
  gaphor/core/modeling/stylesheet.py
  gaphor/core/modeling/tests/test_elementdispatcher.py
  gaphor/core/modeling/tests/test_properties.py
  gaphor/core/styling/pseudo.py
  gaphor/storage/storage.py
  gaphor/ui/modelmerge/tests/test_modelmerge.py
  gaphor/ui/modelmerge/tests/test_organize.py
  models/UML.override
Labels: python, skip-changelog

#3767 Ellipsize long class names in association property editor
  gaphor/UML/classes/propertypages.ui
Labels: fix
